<%= render 'shared_guest/main_banner' %>
<div class="space">

</div>

<%= render('shared/gigs/carousel', title: "Jales Recientes", gigs: @recent_gigs, param_name: :recent_gigs) if @recent_gigs.present? %>

<%= render('shared/requests/carousel', title: "Pedidos Recientes", requests: @recent_requests, param_name: :recent_requests) if @recent_requests.present? %>


<%# render 'shared_guest/hire_experts' %>

<%= render 'shared_guest/find_experts' %>

<%= render 'shared_guest/talent' %>

<%= render 'shared_guest/ready_to_be_expert' %>
