<%= render 'shared/query/banner_search_form' if current_user.nil? %>
<div class="container  Get_Pro_Services">

  <div class="row">
    <div class="col-lg-8">
      <h3>Resultados de búsqueda "<%= params[:query] %>" en <%= params[:model_name] %>
      </h3>
    </div>
  </div>
<% if params[:model_name] == "requests" %>
  <%= render 'shared/query/request_search_list' %>
<% else %>
  <%= render 'shared/query/gig_search_list' %>
<% end %>
</div>

<%= render 'shared_guest/log/sessions' if current_user.nil? %>
