<div class="Overview">
  <h3>Voy a
    <%= @gig.name %></h3>
    <% if current_user && @gig.user_id == current_user.id  %>
    <div class="btn-group">
      <%= link_to status_text_helper(@gig), toggle_status_user_gig_path(current_user.slug,@gig), class: "btn btn-sm btn-outline-secondary" unless current_user.nil? || @gig.banned? || current_user.id != @gig.user_id || @gig.gig_first_pack[0].nil? %>
      <%= link_to "Editar", edit_user_gig_path(current_user.slug,@gig), class: "btn btn-sm btn-outline-secondary" if current_user.present? && @gig.user_id == current_user.id %>
      <%= link_to "Borrar", user_gig_path(current_user.slug,@gig), method: :delete, data: { confirm: '¿Estás seguro de querer borrar este trabajo?' }, class: "btn btn-sm btn-outline-secondary" if current_user.present? && @gig.user_id == current_user.id %>
    </div>
    <% end %>
  <div class="row col-lg-10 col-md-10 col-sm-10 col-10">
    <%= rating_for @gig.user, "Employer", readonly: true %>(<%= rating_for @gig.user, "Employer", number_only: true%>)
  </div>
  <div class="profile_management">
    <%=link_to image_tag(avatar_display_helper(@gig.user.image_url(:thumb)), class: "gig-thumb"), user_path(@gig.user.slug) %>
    <div class="user_name">
      <%=link_to content_tag(:h6, @gig.user.alias), user_path(@gig.user.slug) %>
    </div>
  </div>
  <hr>
</div>
