<div class="Overview">
  <div class="row gig_header_2">

      <div class="<%= (current_user && current_user.id == @gig.user_id)? 'col-lg-9 col-md-9 col-sm-8 col-7' : 'col-lg-12 col-md-12 col-sm-12 col-12' %>">
        <h3>Voy a
          <%= @gig.name %></h3>
      </div>
      <%= render "shared_user/gigs/show/gig_actions" if current_user && current_user.id == @gig.user_id %>
    </div>

    <div class="row col-lg-10 col-md-10 col-sm-10 col-10">
      <%= rating_for @gig.user, "Employer", readonly: true %>(<%= rating_for @gig.user, "Employer", number_only: true%>)
    </div>
    <div class="profile_management">
      <%=link_to image_tag(avatar_display_helper(@gig.user.image_url(:thumb)), class: "gig-thumb"), user_path(@gig.user.slug) %>
      <div class="user_name">
        <%=link_to content_tag(:h6, @gig.user.alias), user_path(@gig.user.slug) %>
      </div>
    </div>
    <hr>
  </div>
