<div class="description">
  <div class="wrapper">
    <div id="product__slider">
      <div class="product__slider-main">
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
      </div>
      <div class="product__slider-thmb">
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
        <div class="slide"><%= link_to image_tag( image_display_helper(@gig.image_url), class: "img-responsive" ), user_gig_path(@gig.user.slug,@gig) %></div>
      </div>
    </div>
  </div>
</div>
