<div class="media w-100">
  <div class="avatar mg-r-20"><%= image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "rounded-circle") %> </div>
  <div class="media-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="tx-inverse"><%= review.giver.alias %> <span><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i>
          <span class="tx-warning tx-16"> <%= review.gig_rating.stars.to_i %> </span></span></h5>
      <small><%= distance_of_time_in_words_to_now(review.created_at) %></small>
    </div>
    <p class="tx-left"><%= review.comment %></p>
  </div>
</div>
