<div class="media w-100 mb-1">
  <div class="avatar mg-r-20"><%= image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "rounded-circle") %> </div>
  <div class="media-body">
    <div class="d-flex align-items-center">
      <small class="tx-inverse"> <strong> <%= review.giver.alias %> <span><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i>
          <span class="tx-warning tx-13"> <%= review.gig_rating.stars.to_i %> </span></span> </strong> <span class="text-muted"> <%= distance_of_time_in_words_to_now(review.created_at) %> </span> </small>
    </div>
    <p class="tx-left"><%= review.comment %></p>
  </div>
</div>
