<div class="media w-100 mb-1" review-id="<%= review.id %>">
  <div class="avatar mg-r-20"><%= image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "rounded-circle") %> </div>
  <div class="media-body">
    <div class="d-flex align-items-center ht-20">
      <small class="tx-inverse">
        <strong> <%= review.giver.alias %> <span><i data-feather="star" class="feather-12 tx-warning filled tx-warning filled"></i>
          <span class="tx-warning tx-13" stars> <%= review.gig_rating.stars.to_i %> </span></span>
        </strong>
        <span class="text-muted"> <%= distance_of_time_in_words_to_now(review.created_at) %> </span>
      </small>
      <% if current_user == review.giver %>
      <span class="ml-auto" review-options>
        <a href="" class="link-01" id="moreMenuButton-<%= review.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i data-feather="more-vertical" class="feather-16"></i></a>
        <div class="dropdown-menu" aria-labelledby="moreMenuButton-<%= review.id %>">
          <%= link_to("Eliminar", review_path(review.id), method: :delete, remote: true,class: "dropdown-item", data: {confirm: "El elemento se eliminará"}) if current_user == review.giver %>
          <%= link_to "Editar", review_path(review.id), class: "dropdown-item", data: {toggle: "modal", target: "#editreviewModal"} if current_user == review.giver %>
          <%= link_to "Reportar", review_path(review.id), class: "dropdown-item report-review"  if current_user != review.giver %>
        </div>
      </span>
      <% end %>
    </div>
    <p class="tx-left" review-comment><%= review.comment %></p>
  </div>
</div>
