<% user = message.user if user.nil? %>
<%= link_to conversations_path(user_id: user.id), class: "dropdown-item", data: {message_min: ""} do %>
  <div class="media">
    <div class="avatar avatar-sm <%= "avatar-online" if user.online? %>"><%= image_tag(avatar_display_helper(user.image_url(:thumb)), class: "rounded-circle") %></div>
    <div class="media-body mg-l-15">
      <strong><%= user.alias %></strong>
      <p><%= message.body.truncate(50)%></p>
      <% if message.image? %>
        <p class="font-weight-bold"> Imagen <i data-feather="camera" class="feather-12 mg-b-1"></i>  </p>
      <% end %>
      <span><%= distance_of_time_in_words_to_now(message.created_at) %></span>
    </div><!-- media-body -->
  </div><!-- media -->
<% end %>
