<%= link_to conversations_path(user_id: message.user.id), class: "dropdown-item", data: {message_min: ""} do %>
  <div class="media">
    <div class="avatar avatar-sm avatar-online"><%= image_tag(avatar_display_helper(message.user.image_url(:thumb)), class: "rounded-circle") %></div>
    <div class="media-body mg-l-15">
      <strong><%= message.user.alias %></strong>
      <p><%= message.safe_body.truncate(50)%></p>
      <% if message.image? %>
        <p>Imagen</p>
      <% end %>
      <span><%= distance_of_time_in_words_to_now(message.created_at) %></span>
    </div><!-- media-body -->
  </div><!-- media -->
<% end %>
