<div class="<%= user == message.user ? 'chat-left-side-chat-write' : 'chat-right-side-chat-write' %>">
    <div class="single-<%= user == message.user ? '' : 'right-' %>chat-write">
        <%= image_tag(message.user.image_url(:thumb), class: "message-avatar") %>
        <div class="chat-<%= user == message.user ? '' : 'right-' %>write-text">
            <p><%= message.body %>
            <% if message.image? %>
              <%= link_to(image_tag(message.image_url, class: "message-img"), message.image_url ) %>
            </p>
            <% end %>
            <!-- <span>14:36</span> -->
        </div>
    </div>
</div>
