<tbody class="labels">
  <tr>
    <td> <%= ban.created_at %> </td>
    <td> <%= ban.reports.length %> </td>
    <td>
      <label for="ban<%= ban.id %>"><%= ban_name_helper(ban) %></label>
      <input type="checkbox" name="ban<%= ban.id %>" id="ban<%= ban.id %>" data-toggle="toggle">
    </td>
    <td>
      <% if ban.pending? %>
        <%= link_to icon("fas","check"),deny_ban_path(ban.id), method: :put, title: "Es legitimo", :data => {:confirm => 'Marcar como legitimo?'}, style: "float: right;" %>
        <%= link_to icon("fas","ban"),proceed_ban_path(ban.id), method: :put, title: "Bloquear", :data => {:confirm => 'Este recurso se bloqueara, estas seguro?'}, style: "float: right;" %>
      <% end %>
    </td>
  </tr>
</tbody>
<tbody class="hide">
  <%= render partial: 'admins/report', collection: ban.reports %>
</tbody>
