<tr>
  <td>Hace <%= distance_of_time_in_words_to_now(ban.created_at) %></td>
  <td> <%= link_to "#{reportable_type(ban.baneable)}: #{ban.baneable.name || "N/A"}", object_url(ban.baneable) %> </td>
  <td><%= ban.cause %></td>
  <td><%= ban.comment %></td>
  <td class="flex-wrap">
    <%= button_to unban_ban_path(ban.id), method: :put, remote: true,
     class: "btn btn-success",  :data => { :confirm => 'Confirmar desbloqueo del recurso', :disable_with => "<i class='fa fa-spinner fa-spin'></i>" } do %>
     <%= icon('fas', 'unlock', title: 'Recurso legítimo') %>
    <% end %>
  </td>
</tr>
