<tr>
  <td><%= link_to gig.name, user_gig_path(gig.user.slug, gig.slug)%></td>
  <td><%= link_to gig.user.alias,  user_path(gig.user.slug) %></td>
  <td><%= image_tag( image_display_helper(gig.images[0]), width: "80%", height: "30%" ) %></td>
  <td>Published <%= distance_of_time_in_words(gig.created_at, Time.now) %> ago</td>
  <td><%= gig.order_count %></td>
  <td><%= gig.status %></td>
  <td><%= status_icon_admin_helper(gig) %></td>
</tr>
