<tr>
  <td><%= marketing_notification.name %></td>
  <td><%= content_with_emoji(marketing_notification.content) %></td>
  <td><%= marketing_notification.url %></td>
  <td><%= marketing_notification.scheduled_at %></td>
  <td><%= marketing_notification.status %></td>
</tr>
