<tr>
  <td><%= order.uuid %></td>
  <td><%= order.total %></td>
  <td><%= order.employer.alias %></td>
  <td><%= order.employee.alias %></td>
  <td><%= (order.purchase.class == Package ? order.purchase.gig.title : order.purchase.request.title) rescue "Eliminado" %></td>
  <td><%= order.completed? ? distance_of_time_in_words(order.started_at, order.completed_at) : "--" rescue "sin fecha" %></td>
  <td><%= Conversation.between(order.employer.id, order.employee.id).exists? %></td>
  <td><%= order.status %></td>
  <% if order.completed? && order.payment_verification_pending? %>
  <td><%= link_to(icon("fas", "check", title: "Aceptar pago"), pass_payment_order_path(order.uuid), method: :put, data: { confirm: "Confirmar pago para la orden #{order.uuid} por la cantidad de $#{order.total}" }) %>
  <%= link_to(icon("fas", "ban", title: "Denegar pago"), deny_payment_order_path(order.uuid), method: :put, data: { confirm: "Denegar pago para la orden #{order.uuid} por la cantidad de $#{order.total}" }) %></td>
  <% elsif order.completed? && order.payment_verification_failed? %>
  <td><%= link_to(icon("fas", "check", title: "Aceptar pago"), pass_payment_order_path(order.uuid), method: :put, data: { confirm: "Este pago fue denegado anteriormente. Seguro que quieres confirmar el pago para la orden #{order.uuid} por la cantidad de $#{order.total}" })%> </td>
  <% end %>
</tr>
