<tr>
  <td>Hace <%= distance_of_time_in_words_to_now(report.created_at) %></td>
  <td> <%= link_to "#{reportable_type(report.reportable)}: #{report.reportable.name || "N/A"}", object_url(report.reportable) %> </td>
  <td><%= report.cause %></td>
  <td><%= report.comment %></td>
  <td class="flex-wrap">
    <%= button_to deny_report_path(report.id), method: :put, remote: true,
     class: "btn btn-success",  :data => { :confirm => 'Confirmar marcado de reporte como ilegítimo', :disable_with => "<i class='fa fa-spinner fa-spin'></i>" } do %>
     <%= icon('fas', 'check', title: 'Recurso legítimo') %>
     <% end %>
    <%= link_to "<button type='button' class='btn btn-danger'> #{icon('fas', 'ban', title: 'Bloquear recurso')}</button>".html_safe,
     create_ban_url(report.id), class: "createABan", data: { cause: report.cause }  %>
  </td>
</tr>
