<div class="wrapper">
  <%= render 'shared_admin/sidebar' %>

  <div id="content">

    <%= render 'shared_admin/sidebar_button' %>

    <div class="row">

      <%= render 'shared_admin/gigs_table' %>

      <%= render 'shared_admin/categories_table' %>

      <%= render 'shared_admin/users_table' %>

    </div>

  </div>

</div>
