<div>
  <p>cuenta predispersion</p>
  <div class="col-12">
    <p>saldo:
      <%= @balance %></p>
    <p>saldo 95% (recomendado retirar):
      <strong><%= @balance95 %></strong>
    </p>
  </div>
  <div class="col6">
    <%= button_to "Depositar fondos predispersion", predispersion_fee_admins_path, class: "btn btn-warning", :data => {:confirm => "Seguro que quieres retirar los fondos por la cantidad de #{@balance95}"} %>
  </div>
  <br>
  <div>
    <button id="create-openpay-user" class="btn btn-success">Nueva Cuenta Openpay</button>
  </div>
  <br>
  <div>
    <button id="charge-openpay-user" class="btn btn-dark">Realizar un cargo a cuenta de Openpay</button>
  </div>
</div>
<%= render 'admins/create_openpay_account' %>
<%= render 'admins/charge_openpay_account' %>
