<div class="modal-dialog-centered">
    <div class="modal-mobile">
      <div class="modal-body">
         <div class="sign-up">
             <div class="modal-logo">
                 <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png" alt="">
             </div>
             <div class="sign-up-form">
                 <div class="nueva">
                     <h3>Identifícate</h3>
                     <%= button_to user_facebook_omniauth_authorize_path(lat:"latitude", lon:"longitude"), form_class: 'facebook-login', :data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Entrando..." } do %>
                     <%= icon("fab", "facebook-square") + " Facebook" %>
                     <% end %>
                 </div>
                 <%= form_for(:user, :html => { :class => "sign_in_form" }, :url => session_path(:user)) do |f| %>
                   <div class="information">
                     <%= f.email_field :email, placeholder: "Correo", class: "required", value: "", autofocus: true, autocomplete: :off,onfocus: "getLocation();" %>
                     <%= f.password_field :password, placeholder: "Contraseña" , class: "required" %>
                   </div>
                   <% if (controller.controller_name == "sessions" && cookies.permanent.signed[:mb].present? ||controller.controller_name == "mobiles" ) %>
                    <%= f.check_box :remember_me, :checked => true, :style => 'display: none' %>
                   <% else %>
                    <%= f.check_box :remember_me, :checked => false %> Recordarme
                   <% end %>
                   <%= f.button 'Continuar', class: "default-btn signup-continue", :data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Entrando..." } %>
                  <p class="una"><%= link_to "Olvidé mi contraseña", new_password_path(:user) %></p>
                   <p class="una">¿No tienes cuenta?  <%= link_to "Regístrate",params[:controller] == "mobiles"? mobile_sign_up_path : new_user_registration_path %></p>
                 <% end %>
             </div>
         </div>
      </div>
    </div>
  </div>
