<div class="chat-content" data-conversation-id="<%= conversation.id %>">
  <div class="chat-content-header">
    <div class="d-flex justify-content-between align-items-center">
      <div class="avatar avatar-sm"><%= image_tag(avatar_display_helper(opposite_user.image_url(:thumb)), class: "rounded-circle") %></div>
      <h6 id="channelTitle" class="mg-l-10 mg-b-0"><%= opposite_user.alias %></h6>
    </div>
  </div>
  <!-- chat-content-header -->

  <div class="chat-content-body" content-scrolleable>
    <div class="chat-group" messages-list="<%= opposite_user.id %>">
      <%= paginate @messages %>
      <%= render 'conversations/conversation_content', messages: @messages.sort %>

    </div>
  </div>
  <!-- chat-content-body -->

  <%= form_for [@conversation, Message.new], remote: true do |f| %>
  <div class="chat-content-footer">
    <%= f.text_field :body, autofocus: true, size: 499, autocomplete: "off", placeholder: "Mensaje", class: "form-control align-self-center bd-0" %>
    <%= f.hidden_field :related_to_id, value: params[:model_id] %>
    <%= f.hidden_field :related_to_type, value: params[:model] %>
    <nav>
      <label title="Subir imagen" for="message_image">
        <%= f.file_field :image, accept: ".jpg, .jpeg, .png", class: "d-none" %>
        <i data-feather="image" no-msg-img></i>
        <img id="output" class="d-none mw-45px"></img>
      </label>
    </nav>
    <%= f.submit("Enviar", class: "d-none",:data => { :disable_with => "Enviando" }) %>
  </div>
  <!-- chat-content-footer -->
<% end %>
</div>
<!-- chat-content -->
