<div class="messages-box-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="messages-box-left-side">
          <div class="mensajes-chat">
            <%= link_to icon("fa", "arrow-left"), root_path %>
            <h2>Mensajes
              <span>5</span></h2>
          </div>
          <div class="conversación-input">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="Buscar conversación" id="filter-conversation">
          </div>
          <div id="contacts-list">
          <% @users.each do |user| %>
            <%= link_to conversations_path(user_id: user["user"].slug) do %>
            <div class="chat-box-man" id="<%= user["user"].alias %>">
              <div class="chat-single-box <%= "ef" if ! user["unread_messages"]  %>">
                <%= image_tag(avatar_display_helper(user["user"].image_url(:thumb))) %>
                <div class="single-box-text">
                  <h5><%= "#{user["user"].slug.first(15)}" %></h5>
                  <p>Activo hace
                    <%= user["user"].current_sign_in_at != nil ? distance_of_time_in_words_to_now(user["user"].current_sign_in_at) : "nunca" %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
    <div class="col-lg-8 nopadding" id="conversation-list">
      <div class="chat-right-side">
        <% if params[:user_id] && params[:user_id] != current_user.slug %>
          <%= render 'conversations/conversation', conversation: @conversation, opposite_user: opposite_conversation_user(@conversation, current_user) %>
        <% else %>
          <div id="empty_box">
            <div class="empty-state no-conversations text-center">
              <%= icon "fas","comments", class: "fa-5x" %>
              <h4>Nada que ver aquí</h4>
              <small>Abre una conversacion para mostrarla aquí</small>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
