<%= form_with(model: verification, url: verifications_path, :html => { :class=> "current_form" }, local: true) do |form| %>
<% if verification.errors.any? %>
  <%verification.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>

<!-- ---post verification form -->
<div class="container-fluid section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3 class="text-center">¡Verifica tu perfil y aumenta tus ventas!</h3>
        <h6 class="text-center"><a href="#">¿Para qué me sirve verificar mi perfil?</a></h6>
        <div class="form_box post_form_col">

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">CURP:</p>
            </div>
              <%= form.text_field :curp, class: 'form-control required', required: true %>
          </div>

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">IFE/INE (Vigente), Acta de Nacimiento o Pasaporte (Vigente):</p>
            </div>
              <%= form.file_field :identification, multiple: true, required: true, accept: ".png, .jpg, .jpeg, .pdf" %>

              <ul>
                <li>
                  <small class="attach-limit">EN caso de ser IFE/INE, se requiere una imagen por delante y una por detrás</small>
                </li>
                <li>
                  <small class="attach-limit">Tamaño máximo por archivo: 10MB</small>
                </li>
              </ul>
          </div>

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Comprobante de Domicilio:</p>
            </div>
              <%= form.file_field :address, required: true, accept: ".png, .jpg, .jpeg, .pdf" %>

              <ul>
                <li>
                  <small class="attach-limit">Tamaño máximo por archivo: 10MB</small>
                </li>
              </ul>
          </div>

          <!--  -->

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Carta de No Antecedentes Penales:</p>
            </div>
              <%= form.file_field :criminal_letter, required: true, accept: ".png, .jpg, .jpeg, .pdf" %>

              <ul>
                <li>
                  <small class="attach-limit">Tamaño máximo por archivo: 10MB</small>
                </li>
              </ul>
          </div>
        <!-- -->

        <div style="margin: 0 20px;">
          <div class="flex-space-bet">
            <%= link_to 'Cancelar', configuration_path(:collapse => "account"), :data => {:confirm => 'Tu progreso NO se guardará'}, class: "btn back-button" %>
            <%= form.button "Continuar", class: "btn continue-button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Enviando.."} %>
          </div>
        </div>

        <!--  -->
      </div>
      <!-- -->
    </div>
    <!-- col lg 7 -->
  </div>
</div>
<!-- container fluid -->

<% end %>
