<% gig_description = @gig.description.html_safe %>
<div class="innerpage-leftsidejata">
  <div class="verificos-title">
    <h3><%= @gig.title %></h3>
  </div>

  <div class="gig-images-container">
    <div class="owl-carousel gig-show-carousel">
      <% if @gig.images.count > 0 %>
        <% @gig.images.each do |image| %>
          <div class=''>
            <%= image_tag( image.url, class: 'img-responsive') %>
          </div>
        <% end %>
      <% else %>
        <div class="">
          <%= image_tag( "https://picsum.photos/600/400?image=#{Faker::Number.between(1, 500)}", class: 'img-responsive')%>
        </div>
        <div class="">
          <%= image_tag( "https://picsum.photos/600/400?image=#{Faker::Number.between(1, 500)}", class: 'img-responsive')%>
        </div>
      <% end %>
    </div>

    <div class="pacificobg-socialicon">
      <% if current_user != @gig.user %>
        <div class="hearted1" id="likes-<%= @gig.slug %>">
          <%= render "gigs/likes", gig: @gig %>
        </div>
        <%= link_to icon("fas", "share"), {}, id: "share" %>
        <% if user_signed_in? %>
          <%= icon("fas", "flag", class: "fa-lg gig_action_icon cursor_pointer", title: "Reportar", id: "reportgigbtn") %>
        <% end %>
      <% else %>
        <%= render "shared/gigs/show/gig_actions" %>
      <% end %>
    </div>
    <% if @gig.user.verified %>
      <div class="varificado-btn3">
        <a href="">VERIFICADO</a>
      </div>
    <% end %>

    <div class="arroweee">
      <a href="">
        <%= link_to icon("fas", "arrow-left"), 'javascript:history.go(-1);' %>
      </a>
    </div>
  </div>

  <div class="perfil-area">
    <div class="profileview1">
      <div class="profileview-total">
        <img src="assets/img/jaman.png" alt="">
        <span><%= @gig.user.alias %></span>
        <%= "#{icon("fas", "check-square", title: "Verificado")}".html_safe if @gig.user.verified %>
        <%= link_to "Ver perfil", user_path(@gig.user.slug) %>
      </div>
    </div>
  </div>

  <div class="sedcontent-wrap">
    <div class="sed-content">
      <h3><%= @gig.title %></h3>
      <p><%= gig_description %></p>
    </div>

  </div>

  <!-- for768 -->

  <div class="califico-about nulla">
    <p><%= gig_description %></p>
  </div>
</div>

<!-- for992 -->

<div class="califico-about">
  <p><%= gig_description %></p>
</div>
