<% gig_description = @gig.description %>
<div class="innerpage-leftsidejata">
  <div class="verificos-title">
    <h1><%= @gig.title %></h1>
    <small class="visit-count gig-visits-likes"><%= "#{@gig_hits} Vistas" %> ● <%= "#{@gig.likes.length} Me gusta" %></small>
    <div class="div-space-between">
      <p><%= @gig.location %></p>
      <div class="pacificobg-socialicon">
        <div class="arroweee">
          <a href="">
            <%= link_to icon("fas", "arrow-left"), 'javascript:history.go(-1);' %>
          </a>
        </div>
        <% if current_user != @gig.user %>
        <div class="other_gig_actions media-btns">
          <div class="hearted1 likes-<%= @gig.slug %>">
            <%= render "gigs/likes", gig: @gig %>
          </div>
          <%= link_to icon("fas", "share-alt", title: "Compartir"), {}, id: "share" %>
          <% if user_signed_in? %>
            <%= icon("fas", "flag", class: "fa-lg gig_action_icon cursor_pointer", title: "Reportar", id: "reportgigbtn") %>
          <% end %>
        </div>
        <% else %>
        <div class="gig_actions_desktop">
          <%= render "shared/gigs/show/gig_actions" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="gig-images-container">
    <div class="gig-show-carousel">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Youtube video -->
            <% if @gig.youtube_url.present? %>
            <div class='swiper-slide show-slide youtube_video'>
              <!-- Youtube iframe -->
              <%=  YouTubeRails.youtube_embed_url(@gig.youtube_url,"100%", "100%", ssl: true, disable_suggestion: true).html_safe %>
            </div>
            <% end %>
            <!-- Slides -->
            <% if @gig.images.count > 0 %>
              <% @gig.images.each do |image| %>
                <div class='swiper-slide show-slide image-slide'>
                  <%= image_tag( image.url, class: 'img-show', data: {lity: true}) %>
                </div>
              <% end %>
            <% else %>
              <div class="swiper-slide show-slide default-img">
                <%= image_tag( "https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/app_images/gig-no-image-2.png", class: 'img-show', data: {lity: true})%>
              </div>
            <% end %>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    <% if @gig.user.verified %>
      <div class="varificado-btn3">
        <a href="">VERIFICADO</a>
      </div>
    <% end %>

  </div>

  <div class="perfil-area">
    <div class="profileview1">
      <div class="profileview-total" style="display:flex;align-items:center;justify-content:space-between;padding: 0 10px;">
        <div class="user_info_row display-flex">
          <%=link_to image_tag(@gig.user.image_url(:thumb)), user_path(@gig.user.slug) %>
            <%= link_to user_path(@gig.user.slug), class: "user_name_tablet_phone truncate" do %>
            <p class="truncate"><%= @gig.user.alias %></p>
            <% end %>
          <%= "#{icon("fas", "check-square", title: "Verificado")}".html_safe if @gig.user.verified %>
        </div>
        <%=link_to( "#{icon("fas", "comment-alt", title: "Mensaje")} Mensaje".html_safe, conversations_path( user_id: @gig.user.slug, model_id: @gig.id, model: "Gig"), style: "font-weight: 700;" ) if current_user != @gig.user%>

      </div>
    </div>
  </div>

  <div class="sedcontent-wrap">
    <div class="sed-content">
      <div class="div-space-between">
        <h5><%= @gig.location %></h5>
      </div>
      <h2><%= @gig.title %></h2>
      <small class="visit-count gig-visits-likes"><%= "#{@gig_hits} Vistas" %> ● <%= "#{@gig.likes.length} Me gusta" %></small>
      <br>
      <pre> <p><%= gig_description %></p> </pre>
      <br>
    </div>

  </div>

  <!-- for768 -->

  <div class="califico-about nulla">
    <pre><p><%= gig_description %></p></pre>
  </div>
</div>

<!-- for992 -->

<div class="califico-about">
<pre><p><%= gig_description %></p></pre>
</div>
