<div class="innerpage-leftside">
  <div class="innerpage-leftsidejata">
    <div class="verificos-title">
      <h3><%= @gig.title %></h3>
    </div>

    <div class="gig-images-container">
      <div class="owl-carousel gig-show-carousel">
        <% if @gig.images.count > 0 %>
          <% @gig.images.each do |image| %>
            <div class=''>
              <%= link_to( image_tag( image.url, class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
            </div>
          <% end %>
        <% else %>
          <div class="">
            <%= link_to( image_tag( "https://picsum.photos/600/400?image=#{Faker::Number.between(1, 500)}", class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
          </div>
          <div class="">
            <%= link_to( image_tag( "https://picsum.photos/600/400?image=#{Faker::Number.between(1, 500)}", class: 'img-responsive'), user_gig_path(@gig.user.slug,@gig) ) %>
          </div>
        <% end %>
      </div>

      <div class="pacificobg-socialicon">
        <%= icon("fas", "heart") %>
        <%= icon("fas", "share") %>
        <%= icon("fas", "flag") %>
      </div>
      <% if @gig.user.verified %>
        <div class="varificado-btn3">
          <a href="">VERIFICADO</a>
        </div>
      <% end %>

      <div class="arroweee">
        <a href="">
          <i class="fa fa-arrow-left"></i>
        </a>
      </div>
    </div>

    <div class="perfil-area">
      <div class="profileview1">
        <div class="profileview-total">
          <img src="assets/img/jaman.png" alt="">
          <span><%= @gig.user.alias %></span>
          <%= (@gig.user.verified)? "#{icon("fas", "check-square", title: "Verificado")}".html_safe: nil %>
          <%= link_to "Ver perfil", user_path(@gig.user.slug) %>
        </div>
      </div>
    </div>

    <div class="sedcontent-wrap">
      <div class="sed-content">
        <h3><%= @gig.title %></h3>
        <p><%= @gig.description %></p>
      </div>

      <div class="loadingggaro">

        <ul id="myList">
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
          <li>Lorem ipsum dolor sit amet, consectetur sit.</li>
        </ul>
        <div id="loadMore">Ver más
          <i class="fa fa-angle-down"></i>
        </div>

      </div>

    </div>

    <!-- for320 -->

    <!-- for768 -->

    <div class="califico-about nulla">
      <p>Descripción. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <div class="vewmorebtns11">
        <a href="">Ver más
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- for768 -->

  <div class="califico-about">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
      pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
      Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
      varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
      neque sed ipsum. N</p>
  </div>

  <div class="innerpage3-rightsidetabs tab-two">
    <%= render 'shared/gigs/show/package_label', number: 1 %>

    <div class="tab-content" id="myTabContent">
      <%= render @gig.gig_packages, number: 1 %>
    </div>
  </div>

  <div class="servico-wrap">
    <div class="servico-title">
      <h3>Caliﬁcaciones
        <span>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </span>

      </h3>
      <div class="doopli">
        <button>
          <a class="digit2" href="#">
            <i class="fa fa-angle-down"></i>
          </a>
        </button>

      </div>
    </div>
    <div class="servicoteam-wrap">
      <div class="servico-singleteam">
        <div class="servico-authoristd">
          <img src="assets/img/servicos5.png" alt="">
        </div>
        <div class="authoristed-contents1">
          <p class="loyed1">Leonetta Lloyd
            <i class="fa fa-star"></i>
            <span>5</span>
          </p>
          <p class="loyed2">Excelente servicio de reparación, se presentó a tiempo y fue muy
            <br>
            amable.</p>
          <p class="loyed3">Hace 2 semanas</p>
        </div>
      </div>
      <div class="servico-singleteam">
        <div class="servico-authoristd">
          <img src="assets/img/servicos5.png" alt="">
        </div>
        <div class="authoristed-contents1">
          <p class="loyed1">Leonetta Lloyd
            <i class="fa fa-star"></i>
            <span>5</span>
          </p>
          <p class="loyed2">Excelente servicio de reparación, se presentó a tiempo y fue muy
            <br>
            amable.</p>
          <p class="loyed3">Hace 2 semanas</p>
        </div>
      </div>
      <div class="servico-singleteam">
        <div class="servico-authoristd">
          <img src="assets/img/servicos5.png" alt="">
        </div>
        <div class="authoristed-contents1">
          <p class="loyed1">Leonetta Lloyd
            <i class="fa fa-star"></i>
            <span>5</span>
          </p>
          <p class="loyed2">Excelente servicio de reparación, se presentó a tiempo y fue muy
            <br>
            amable.</p>
          <p class="loyed3">Hace 2 semanas</p>
        </div>
      </div>
    </div>

    <div class="page3-viewmore">
      <a href="#">Ver más
        <i class="fa fa-angle-down"></i>
      </a>
    </div>

  </div>

  <div class="page3slides-area3">
    <div class="page3slide-titles1">
      <h3>Jales Relacionados</h3>
    </div>

    <div class="page3slides-wrapd">
      <div class="page3single-slidersd">
        <div class="singleslidepd">
          <img src="assets/img/dan1.jpg" alt="">
          <div class="hearted1">
            <a href="">
              <i class="fa fa-heart"></i>
            </a>
          </div>
        </div>
        <div class="page3slides-contentrd">
          <p class="cold1">SALTILLO, COAH.</p>
          <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
          </p>
          <p class="cold3">Desde $200 MXN
          </p>
        </div>
        <div class="page3slide-stard">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <li>(30)</li>

        </div>
      </div>
      <div class="page3single-slidersd">
        <div class="singleslidepd">
          <img src="assets/img/dan1.jpg" alt="">
          <div class="hearted1">
            <a href="">
              <i class="fa fa-heart"></i>
            </a>
          </div>
        </div>
        <div class="page3slides-contentrd">
          <p class="cold1">SALTILLO, COAH.</p>
          <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
          </p>
          <p class="cold3">Desde $200 MXN
          </p>
        </div>
        <div class="page3slide-stard">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <li>(30)</li>

        </div>
      </div>
      <div class="page3single-slidersd">
        <div class="singleslidepd">
          <img src="assets/img/dan1.jpg" alt="">
          <div class="hearted1">
            <a href="">
              <i class="fa fa-heart"></i>
            </a>
          </div>
        </div>
        <div class="page3slides-contentrd">
          <p class="cold1">SALTILLO, COAH.</p>
          <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
          </p>
          <p class="cold3">Desde $200 MXN
          </p>
        </div>
        <div class="page3slide-stard">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <li>(30)</li>

        </div>
      </div>
      <div class="page3single-slidersd">
        <div class="singleslidepd">
          <img src="assets/img/dan1.jpg" alt="">
          <div class="hearted1">
            <a href="">
              <i class="fa fa-heart"></i>
            </a>
          </div>
        </div>
        <div class="page3slides-contentrd">
          <p class="cold1">SALTILLO, COAH.</p>
          <p class="cold2">Vel quam elementum pulvinar etiam non quam lacus suspendisse
          </p>
          <p class="cold3">Desde $200 MXN
          </p>
        </div>
        <div class="page3slide-stard">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <span>
            <i class="fa fa-star"></i>
          </span>
          <li>(30)</li>

        </div>
      </div>
    </div>
  </div>
</div>
