<div class="servico-wrap sed-content">
  <div class="servico-title" onclick="display_reviews()">
    <h3>Calificaciones
    <span> <%= star_display_helper(@gig.score_average) %> <span>
    </h3>
    <div class="doopli">
        <%= icon("fas", "angle-down", class: "reviews_dropdown") %>
    </div>
  </div>
  <div class="servicoteam-wrap">
    <div class="paginated_reviews">


    <% if @reviews.blank? && @my_reviews.blank? %>
      <% if @gig.user != current_user %>
        <% if current_user %>
          <span onclick="move_to_element('#recommendgigbtn')">Sé el primero en dar una reseña</span>
        <% else %>
          Para dar una reseña debe <a href="#" class="sign_in">iniciar sesión</a>
        <% end %>
      <% else %>
        <a href="#"class="want_review">Comparte tu Jale para conseguir reseñas haciendo click aquí</a>
      <% end %>
    <% else %>
      <%= render partial: "shared/reviews/review", collection: @my_reviews %>
      <%= render partial: "shared/reviews/review", collection: @reviews %>
      <div class="page3-viewmore">
        <%= link_to_next_page(@reviews, "Ver más#{icon("fas", "angle-down")}".html_safe,class: "review_paginator" , param_name: :reviews,remote: true) %>
      </div>
    <% end %>



    </div>
  </div>


</div>
