<!-- seller about-->
<div class="seller_about">
  <h3>Acerca del Usuario</h3>

  <div class="row no-gutters">
    <div class="col-lg-2 text-center profile_management2">
      <%=link_to image_tag(avatar_display_helper(@gig.user.image_url(:thumb)), class: "gig-thumb", width: 42, height: 42), user_path(@gig.user.slug) %>
    </div>
    <div class="col-lg-10">
      <div class="profile_management2">
        <div class="row">
          <div class="about_gig_user col-lg-10 col-md-10 col-sm-10 col-9">
            <h6><%= link_to @gig.user.alias, user_path(@gig.user.slug) %></h6>
          </div>
          <div class="align-right col-lg-2 col-md-2 col-sm-2 col-3">
            <h6><%= link_to(icon("fas","paper-plane", class: "fa-lg", title: "Contáctame"), conversations_path(:user_id => @gig.user.slug)) if current_user != @gig.user %></h6>
          </div>
        </div>
         <!-- rating_for @gig.user, "Employee", readonly: true, half_show: true, stars: 5  -->
      </div>
    </div>
  </div>
  <hr>
  <div class="row padding_row">
    <div class="col-lg-3">
      <strong>Ubicación</strong>
      <p><%= @gig.user.location %></p>
    </div>
    <div class="col-lg-3">
      <strong>Miembro desde hace</strong>
      <p><%= @gig.user.created_at.strftime("%B %d, %Y") %></p>
    </div>
    <div class="col-lg-3">
      <strong>Disponibilidad</strong>
      <p><%= (@gig.user.available)? @gig.user.available : "Indefinido" %></p>
    </div>
    <div class="col-lg-3">
      <strong>Edad</strong>
      <p><%= (@gig.user.age )? "#{@gig.user.age} años" : "Indefinido" %></p>
    </div>

  </div>
  <hr>
  <div class="row padding_row">
    <div class="col-lg-12">
      <strong>Sobre Mí</strong>
      <p><%= (@gig.user.bio)? @gig.user.bio : "Indefinido" %></p>
    </div>
  </div>
</div>
