  <!-- start user profile -->
  <div class="col-md-12 pd-l-0 pd-r-0 mg-t-15">
    <div class="card card-profile">
      <div class="card-body tx-13">
        <div>
          <div class="avatar avatar-lg"><%= image_tag(avatar_display_helper(@gig.user.image_url(:thumb)), class: "rounded-circle") %></div>
          <h5 class="mg-b-5-f"><%= @gig.user.alias %></h5>
          <p class="mg-b-5"><%= @gig.user.location %></p>
          <p class="mg-b-5 tx-gray-600">Activo hace <%= distance_of_time_in_words_to_now(@gig.user.current_sign_in_at)%></p>

          <div>
            <% if score_average_times( @gig.user.score) == 0 %>
            <small class="tx-gray-600">Sin valoraciones</small>
            <% else %>
              <i data-feather="star" class="feather-18 tx-warning filled"></i>
              <span class="tx-warning"><%= score_average(@gig.user.score) %> <small class="tx-gray-600">(<%= score_average_times( @gig.user.score) %> valoraciones)</small></span>
            <% end %>
          </div>
          <div class="divider-text w-100">Bio</div>
          <p class="text-center"><%= (@gig.user.bio)? @gig.user.safe_bio : "Sin descripción" %></p>
          <div class="col d-flex align-items-center justify-content-between">
            <%= link_to "Perfil", user_path(@gig.user.slug), class: "btn btn-block btn-white" %>
          </div>
        </div>
      </div>
    </div><!-- card -->
  </div>
  <!-- end user profile -->
  <% if current_user != @gig.user %>
  <div class="col-md-12 pd-l-0 pd-r-0 mg-t-15">
    <div class="card">
      <div class="card-body tx-13">
        <div id="new_review_content">
            <h5 class="mg-b-5-f tx-center">Califica este anuncio</h5>
          <%= form_with(model: Review, url: reviews_path, method: :post, :html => { class: "review_form" }) do |f| %>
            <%= f.hidden_field :reviewable_id, value: @gig.id %>
            <%= f.fields_for :rating_attributes do |r| %>
              <div class="form-group rating-input">
                <label for="star1" title="Muy malo"><i data-feather="star" class="feather-18 tx-warning filled"></i></label><%=r.radio_button :stars, 1, :id => "star1" %>
                <label for="star2" title="Malo"><i data-feather="star" class="feather-18 tx-warning filled"></i></label><%=r.radio_button :stars, 2, :id => "star2" %>
                <label for="star3" title="Decente"><i data-feather="star" class="feather-18 tx-warning filled"></i></label><%=r.radio_button :stars, 3, :id => "star3" %>
                <label for="star4" title="Bueno"><i data-feather="star" class="feather-18 tx-warning filled"></i></label><%=r.radio_button :stars, 4, :id => "star4" %>
                <label for="star5" title="Excelente"><i data-feather="star" class="feather-18 tx-warning filled"></i></label><%=r.radio_button :stars, 5, :id => "star5", checked: "checked" %>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.text_area :comment, placeholder: "¿Qué tal te ha parecido el servicio de #{@gig.user.alias}?", id: "recommendation_comment",
               class: "form-control" , rows: 2, maxlength: 2000 %>
            </div>
            <div class="form-group mg-b-0">
              <%= f.submit 'Enviar reseña', :class => 'btn btn-block btn-success', data: {disable_with: "Enviando..."} %>
            </div>
          <% end %>
        </div>
      </div>
    </div><!-- card -->
  </div>
  <% end %>
