<div class='notifications-<%=(notification.read_at.nil?)? "false": "true"%>'>
  <a href='<%=url_generator_helper(notification, notification.notifiable) %>'>
    <div class='left'>
      <div class='icon_notify'>
        <img class='nav-avatar' src='<%=notification.user.image_url%>'>
      </div>
      <p>
        <strong><%=notification.user.slug%></strong>
        <%=notification.action%>
        <% if notification.notifiable_type == "Package" %>

          en el jale
          <%= notification.notifiable.name %>
          por el paquete
          <%= notification.notifiable.pack_type %><br>

        <% elsif notification.notifiable_type == "Dispute" %>

            en la orden
            <%= notification.notifiable.order.uuid %><br>

        <% else %>

            en el pedido
            <%= notification.notifiable.name %><br>

        <% end %>
          <time><%=distance_of_time_in_words(notification.created_at, Time.now)%></time>
        </p>
      </div>
    </a>
  </div>
