<% user = notification.user %>
<div class="timeline-label" day><%= notification.created_at.strftime("%b %e, %Y") %></div>

<div class="timeline-item">
  <div class="timeline-time"><%= notification.created_at.strftime("%I:%M %P") %></div>
  <div class="timeline-body">
    <h6 class="mg-b-0"><%= build_notification_text(notification, notification.notifiable) %></h6>
    <p>
      <%= link_to user.noa, user_path(user.slug) %>
      <%= notification.user.location %>.</p>
    <nav class="nav nav-row mg-t-15">
      <a href="<%=url_generator_helper(notification, notification.notifiable) %>" class="nav-link">Ver detalles</a>
    </nav>
  </div>
</div>
