<div class="tab-section-for-mobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Editar perfil
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="tab-use-content">
                  <div class="tab-user">
                    <%= form_with(model: @user, local: true) do |form| %>
                    <% if @user.errors.any? %>
                      <% @user.errors.full_messages.each do |error| %>
                        <%= notification_generator_helper error, :error %>
                      <% end %>
                    <% end %>
                    <label class="profile-container">
                      <%= image_tag(avatar_display_helper(@user.image_url()), class: "nav-avatar")%>
                      <%= form.file_field :image, class: 'form-control', accept: ".png, .jpg, .jpeg" %>
                    </label>
                  <% end %>
                  <p>EMAIL
                    <span><%= @user.email %></span></p>
                </div>
                <div class="Nombre-completo-text">
                  <label for="">Nombre completo</label>
                  <div class="inp-area">
                    <%= best_in_place current_user, :name, url: update_users_path, style: "padding: 5px;", :data => {:name => "nombre"} %>
                    <%= icon("fas", "pencil-alt") %>
                  </div>
                  <label for="">Alias</label>
                  <div class="inp-area">
                    <%= best_in_place current_user, :alias, class: "change_user_alias", url: update_users_path, style: "padding: 5px;", :data => {:name => "alias"} %>
                    <%= icon("fas", "pencil-alt") %>
                  </div>
                  <label for="">Sobre mí</label>
                  <div class="textarea-area">
                    <%= best_in_place current_user, :bio, as: :textarea, :place_holder => "Edítame", :html_attrs => {:maxlength => 500}, url: update_users_path, class: "change_bio", inner_class: "change_bio_input", :data => {:name => "biografía"} %>
                  </div>
                  <div class="inp-area marker-ex">
                    <label for="">Ubicación</label>
                    <%= form_with model: User, url: update_users_path, method: :put , local: true do |f|%>
                    <%= f.text_field :location, class: 'config_autocomplete', id: "config_autocomplete", size: 50, placeholder:" Elige tu ciudad", value: current_user.location(true) %>
                    <%= f.hidden_field :city_id, class: "city", id: "city_2" %>
                    <%= icon("fas", "map-marker") %>
                  <% end %>
                </div>

                <ul class="nav nav-tabs">
                  <div class="" >
                      <label for="">Edad</label>
                    <li class="nav-item dropdown">
                      <%= best_in_place current_user, :age, :as => :select, :collection => (18..100).map { |i| [i, "#{i} años"]}, :place_holder => "Indefinido", url: update_users_path, :data => {:name => "edad"} %>
                    </li>
                  </div>
                  <div class="">
                    <label for="">Disponibilidad</label>
                    <li class="nav-item dropdown">
                      <%= best_in_place current_user, :available, :as => :select, :collection => { "Tiempo completo" => "Tiempo completo", "Medio tiempo" => "Medio tiempo", "Fin de semana" => "Fin de semana", "Esporádico" => "Esporádico" }, :place_holder => "Indefinido",
                      url: update_users_path, :data => {:name => "disponibilidad"} %>
                    </li>

                  </ul>
                </div>

                <!-- <div class="tab-radio-btn"> <p>Rol</p> <div class="Vendedor-text"> <label class="tab-btn">Vendedor <input type="radio" checked="checked" name="radio"> <span class="checkmark"></span> </label> <label class="tab-btn">Comprador <input type="radio"
                name="radio"> <span class="checkmark"></span> </label> <label class="tab-btn">Ambos <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div> </div> -->

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Notificaciones
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="Probar-Notificaciones-content">
              <div class="Probar-Notificaciones-btn">
                <button onclick="resetNotifications(event)" class="default-btn">Probar Notificaciones</button>
              </div>
              <div class="Notificaciónss">
                <div class="input-checkbox" style="display: flex;align-items:center;">
                  <label for="">Notificación por e-mail:</label>
                  <%= best_in_place current_user, :transactional_emails, as: :checkbox,
                   collection: {true: "Activado &#xf303;".html_safe, false: "Desactivado &#xf303;".html_safe}, url: update_users_path,
                   :data => {:name => "notificación por e-mail"}, class: "boolean",
                   style: "font-family: 'Font Awesome 5 Free' !important;font-weight:900;" %>
                </div>
                <div class="input-checkbox" style="display: flex;align-items:center;">
                  <label for="">Últimas noticias:</label>
                  <%= best_in_place current_user, :marketing_emails, as: :checkbox,
                   collection: {true: "Activado &#xf303;".html_safe, false: "Desactivado &#xf303;".html_safe}, url: update_users_path,
                   :data => {:name => "notificación de últimas noticias"}, class: "boolean",
                   style: "font-family: 'Font Awesome 5 Free' !important;font-weight:900;"%>
                </div>
              </div>
              <div class="fotografi">
                <li>fotografí</li>
                <a href="">video
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <a href="">eventos
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Métodos de pago
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <div class="Métodos-de-pago">
              <div class="todos-list-">
                <%= render partial: 'users/card', collection: @user_cards %>
              </div>
              <div class="Nueva-tarjeta-btn">
                <button id="cardbtn2" class="default-btn">Nueva Tarjeta</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Facturación
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <div class="Facturacion-content">
              <%= render partial: 'users/billing_profile', collection: @billing_profiles %>
              <div style="text-align: right;">
                <button id="billingprofilebtn2" class="default-btn">Nuevo Perfil Tributario</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Retirar fondos
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
            <div class="Retirar-fondos-content">
              <div class="Saldo-disponible">
                <h3><img src="assets/img/1_objects.png" alt="">Saldo disponible
                  <strong><%= number_to_currency(@user.balance || 0) %>
                    MXN</strong>
                </h3>
              </div>
              <div class="Cuenta-box">
                <%= render partial:'users/bank', collection: @user_banks %>
                <div class="Nueva-cuenta">
                  <button id="bankbtn2" class="default-btn">Nueva Cuenta</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingSix">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Cuenta
              <i class="fa fa-angle-right" aria-hidden="true"></i>
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
          <div class="card-body">
            <div class="Cuenta-content">
              <% if ! @user.verified? %>
                <div class="perfil-text">
                  <h4>Verificación de perfil
                    <a href="<%= new_verification_path %>">Solicitar verificacion</a>
                  </h4>
                </div>
              <% else %>
                <div class="verificado-btn">
                  <button class="default-btn">¡Felicidades!
                    <br>
                    Tu perfil ha sido verificado.</button>
                </div>
              <% end %>
              <br>
              <div class="perfil-text">
                <h4>Contraseña
                  <button id="changepassbtn2" class="default-btn">Cambiar Contraseña</button>
                </h4>
              </div>
              <div class="Eliminar-cuenta">
                <h4>Eliminar cuenta</h4>
                <h5>¿Qué pasa cuando elimino mi cuenta?</h5>
                <div class="Eliminar-cuenta-list">
                  <li>
                    <span></span>Tu perfil, tus jales, y tus pedidos ya no serán visibles en Jalecitos.</li>
                  <li>
                    <span></span>Tus ordenes activas serán canceladas y no seran reembolsara el dinero.</li>
                  <li>
                    <span></span>Se borrarán tus tarjetas y bancos asociados a la cuenta.</li>
                  <li>
                    <span></span>Tu cuenta de correo ya no podra ser utilizada de nuevo para un nuevo registor en Jalecitos.</li>
                </div>
              </div>
              <div class="Eliminar-cuenta-btn">
                <p id="confirmaccountdeletionbtn" class="default-deny-btn">Cancelar mi cuenta</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
