<div class="tab-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="tab">
          <button class="tablinks" onclick="openCity(event, '1')" id="defaultOpen">Editar perfil
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          <button class="tablinks" onclick="openCity(event, '2')">Notificaciones
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          <button class="tablinks" onclick="openCity(event, '3')">Métodos de pago
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          <button class="tablinks" onclick="openCity(event, '4')">Facturación
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          <button class="tablinks" onclick="openCity(event, '5')">Retirar fondos
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
          <button class="tablinks" onclick="openCity(event, '6')">Cuenta
            <span>
              <i class="fa fa-angle-right" aria-hidden="true"></i></span></button>
        </div>

        <div id="1" class="tabcontent">
          <div class="tab-use-content">
            <div class="tab-user">
              <%= form_with(model: @user, local: true) do |form| %>
              <% if @user.errors.any? %>
                <% @user.errors.full_messages.each do |error| %>
                  <%= notification_generator_helper error, :error %>
                <% end %>
              <% end %>
              <label class="profile-container">
                <%= image_tag(avatar_display_helper(@user.image_url()), class: "nav-avatar")%>
                <%= form.file_field :image, class: 'form-control', accept: ".png, .jpg, .jpeg" %>
              </label>
            <% end %>
            <p>EMAIL
              <span><%= @user.email %></span></p>
          </div>
          <div class="Nombre-completo-text">
            <form action="">
              <label for="">Nombre completo</label>
              <div class="inp-area">
                <%= best_in_place current_user, :name %>
              </div>
              <label for="">Alias</label>
              <div class="inp-area">
                <%= best_in_place current_user, :alias %>
              </div>
              <label for="">Sobre mí</label>
              <div class="textarea-area">
                <%= best_in_place current_user, :bio, as: :textarea, :place_holder => "Edítame", :html_attrs => {:maxlength => 500} %>
              </div>
              <div class="inp-area marker-ex">
                <input type="text" placeholder="Elige tu ciudad">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>

              <ul class="nav nav-tabs">

                <li class="nav-item dropdown">
                  <%= best_in_place current_user, :age, :as => :select, :collection => (18..100).map { |i| [i, "#{i} años"]}, :place_holder => "Edad" %>
                </li>
                <li class="nav-item dropdown">
                  <%= best_in_place current_user, :available, :as => :select, :collection => { "Tiempo completo" => "Tiempo completo", "Medio tiempo" => "Medio tiempo", "Fin de semana" => "Fin de semana", "Esporádico" => "Esporádico" }, :place_holder =>
                  "Disponibilidad" %>
                </li>

              </ul>

              <!-- <div class="tab-radio-btn"> <p>Rol</p> <div class="Vendedor-text"> <label class="tab-btn">Vendedor <input type="radio" checked="checked" name="radio"> <span class="checkmark"></span> </label> <label class="tab-btn">Comprador <input type="radio"
              name="radio"> <span class="checkmark"></span> </label> <label class="tab-btn">Ambos <input type="radio" name="radio"> <span class="checkmark"></span> </label> </div> </div> -->

            </form>
          </div>
        </div>
      </div>

      <div id="2" class="tabcontent">
        <div class="Probar-Notificaciones-content">
          <div class="Probar-Notificaciones-btn">
            <button onclick="resetNotifications(event)" class="default-btn">Probar Notificaciones</button>
          </div>
          <div class="Notificaciónss">
            <div class="input-checkbox">
              <%= best_in_place current_user, :transactional_emails, as: :checkbox, collection: {true: "Activado", false: "Desactivado"} %>
              <p>Notificación por e-mail</p>
            </div>
            <div class="input-checkbox">
              <%= best_in_place current_user, :marketing_emails, as: :checkbox, collection: {true: "Activado", false: "Desactivado"}%>
              <p>Últimas noticias</p>
            </div>
          </div>
          <div class="fotografi">
            <li>fotografí</li>
            <a href="">video
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
            <a href="">eventos
              <i class="fa fa-times" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

      <div id="3" class="tabcontent">
        <div class="Métodos-de-pago">
          <div class="todos-list-">
            <%= render partial: 'users/card', collection: @user_cards %>
          </div>
          <div class="Nueva-tarjeta-btn">
            <button id="cardbtn" class="default-btn">Nueva Tarjeta</button>
          </div>
        </div>

      </div>

      <div id="4" class="tabcontent">
        <div class="Facturacion-content">
          <%= render partial: 'users/billing_profile', collection: @billing_profiles %>
          <div style="text-align: right;">
            <button id="billingprofilebtn" class="default-btn">Nuevo Perfil Tributario</button>
          </div>
        </div>

      </div>
      <div id="5" class="tabcontent">
        <div class="Retirar-fondos-content">
          <div class="Saldo-disponible">
            <h3><img src="assets/img/1_objects.png" alt="">Saldo disponible
              <strong><%= number_to_currency(@user.balance || 0) %>
                MXN</strong>
            </h3>
          </div>
          <div class="Cuenta-box">
            <%= render partial:'users/bank', collection: @user_banks %>
            <div class="Nueva-cuenta">
              <button id="bankbtn" class="default-btn">Nueva Cuenta</button>
            </div>
          </div>
        </div>

      </div>
      <div id="6" class="tabcontent">
        <div class="Cuenta-content">
          <% if ! @user.verified? %>
            <div class="perfil-text">
              <h4>Verificación de perfil
                <a href="">Solicitar verificacion</a>
              </h4>
            </div>
          <% else %>
            <div class="verificado-btn">
              <button class="default-btn">¡Felicidades!
                <br>
                Tu perfil ha sido verificado.</button>
            </div>
          <% end %>
          <br>
          <div class="perfil-text">
            <h4>Contraseña
              <button id="changepassbtn" class="default-btn">Cambiar Contraseña</button>
            </h4>
          </div>
          <div class="Eliminar-cuenta">
            <h4>Eliminar cuenta</h4>
            <h5>¿Qué pasa cuando elimino mi cuenta?</h5>
            <div class="Eliminar-cuenta-list">
              <li>
                <span></span>Tu perfil, tus jales, y tus pedidos ya no serán visibles en Jalecitos.</li>
              <li>
                <span></span>Tus ordenes activas serán canceladas y no seran reembolsara el dinero.</li>
              <li>
                <span></span>Se borrarán tus tarjetas y bancos asociados a la cuenta.</li>
              <li>
                <span></span>Tu cuenta de correo ya no podra ser utilizada de nuevo para un nuevo registor en Jalecitos.</li>
            </div>
          </div>
          <div class="Eliminar-cuenta-btn">
            <%= link_to "Cancelar mi cuenta", registration_path(resource_name), class: "default-deny-btn", data: { confirm: "Una vez que aceptes, no podras utilizar este e-mail de nuevo. Estas Seguro?" }, method: :delete %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
