<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
  <%user.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>

<div class="container-fluid dashboard_front">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <%= render "shared_user/users/user_card", form: form %>
      </div>

      <div class="col-lg-8">
        <%= render "shared_user/users/user_information" %>
      </div>

      <% if @user.has_roles?(:employee) %>
      <div class="col-lg-12 dashboard_front_right">
        <div class="gap"></div>
        <%= render "shared_user/users/my_gigs" %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<% end %>
