<%= form_with(model: user, local: true) do |form| %>
<% if user.errors.any? %>
  <%user.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error %>
  <% end %>
<% end %>

<div class="container-fluid dashboard_front">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">

        <div class="dashboard_front_left">

          <!-- user avatar -->
          <div class="col-lg-12 text-center">
            <div class="gap"></div>
            <label class="profile-container">
              <%= image_tag avatar_display_helper(@user.image_url(:thumb)) %>
              <%= form.file_field :image, class: 'form-control' %>
            </label>

          </div>
          <!-- user avatar -->

          <div class="col-lg-12 user_name text-center">
            <h5 class="text-center"><%= best_in_place_if my_profile,@user, :alias %></p>
          </h5>
          <p class="card-title">Member since:
            <%= @user.created_at.strftime("%B %d, %Y") %></p>
        </div>

        <!-- progresses rows -->
        <div class="row text-center progresses">

          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <%= rating_for @user, "Employer", readonly: true,  half_show: true, stars: 5  %>
            <h5 data-tooltip="<%= rating_for(@user, "Employer", number_only: true) %>">Usuario</h5>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-6 col-6">
            <%= rating_for @user, "Employee", readonly: true,  half_show: true, stars: 5 %>
            <h5 data-tooltip="<%= rating_for(@user, "Employee", number_only: true) %>">Proveedor</h5>
          </div>
          <!-- -->

          <!-- -->
        </div>
        <!-- -->

        <!-- response time -->
        <div class="row response">
          <hr>
          <div class="col-lg-9 col-md-6 col-sm-6 col-6">

            <p>Ultima conexion
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-6 text-right">

            <p>
              <p class="font-weight-bold green">
                <%= @user.current_sign_in_at != nil ? distance_of_time_in_words_to_now(@user.current_sign_in_at) : "nunca" %>
              </p>
            </p>
          </div>

        </div>

        <% if ! my_profile %>
          <hr>
          <!-- inbox -->
          <div class="row response">
            <div class="col-12 text-center">
              <%= link_to "inbox", conversations_path(user_id: @user.slug), class: "font-weight-bold green" %>

            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- left col end -->
    <div class="col-lg-8">
      <div class="dashboard_front_left">
        <div class="row">
          <div class="col-lg-12  col-md-12 col-sm-12 information-title">
            <h4>Información de usuario</h4>
            <hr>
          </div>

          <div class="col-lg-3  col-md-3 col-sm-12 information-field">
            <p>
              <strong>Nombre:</strong>
            </p>
          </div>

          <div class="col-lg-9  col-md-9 col-sm-12 info-text">
            <p><%= best_in_place_if my_profile,@user, :name, as: :input, ok_button: "Guardar", cancel_button: "Cancelar", :ok_button_class => "btn btn-success", :cancel_button_class => "btn btn-danger", :place_holder => "Edítame", :html_attrs => {:maxlength =>
              100} %>
              <%= "Indefinido" if current_user != @user && @user.name.nil? %>
            </p>
          </div>

          <div class="col-lg-3  col-md-3 col-sm-12 information-field">
            <p>
              <strong>Disponibilidad:</strong>
            </p>
          </div>

          <div class="col-lg-9  col-md-9 col-sm-12 info-text">
            <p><%= best_in_place_if my_profile,@user, :available, :as => :select, :collection => { "Tiempo completo" => "Tiempo completo", "Medio tiempo" => "Medio tiempo", "Fin de semana" => "Fin de semana", "Esporádico" => "Esporádico" }, :place_holder =>
              "Edítame" %>
              <%= "Indefinido" if current_user != @user && @user.available.nil? %>
            </p>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-12 information-field ">
            <p>
              <strong>Ubicación:</strong>
            </p>
          </div>

          <div class="col-lg-9  col-md-9 col-sm-12 info-text">
            <p><%= best_in_place_if my_profile,@user, :location, as: :input, ok_button: "Guardar", cancel_button: "Cancelar", :ok_button_class => "btn btn-success", :cancel_button_class => "btn btn-danger", :place_holder => "Edítame", :inner_class =>
              "best_google_input", :class => "google-span", :html_attrs => {:maxlength => 30} %>
              <%= "Indefinido" if current_user != @user && @user.location.nil? %>
            </p>
          </div>

          <div class="col-lg-3  col-md-3 col-sm-12 information-field">
            <p>
              <strong>Edad:</strong>
            </p>
          </div>

          <div class="col-lg-9  col-md-9 col-sm-12 info-text">
            <p><%=best_in_place_if my_profile,@user, :age, :as => :select, :collection => (18..100).map { |i| [i, "#{i} años"]}, :place_holder => "Edítame" %>
              <%= "Indefinido" if current_user != @user && @user.age.nil? %>
            </p>
          </div>

          <div class="col-lg-3  col-md-3 col-sm-12 information-field">
            <p>
              <strong>Sobre mí:</strong>
            </p>
          </div>

          <div class="col-lg-9  col-md-9 col-sm-12 info-text">
            <p><%= best_in_place_if my_profile,@user, :bio, as: :textarea, ok_button: "Guardar", cancel_button: "Cancelar", :ok_button_class => "btn btn-success", :cancel_button_class => "btn btn-danger", :place_holder => "Edítame", :html_attrs => {:maxlength =>
              500} %>
              <%= "Indefinido" if current_user != @user && @user.bio.nil? %>
            </p>
          </div>

        </div>
      </div>
    </div>
    <!-- right col end -->
    <!-- profile bottom -->
    <div class="col-lg-12 dashboard_front_right">
      <div class="gap"></div>

      <div class="education_wrapper">
        <div class="title">
          <h4>Mis Jales</h4>
        </div>
        <hr>
        <div class="row align_center">
          <div class="col-lg-12 align_center">
            <div class="row align_center">
              <%= render partial: "gigs/gig", collection: @gigs %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right col -->
  </div>
</div>
</div>

<% end %>
