<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <%user.errors.full_messages.each do |error| %>
      <%= notification_generator_helper error %>
    <% end %>
  <% end %>

  <div class="wraper" style="display: flex;">
  <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <label class="profile-container">
        <%= image_tag avatar_display_helper(@user.image_url(:thumb)) %>
        <%= form.file_field :image, class: 'form-control' %>
      </label>
      <div class="card-body">
        <p class="card-title">Name: <%= best_in_place_if my_profile, @user, :name %></p>
        <p class="card-title">Alias: <%= best_in_place_if my_profile,@user, :alias %></p>
        <p class="card-title">Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
        <p class="card-title">Bio: <%= best_in_place_if my_profile,@user, :bio, as: :textarea, ok_button: :save, cancel_button: :cancel %></p>
        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
      <%= link_to "Gigs", :q => "gigs" %> | <%= link_to "Requests", :q => "requests" %>
      <% if params[:q] == 'requests' %>
        <%= link_to "New Request", new_user_request_path(@user), class: "pull-right" %>
      <% else %>
        <%= link_to "New Gig", new_user_gig_path(@user), class: "pull-right" %>
      <% end %>
      </div>
      <div class="card-body">
        <% if params[:q] == 'requests' %>
          <%= render @user.requests %>
        <% else %>
          <%= render @user.gigs %>
        <% end %>

        <div class="d-flex justify-content-between align-items-center">
          <small class="text-muted"></small>
        </div>
      </div>
    </div>
  </div>
  </div>
<% end %>
