<!-- The Modal -->
<div class="modal inmodal" id="bankModal">

  <!-- Modal content -->
  <div class="modal-content">
    <!-- <span class="close">&times;</span> -->
    <div class="container text-center">

      <div class="row">

        <div class="col-lg-12">

          <h4>Nuevo Banco</h4>

          <div class="divi-new js-form-join-section" data-section="1"></div>
          <%= form_with url: user_banks_path(current_user) do |f| %>
            <%= f.number_field :clabe, class: "required", placeholder: "CLABE" %>
            <%= f.text_field :bank_holder_name, class: "required", placeholder: "Nombre del Titular" %>
            <%= f.text_field :alias, class: "required", placeholder: "Alias" %>
            <br>
            <%= f.submit 'Continuar', :class => 'btn btn-success' %>
          <% end %>

      </div>
    </div>
  </div>

</div>

</div>
