<div class="modal" id="cardModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
         <div class="sign-up">
             <div class="sign-up-form">
               <!-- Close modal -->
                 <div class="close-modal" onclick="$('#cardModal').hide()">
                   <span aria-hidden="true">Cerrar</span>
                 </div>
               <!--  -->
               <h3>Nueva Tarjeta</h3>

               <div class="divi-new js-form-join-section" data-section="1"></div>

               <%= form_with url: user_cards_path(current_user), id: "cardForm", class: "new_card" do |f| %>
               <%= f.hidden_field :token_id %>

                 <%= f.text_field :holder_name, class: "required", id: "holder_name", placeholder: "Nombre del Titular", :data => { :openpay_card => "holder_name"} %>
                 <%= f.text_field :card_number, class: "required", id: "card_number", placeholder: "Numero de tarjeta",
                     minlength: 15, maxlength: 16, :data => { :openpay_card => "card_number"}, onkeypress: "allowNumbersOnly(event)" %>


                 <div style="display:flex;">
                   <%= f.select :exp_month, options_for_select( (1..12).map {|month| [month, month.to_s.last(2)]} ),{include_blank: "Mes"},
                    class: "custom-select required col-lg-4 col-md-4 col-sm-4 col-4", id: "exp_month", :data => { :openpay_card => "expiration_month"} %>
                   <%= f.select :exp_year, options_for_select( (Date.today.year..8.years.from_now.year).map {|year| [ year, year.to_s.last(2) ]} ),{include_blank: "Año"},
                    class: "custom-select required col-lg-4 col-md-4 col-sm-4 col-4", id: "exp_year", :data => { :openpay_card => "expiration_year"} %>
                   <%= f.password_field :card_cvv, class: "required col-lg-4 col-md-4 col-sm-4 col-4",
                    placeholder: "CVV", minlength: 3, maxlength: 4, onkeypress: "allowNumbersOnly(event)", :data => { :openpay_card => "cvv2"} %>
                 </div>

               <%= f.button 'Continuar', :class => 'btn continue-button', :id => "save-card",
               style: "width:100%;",
                data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Guardando.."} %>
             <% end %>
           </div>
           <hr>
           <div class="">
              Soportado por  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/openpay_logos/logo_negro_openpay.png", class: "openpay-logo") %>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>
