<div class="configuration-area">
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <div class="configuration-text">
                   <h2><i class="fa fa-arrow-left" aria-hidden="true" onclick="javascript:history.go(-1);"></i>Configuracion</h2>
               </div>
           </div>
       </div>
   </div>
</div>

<%= render 'users/configuration_desktop' %>
<%= render 'users/configuration_mobile' %>
<%= render 'users/new_bank' %>
<%= render 'users/new_card' %>
<%= render 'users/new_billing_profile' %>
<%= render 'devise/passwords/edit' %>
<%= render 'users/welcome_screen' %>
