<div class="container" data-spy="scroll">
  <div class="row">
    <!-- Account -->
    <div class="col-sm-12 edit">
      <br>
      <p style="float: right;">Necesitas actualizar tu perfil publico?
        <span><%= link_to "Ve a Mi Perfil", user_path(current_user.slug) %></span></p>
      <hr width="98%">
      <div class="row" id="account">
        <div class="col-sm-4">
          <label for="">NOMBRE COMPLETO</label>
        </div>
        <div class="col-sm-6"><%= best_in_place_if my_profile,@user, :name, :class => "form-control" %></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <label for="">EMAIL</label>
        </div>
        <div class="col-sm-6"><input type="text" id="sizing" placeholder="<%= @user.email %>" class="form-control" readonly="readonly"></div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <label for="">CONTRASENA</label>
        </div>
        <div class="col-sm-6">
          <button class="btn btn-md butn" id="changepassbtn">Cambiar Contrasena</button>
        </div>
      </div>
      <br>

      <div class="row">
        <div class="col-sm-4">
          <label for="">ROL <span data-tooltip="Al momento de cambiar tu rol a comprador, tus Jales se cambiaran a estado borrador"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6">

          <%= best_in_place_if my_profile, @user, :roles, :class => "form-control", as: :select,
           collection: {choose: "Elige una opcion", employee_employer: "Ambos", employer: "Comprador", employee: "Vendedor"},
           :place_holder => (current_user.roles.count == 3)? "Ambos" : @roles[current_user.roles.last],
           skip_blur: true%></div>
      </div>

      <br>
      <hr width="98%">
      <br>
      <!-- Notifications -->
      <!-- <div class="row">
        <div class="col-sm-4">
          <label>NOTIFICACIONES <span data-tooltip="Activa notificaciones en tus dispositivos. Esto se tendra que hacer por cada dispositivo conectado a la cuenta"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-8">
          <button class="btn btn-md butn" onclick="resetNotifications()">Reiniciar Notificationes</button>
        </div>
      </div> -->
      <br>
      <div class="row">
        <div class="col-sm-4">
          <label>EMAILS <span data-tooltip="Recibe Emails de tus transacciones importantes, incluyendo compras, ventas y recibos"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6">
          <%= best_in_place_if my_profile,@user, :transactional_emails, as: :select,
          collection: {true: "Activado", false: "Desactivado"}, :class => "form-control" %>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-4">
          <label>ULTIMAS NOTICIAS<span data-tooltip="Recibe las ultimas noticias por Email"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6">
          <%= best_in_place_if my_profile,@user, :marketing_emails, as: :select,
          collection: {true: "Activado", false: "Desactivado"}, :class => "form-control" %>
        </div>
      </div>
      <br>
      <!-- <div class="row" id="account">
        <div class="col-sm-4">
          <label for="">ETIQUETAS <span data-tooltip="Indica las palabras clave que buscas para notificarte cuando haya un pedido que te interese en tu region"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6"><%= best_in_place_if my_profile, @user, :tag_list, :class => "form-control" %></div>
      </div>
      <br> -->
        <hr width="98%">
        <br>
      <!-- Deactivate accout -->
      <div class="row">
        <div class="col-sm-4">
          <label for="">BORRAR CUENTA</label>
        </div>
        <div class="col-sm-8">
          <p>
            <b>Que pasa cuando borro mi cuenta?</b>
          </p>
          <ul type="circle">
            <li>Tu perfil, tus Jales, y tus Pedidos ya no seran visibles en Jalecitos</li>
            <li>Tus ordenes activas seran canceladas y no seran reembolsara el dinero.</li>
            <li>Se Borraran tus tarjetas y bancos asociados a la cuenta</li></li>
            <li>Tu cuenta de correo ya no podra ser utilizada de nuevo para un nuevo registor en Jalecitos</li>
          </ul>
            <%= link_to "Cancelar mi cuenta", registration_path(resource_name), class: "btn btn-md warn-butn", data: { confirm: "Una vez que aceptes, no podras utilizar este e-mail de nuevo. Estas Seguro?" }, method: :delete %>
        </div>
      </div>
      <br>
        <hr width="98%">
        <br>
      <!-- Perfiles de Facturacion -->
      <br>
      <div class="row" id="billingprofile">
        <div class="col-sm-4">
          <label for="">DATOS DE FACTURACION <span data-tooltip="Informacion para facturar tus compas"><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6 loading-zone">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Razon Social</th>
                <th>RFC</th>
                <th>Codigo Postal</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'users/billing_profile', collection: @billing_profiles  %>
            </tbody>
          </table>
          <div class="loading row justify-content-center" style="text-align: center; display: none;">
            <%= image_tag('loading.gif') %>
          </div>
          <button class="btn btn-md butn" id="billingprofilebtn">Nuevo Perfil</button>
        </div>
        <br>
        <br>
        <hr width="98%">
      </div>
      <!-- -->
      <!-- Tarjetas -->
      <br>
      <div class="row" id="card">
        <div class="col-sm-4">
          <label for="">TARJETAS BANCARIAS <span data-tooltip="Las tarjetas registradas con las que podras pagar los jales."><%= fa_icon("info-circle") %></span></label>
        </div>
        <div class="col-sm-6 loading-zone">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>Tarjeta</th>
                <th>Tipo</th>
                <th>Banco</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'users/card', collection: @user_cards  %>
            </tbody>
          </table>
          <div class="loading row justify-content-center" style="text-align: center; display: none;">
            <%= image_tag('loading.gif') %>
          </div>
          <button class="btn btn-md butn" id="cardbtn">Nueva Tarjeta</button>
        </div>
        <br>
        <br>
        <hr width="98%">
      </div>
      <!-- -->
      <!-- Bancos -->
      <br>
      <div class="row" id="bank">
        <div class="col-sm-4">
          <label>RETIRAR FONDOS <span data-tooltip="CLABES interbancarias en las cuales se podra depositar el dinero una vez que tengas fondos en tu cuenta."><%= fa_icon("info-circle") %></span></label>
          <br>
          <label>DINERO DISPONIBLE: <strong><%= number_to_currency(@user.balance || 0) %> MXN</strong></label>
        </div>
        <div class="col-sm-6">
          <table class="table table-striped table-borderless">
            <thead>
              <tr>
                <th>CLABE</th>
                <th>Alias</th>
                <th>Banco</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial:'users/bank', collection: @user_banks %>
            </tbody>
          </table>
          <button class="btn btn-md butn" id="bankbtn">Nuevo Banco</button>
        </div>
      </div>
      <!-- -->
      <br>
    </div>
  </div>
  <!-- row -->
  <%= render 'users/new_bank' %>
  <%= render 'users/new_card' %>
  <%= render 'users/new_billing_profile' %>
  <%= render 'devise/passwords/edit' %>
</div>
