<div class="servico-singleteam">
  <div class="servico-authoristd">
    <%= image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "icon-review") %>
  </div>
  <div class="authoristed-contents1">
    <p class="loyed1"> <strong><%= review.giver.alias %></strong>
      <%= image_tag("star-on", title: review.rating.stars, class: "single-star") %>
      <span class="rating-score"><%= review.rating.stars %></span>
    </p>
    <p class="loyed2"><%= review.comment %></p>
    <p class="loyed3"><%= distance_of_time_in_words_to_now(review.updated_at) %></p>
  </div>
</div>
