<div class="col-lg-12">
  <%= image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "nav-avatar") %>
  <strong><%= review.giver.alias %>
    <%= rating_for review, "Employee", readonly: true %>
  </strong>
</div>

<div class="col-lg-12">

  <p><%= review.comment %>
  </p>
  <p>
    <%= distance_of_time_in_words_to_now(review.updated_at) %></p>
  <hr>
</div>
