<div class="row" style="margin-top:20vh;">
  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 col-sm-offset-6" style="text-align:center;">
    <h2 class="text-center">Forgot your password?</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>
      <br>
      <p class="text-left">Please enter your email address and we will send you a link to reset your password.</p>
      <div class="form-group">
        <%= f.email_field :email, autofocus: true, autocomplete: :off,placeholder: 'Email Address', class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block btn-lg' %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
