<div class="phone-bottom-menu" id="phone-bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headertop-right" id="phone-welcome-menu">
          <div class="phone_links">
            <a href="<%= root_path %>" class="<%= active? root_path %>" data-turbolinks="false">
              <%= icon("fas", "home") %><br>
            </a>
            <a href="<%= finance_path %>" class="<%= active? finance_path %>">
              <%= icon("fas", "exchange-alt") %><br>
            </a>
            <a href="" class="plusred" id="newelementmodalphonetablet">
              <%= icon("fas", "plus") %><br>
            </a>
            <a href="<%= conversations_path %>" class="redbell1 <%= active? conversations_path %>">
              <%= icon("fas", "envelope", class: "mess-icon") %><br>
            </a>
            <a href="<%= all_notifications_path %>" class="<%= active? all_notifications_path %>" data-behavior='read-notifications' >
              <%= icon("fas", "bell", class: "notif-icon") %><br>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
