<div class="phone-bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="headertop-right">
          <div class="bellpositionblock phone_links">
            <a href="<%= root_path %>">
              <%= icon("fas", "home") %><br>
              inicio
            </a>
            <a href="<%= finance_path %>">
              <%= icon("fas", "exchange-alt") %><br>
              Transacciones
            </a>
            <a href="" class="plusred" id="newelementmodalphonetablet">
              <%= icon("fas", "plus") %><br>
            </a>
            <a href="<%= conversations_path %>" class="redbell1">
              <%= icon("fas", "envelope") %><br>
              Mensajes
            </a>
            <a href="<%= user_path(current_user.slug) %>">
              <%= icon("fas", "user") %><br>
              Perfil
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
