<div class="Footer">

  <div class="container">

    <div class="row ">
      <div class="col-lg-12">
        <div class="legal">
          <%= image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png', size: '162x54') %>
          <div class="gap">

          </div>
          <div class="privacy-terms">
            <a class="privacy-policy" href="/privacy-policy" target="_blank">Privacy Policy</a>
            <a href="/terms_of_service" target="_blank">Terms of Service</a>
          </div>
          <p class="all-rights"><!-- react-text: 7 -->©
            <!-- /react-text -->
            <!-- react-text: 8 -->
            Jalecitos Int. Lmt. 2018<!-- /react-text --></p>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-6">
        <h4>Categorías</h4>
        <article>
          <ul>
            <li>
              <a href="/categories/graphics-design">Graphics &amp; Design</a>
            </li>
            <li>
              <a href="/categories/online-marketing">Digital Marketing</a>
            </li>
            <li>
              <a href="/categories/writing-translation">Writing &amp; Translation</a>
            </li>
            <li>
              <a href="/categories/video-animation">Video &amp; Animation</a>
            </li>
            <li>
              <a href="/categories/music-audio">
                Music &amp; Audio</a>
            </li>
          </ul>
        </article>
      </div>
      <!-- -->

      <div class="col-lg-3  col-md-3  col-sm-6  col-6">
        <h4>Sobre nosotros</h4>
        <article>
          <ul>
            <li>
              <a href="/privacy-policy?source=footer">Política de privacidad</a>
            </li>
            <li>
              <a href="/terms_of_service?source=footer">Términos de servicio</a>
            </li>
            <li>
              <a href="/intellectual-property?source=footer">Propiedad intelectual</a>
            </li>
          </ul>
        </article>
      </div>
      <!-- -->

      <div class="col-lg-3  col-md-3  col-sm-6  col-6">
        <h4>Soporte</h4>
        <article>
          <ul>
            <li>
              <a href="https://sellers.Jalecitos.com/en/article/how-to-start-selling-on-Jalecitos" target="_blank">Ayuda</a>
            </li>
            <li>
              <a href="https://sellers.Jalecitos.com/en/article/how-to-start-selling-on-Jalecitos" target="_blank">Ofrecer mis servicios</a>
            </li>
            <li>
              <a href="/pages/howtofindafreelancer?show_join=true&amp;source=footer">Buscar un servicio</a>
            </li>
          </ul>
        </article>
      </div>
      <!-- -->
      <div class="col-lg-3  col-md-3  col-sm-6  col-6">

        <h4>Comunidad</h4>
        <article>
          <ul>
            <li>
              <a href="http://events.Jalecitos.com" target="_blank">Eventos</a>
            </li>
            <li>
              <a href="https://blog.Jalecitos.com/?utm_source=Jalecitos&amp;utm_medium=website" target="_blank">Blog</a>
            </li>
            <li>
              <a href="http://forum.Jalecitos.com/?utm_source=Jalecitos&amp;utm_medium=website" target="_blank">Foro</a>
            </li>
          </ul>
        </article>
      </div>
    </div>

    <!-- <div class="row in_row social_footr">

      <div class="col-lg-9 col-md-6 ">
        <ul class="social">
          <li class="google">
            <a href="https://twitter.com/Jalecitos" target="_blank"><%= fa_icon "twitter" %></a>

            <a href="https://www.facebook.com/Jalecitos" target="_blank"><%= fa_icon "facebook" %></a>

            <a href="https://www.linkedin.com/company/Jalecitos-com" target="_blank"><%= fa_icon "linkedin" %></a>

            <a href="https://www.pinterest.com/Jalecitos" target="_blank"><%= fa_icon "pinterest" %></a>

            <a href="https://instagram.com/Jalecitos" target="_blank"><%= fa_icon "instagram" %></a>
        </ul>
      </div>
    </div> -->
  </div>
</div>
