<%= form_with url: root_path, method: :get,:html =>{class: "search-form nav-search"} , local: true do |f|%>
<%= f.text_field :query, class: "js-search-input js-report-to-aux-data strt_selling_Srch1", value: params[:query], placeholder: "Buscar" %>

<script>
  var autocomplete = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
        url: '/autocomplete?query=%QUERY',
        replace: function(url, uriEncodedQuery) {
          model = $('#model_name').val();
          category = $("#category-select").val();
          loc = $("#search_autocomplete").val();

          return url.replace("%QUERY",uriEncodedQuery) + '&model_name=' + model + '&category_id=' + category + '&location=' + loc
        },
        wildcard: '%QUERY'
    }
  });


  $('#query').typeahead(null, {
    source: autocomplete
  });

</script>

<div class="btn-group" role="group">
  <div class="dropdown dropdown-lg">
    <button type="button" class="btn-default dropdown-toggle button-dropdown search-options" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span></button>
    <div class="dropdown-menu dropdown-menu-right" role="menu" id="search-dropdown">
      <div class="form-group">
        <label for="filter">Buscar</label>
        <%= select_tag 'model_name', options_for_select([ ["Jales", "gigs"], ["Pedidos", "requests"]], selected: params[:model_name]), class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="contain">Categoría</label>
        <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Todas", :selected => params[:category_id] }, class: 'form-control', id: "category-select") %>
      </div>
      <div class="form-group">
        <label for="contain">Ubicación</label>
        <%= f.text_field :location, class: 'text_box form-control', id: "search_autocomplete", size: 50, placeholder: "Cualquier lugar en México", value: (params[:location].nil?)? current_user.location : params[:location] %>
      </div>
    </div>
  </div>
</div>

<%= button_tag( :class => "btn-lrg-standard btn-submit js-search-submit strt_selling_Srch", :value => "commit") do %>
<%= fa_icon "search" %>
<% end %>
<% end %>
