<tbody class="labels">
  <tr>
    <td colspan="5">
      <label for="ban<%= ban_dashboard.id %>"><%= ban_name_helper(ban_dashboard) %></label>
      <input type="checkbox" name="ban<%= ban_dashboard.id %>" id="ban<%= ban_dashboard.id %>" data-toggle="toggle">
      <% if ban_dashboard.pending? %>
        <%= link_to icon("fas","check"),deny_ban_path(ban_dashboard.id), method: :put, title: "Es legitimo", :data => {:confirm => 'Marcar como legitimo?'}, style: "float: right;" %>
        <%= link_to icon("fas","ban"),proceed_ban_path(ban_dashboard.id), method: :put, title: "Bloquear", :data => {:confirm => 'Este recurso se bloqueara, estas seguro?'}, style: "float: right;"  %>
      <% end %>
    </td>
  </tr>
</tbody>
<tbody class="hide">
  <%= render partial: 'reports/report_dashboard', collection: ban_dashboard.reports %>
</tbody>
