<%= form_with(model: request, url: request_form_url_helper,method: form_method_helper, :html => { :class=> "current_form confirm_leave req_form" }, local: true) do |form| %>
<% if request.errors.any? %>
  <%request.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>




<div class="alert alert-primary">
  <span class="tx-danger">*</span>
  Significa que el campo es obligatorio.</div>
<div class="form-group">
  <label class="d-block">¿A quién buscas?
  </label>
    <%= form.text_field :profession, class: "form-control", maxlength: 50, placeholder: "Ej: Fotógrafo" %>
</div>
<div class="form-group">
  <label class="d-inline-block">¿Qué estás buscando?
    <span class="tx-danger">*</span></label>
    <%= form.text_area :name, class: 'name-class name-0 form-control required', placeholder: "Busco a alguien que me tome unas fotografías.", maxlength: 100 %>
</div>
<div class="form-group">
  <label class="d-inline-block">Describe detalladamente lo que buscas.</label> <span class="tx-danger">*</span>
  <%= form.text_area :description, maxlength: 1000,
  placeholder: "Necesito fotografías blanco y negro tamaño infantil.",
  class: "description-class description-0 form-control required", rows: 5 %>
</div>
<div class="form-group">
  <label for="category">Categoría
    <span class="tx-danger">*</span></label>
  <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Seleccione" }, class: 'custom-select required' ) %>
</div>

<div class="form-group">
  <label for="category">Presupuesto
    <span class="tx-danger">*</span></label>
  <%= form.select :budget, options_for_budget, {}, prompt: 'Selecciona Una Opcion', class: "custom-select required" %>
</div>


<div class="form-group">
  <label for="tags" class="d-block">Especifica las etiquetas para que te encuentren más rapido.</label>
  <%= form.text_field :tag_list, value: request.tag_list.join(", "), class: 'form-control tagsinput' %>
</div>
<div class="form-group">
  <label class="d-block">Dirección o ciudad en la que buscas.
    <span class="tx-danger">*</span></label>
    <%= form.text_field :location, class: 'required form-control', id: "form_autocomplete_req",
     size: 50, placeholder: 'Dirección o ciudad'.html_safe,
      value: request.location(true) || current_user.location(true),
      lat: (request.lat || current_user.lat),
       lng: (request.lng|| current_user.lng),
       address_name: (request.address_name|| current_user.address_name)  %>

</div>


<% end %>
