<tr class="body_table" valign="middle" data-link="<%= request_path(request) %>">
  <td class="buyer">
    <h5>Busco a alguien <%=request.name%></h5>
  </td>
  <td>
    <%=truncate(request.description.html_safe, length: 150)%>
  </td>
  <td><%=request.location%></td>
  <td><%= request.budget %> MXN</td>
  <td><%= request.offers.count %></td>
  <td>
    <span class="in_progress"><%= request.status %></span>
  </td>
</tr>
