<div class="container-fluid sales_manage">
  <div class="section container">

    <div class="row">

      <div class="col-lg-12  col-md-12">
        <h3>Mis Pedidos</h3>
      </div>
    </div>

    <div class="row my_requests">
      <div class="col-lg-12  col-md-12">

        <ul class="tabs nav nav-tabs">
          <li>
            <a href="#r_open">Abiertos</a>
          </li>
          <li>
            <a href="#r_in_progress">En progreso</a>
          </li>
          <li>
            <a href="#r_completed">Completados</a>
          </li>
          <li>
            <a href="#r_closed">Cerrados</a>
          </li>
        </ul>
        <div class="tabContainer requests_collection">
          <div class="tabWrap ">
            <div class="tabContainer">
              <div class="gap"></div>

              <div id="r_open" class="tabContent" style="display: none;">
                <div class="row align_center">
                  <div class="col-lg-12 align_center">
                    <div class="row align_center paginated_open">
                      <%= render partial: "requests/request", collection: @published %>
                    </div>
                    <div class="pagination-links">
                      <%= paginate @published, param_name: :published_page, :params => {:current => "published"} %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="r_in_progress" class="tabContent" style="display: none;">
                <div class="row align_center">
                  <div class="col-lg-12 align_center">
                    <div class="row align_center paginated_in_progress">
                      <%= render partial: "requests/request", collection: @in_progress %>
                    </div>
                    <div class="pagination-links">
                      <%= paginate @in_progress, param_name: :in_progress_page, :params => {:current => "in_progress"} %>
                    </div>
                  </div>
                </div>
              </div>
              <div id="r_completed" class="tabContent" style="display: none;">
                <div class="row align_center">
                  <div class="col-lg-12 align_center">
                    <div class="row align_center paginated_completed">
                      <%= render partial: "requests/request", collection: @completed %>
                    </div>
                    <div class="pagination-links">
                      <%= paginate @completed, param_name: :completed_page, :params => {:current => "completed"} %>
                    </div>
                  </div>
                </div>
              </div>

              <div id="r_closed" class="tabContent" style="display: none;">
                <div class="row align_center">
                  <div class="col-lg-12 align_center">
                    <div class="row align_center paginated_closed">
                      <%= render partial: "requests/request", collection: @closed %>
                    </div>
                    <div class="pagination-links">
                      <%= paginate @closed, param_name: :closed_page, :params => {:current => "closed"} %>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
