<div class="row row-xs">
  <div class="col-sm-12 col-md-8 col-lg-9 mg-b-10">
    <h2><%= @request.title %></h2>
    <p class="tx-16"><%= @request.description %></p>
    <% @request.images.each do |image| %>
    <%= image_tag(image.url, class: "img-thumbnail ht-lg-200 ht-xs-100 ht-md-150", data: {lity: true}) %>
    <% end %>
  </div>
  <div class=" col-sm-12 col-md-4 col-lg-3">
    <div class="card">
      <div class="card-body">
        <small class="card-text mg-t-10 p-purple-50 d-block">Publicado hace <%= distance_of_time_in_words_to_now(@request.created_at) %></small>
        Presupuesto <br>
        <span class="a-blue-100 dm-sans"> <%= @request.budget %> MXN </span>
        <hr>
        <% if @request.closed? || @request.completed? %>
          <%= link_to "#", class: "btn btn-n-grey-100 btn-block mg-b-10" do %>
            Cerrado
          <% end %>
        <% end %>
        <%= link_to "#", class: "share_item_url btn btn-p-purple-100-border btn-block mg-b-10" do %>
        <i data-feather="send"></i> Compartir
        <% end %>
        <% if @request.user == current_user && @request.published? %>
          <%= link_to close_request_path(@request), class: "btn btn-green-100-border btn-block mg-b-10", method: :put, :data => {:confirm => 'Confirma que quieres finalizar este pedido', placement: "top", toggle: "tooltip"}, title: "El pedido se cerrará automáticamente en #{((@request.created_at+30.days).to_date - (@request.created_at).to_date).to_i} días" do %>
            Finalizar
          <% end %>
          <%= link_to edit_request_path(@request), class: "btn btn-p-purple-100 btn-block mg-b-10" do %>
            Editar
          <% end %>
          <%= link_to request_path(@request), class: "btn btn-red-100-border btn-block mg-b-10", method: :delete, :data => {:confirm => 'Confirma que quieres borrar este pedido'} do  %>
            <i data-feather="trash"></i> Eliminar
          <% end %>
        <% elsif user_signed_in? && @request.user != current_user %>

            <% if @request.published? %>
              <a href="" class="btn btn-p-purple-100 btn-block mg-b-10" data-toggle="modal" data-target="#offerModal"> <%= (@my_offer.nil?)? "Postularme" : "Editar oferta" %></a>
            <% end %>
            <%= link_to "#", class: "mg-t-10 orange-100 d-flex justify-content-center", data: {toggle: "modal", target: "#reportModal"} do %>
               Reportar este pedido
            <% end %>
        <% end %>


        <div id="reqMap" class="ht-200" lat="<%= @request.lat %>" lng="<%= @request.lng %>" title="<%= @request.title %>"></div>
        <small class="tx-gray-600"><%= @request.location %></small>

        <div class="d-flex justify-content-between align-items-center">
        </div>
      </div>
    </div>
  </div>
  <div class="divider-text w-100"><%= "sin " if @request.offers_count == 0 %>postulaciones</div>
  <div class="row row-xs w-100" paginated-other_offers>

  <%= render( @my_offer ) if @my_offer.present? %>
  <%= render( @other_offers ) if @other_offers.present? %>
  <%= paginate @other_offers if @other_offers.present? %>

  </div>
</div>

<%= render "reports/report", object: @request%>

<%= render "offers/offer_modal" if current_user && @request.user != current_user %>
