<div class="card" style="width: 70%; padding: 10px; margin: 20px auto;">
  <div class="card-body">
    <h5 class="card-title"><%= @request.name %></h5>
    <%= link_to fa_icon("share", class: "fa-lg gig_action_icon", title: "Compartir"), {}, id: "share" %>
    <% if user_signed_in? %>
    <%= fa_icon("exclamation-triangle", class: "fa-lg gig_action_icon cursor_pointer", title: "Reportar", id: "reportrequestbtn") %>
    <% end %>
    <p class="card-text"><%= @request.description.html_safe %></p>
    <p class="card-text">Presupuesto: <%= @request.budget %> MXN</p>
    <p><small class="text-muted"><%=@request.location%></small></p>
    <p><small class="text-muted">Publicado hace <%= distance_of_time_in_words(@request.created_at, Time.now) %></small></p>
    <% if current_user == @request.user %>
     <hr>
     <%= link_to 'Edit', edit_request_path(@request) %> |
     <%= link_to 'Back', :back %>
    <% elsif  current_user && has_offered(current_user.id)  %>
     <p class="text-muted">Tu oferta esta postulada</p>
    <% else %>
     <%= link_to 'Postularse', new_request_offer_path(@request), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render @request.offers %>
<%= render "reports/request"%>
