<div class="refrigerador-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="refrigerador-content">
                    <div class="icon-areas">
                        <i class="fa fa-arrow-left" aria-hidden="true" onclick="javascript:history.go(-1);"></i>
                    </div>
                    <div class="arreglar-title flex-space-bet">
                        <h3><%= @request.title %></h3>
                        <%= render "shared_user/requests/show/req_actions", desktop: true %>
                    </div>
                    <div class="Saltillo">
                        <a><%= @request.location %></a>
                        <span>Publicado hace <%= distance_of_time_in_words(@request.created_at, Time.now) %></span>
                    </div>
                    <span class="show_req_budget">Presupuesto: <%= @request.budget %> MXN</span>
                    <div class="ipsum-text">
                     <p><%= @request.description %></p>
                     <!-- <a onclick="myFunction()" id="myBtn" href="#">Ver más <i class="fa fa-angle-down" aria-hidden="true"></i></a> -->
                     </div>
                     <div class="container row" style="margin: 0 auto 20px auto">
                       <% @request.images.each do |image| %>
                       <div class="current_img img-thum resp_img_show">
                         <%=link_to image_tag(image.url, size: '150x150', data: {lity: true}), image.url  %>
                       </div>
                       <% end %>
                     </div>


                     <div class="Postularme-btn">
                     <% if @hires_open %>
                       <% if current_user != @request.user && @my_offer.present?  %>
                        <p class="text-muted">Tu oferta está postulada</p>
                       <% elsif current_user != @request.user %>
                        <%= link_to 'Postularme', new_request_offer_path(@request), class: "btn btn-success postularme-offer" %>
                       <% end %>
                     <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="postulados-area">
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <div class="postulados-text">
                   <h2>Postulados</h2>
               </div>
           </div>
       </div>
   </div>
</div>

<div class="fernanda-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="paginator-container fernanda-content">
                    <div class="paginated-other_offers fernanda-user-box">
                        <%= render( @my_offer ) if @my_offer.present? %>
                        <%= render( @other_offers ) if @other_offers.present? %>
                      <% if @my_offer.nil? && @other_offers.nil? %>
                        No hay postulados
                      <% end %>
                    </div>
                    <%= paginate @other_offers if @other_offers.present? %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "reports/report", object: @request%>
