<div class="refrigerador-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="refrigerador-content">
                    <div class="icon-areas">
                        <i class="fa fa-arrow-left" aria-hidden="true" onclick="javascript:history.go(-1);"></i>
                        <div class="icon-link">
                          <% if user_signed_in? && (@request.user != current_user) %>
                          <%= link_to icon("fa","flag", title: "Reportar"), {}, id: "reportrequestbtn" %>
                          <% end %>
                          <%= link_to icon("fa","share-alt", title: "Compartir"), {}, id: "share" %>
                        </div>
                    </div>
                    <div class="arreglar-title">
                        <h3><%= @request.title %></h3>
                    </div>
                    <div class="Saltillo">
                        <a href=""><%= @request.location %></a>
                        <span>Publicado hace <%= distance_of_time_in_words(@request.created_at, Time.now) %></span>
                    </div>
                    <span class="show_req_budget">Presupuesto: <%= @request.budget %> MXN</span>
                    <div class="ipsum-text">
                     <p><%= @request.description.html_safe %></p>
                     <!-- <a onclick="myFunction()" id="myBtn" href="#">Ver más <i class="fa fa-angle-down" aria-hidden="true"></i></a> -->
                     </div>

                     <div class="Postularme-btn">
                     <% if @hires_open %>
                       <% if current_user == @request.user %>
                        <%= link_to 'Editar', edit_request_path(@request), class: "btn btn-primary" %>
                        <%= link_to 'Borrar', request_path(@request), class: "btn btn-danger", method: :delete, :data => {:confirm => 'Confirma que quieres borrar este pedido'}  %>
                       <% elsif  current_user && has_offered(current_user.id)  %>
                        <p class="text-muted">Tu oferta esta postulada</p>
                       <% else %>
                        <%= link_to 'Postularme', new_request_offer_path(@request), class: "btn btn-success postularme-offer" %>
                       <% end %>
                     <% end %>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="postulados-area">
   <div class="container">
       <div class="row">
           <div class="col-lg-12">
               <div class="postulados-text">
                   <h2>Postulados</h2>
               </div>
           </div>
       </div>
   </div>
</div>

<div class="fernanda-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="paginator-container fernanda-content">
                    <div class="paginated-other_offers fernanda-user-box">
                        <%= render( @my_offer ) if @my_offer.present? %>
                        <%= render( @other_offers ) if @other_offers.present? %>
                      <% if @my_offer.nil? && @other_offers.nil? %>
                        No hay postulados
                      <% end %>
                    </div>
                    <%= paginate @other_offers if @other_offers.present? %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render "reports/request"%>
