<div class="headertop-right">
  <div class="bellposition align-items-center justify-content-end">
    <a href="<%= root_path %>">
      <%= icon("fas", "home") %><br>
      inicio
    </a>
    <a href="<%= finance_path %>">
      <%= icon("fas", "exchange-alt") %><br>
      Transacciones
    </a>
    <a href="<%= conversations_path %>">
      <%= icon("fas", "envelope") %><br>
      Mensajes
    </a>

    <a href="#" class="redbell1">
      <span></span>
      <%= icon("fas", "bell") %><br>
      Notificaciones
    </a>

    <a href="<%= user_path(current_user) %>" class="authorclick">
      <%= image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "nav-avatar") %>
    </a>
  </div>

  <div class="bellposition2">
    <span></span>
    <a href="#">
      <i class="fa fa-bell"></i>
    </a>
  </div>
</div>

<div class="belldropdownarea">
  <div class="belldropdown-box">
    <div class="sameicon">
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
    </div>
    <div class="belldropdown-text">
      <p class="greens1">NUEVO JALE</p>
      <p class="greensbold">Te han contratado para el paquete “ Voy a limpiar tu casa”</p>
    </div>
    <div class="timer">
      <span>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        9:34am</span>
    </div>
  </div>

  <div class="belldropdown-box">
    <div class="sameicon">
      <i class="fa fa-comment-o" aria-hidden="true"></i>
    </div>

    <div class="belldropdown-text">
      <p class="greens1">NUEVO JALE</p>
      <p class="greensbold">Review en tu perfil</p>
      <p class="quam1">vel quam elementum pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor</p>
    </div>
    <div class="timer">
      <span>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        9:34am</span>
    </div>
  </div>

  <div class="belldropdown-box">

    <div class="sameicon">
      <i class="fa fa-check"></i>
    </div>

    <div class="belldropdown-text">
      <p class="greens1">NUEVO JALE</p>
      <p class="greensbold">Te han contratado para el paquete “ Voy a limpiar tu casa”</p>
    </div>
    <div class="timer">
      <span>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        9:34am</span>
    </div>
  </div>

  <div class="belldropdown-box">
    <div class="sameicon">
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </div>

    <div class="belldropdown-text">
      <p class="greens1">NUEVO JALE</p>
      <p class="greensbold">Te han contratado para el paquete “ Voy a limpiar tu casa”</p>
    </div>
    <div class="timer">
      <span>
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        9:34am</span>
    </div>
  </div>
</div>
