<div class="collapse navbar-collapse" id="navbarResponsive">

  <ul class="navbar-nav  ml-auto">

    <li class="nav-item <%= active? root_path %>">
      <%= link_to "Inicio", root_path, :class => 'nav-link js-scroll-trigger' %>
    </li>
    <li class="nav-item <%= active? requests_path %>">
      <%= link_to "Pedidos", requests_path, :class => 'nav-link js-scroll-trigger' %>
    </li>

    <li class="nav-item my_dropdown_menu_top">
      <div class="dropdown">
        <a class="nav-link js-scroll-trigger">Vender</a>
        <div class="dropdown-content">
          <ul>
            <li class="<%= active? user_path(current_user) %>">
              <%= link_to "Mis Jales", user_path(current_user), class: "my-gigs-btn" %>
            </li>
            <li class="<%= active? new_user_gig_path(current_user) %>">
              <%= link_to "Nuevo Jale", new_user_gig_path(current_user), class: "new-gig-btn" %>
            </li>
            <li class="" href="#">
              <a >Mis Ofertas</a>
            </li>
            <li class="">
              <a class="promote" href="#">Promuevete</a>
            </li>
          </ul>
        </div>
      </div>
    </li>

    <li class="nav-item my_dropdown_menu_top">
      <div class="dropdown">
        <a class="nav-link js-scroll-trigger">Comprar</a>
        <div class="dropdown-content">
          <ul>
            <li class="<%= active? user_path(current_user) %>">
              <%= link_to "Mis Pedidos", my_requests_path, class: "my-requests-btn" %>
            </li>
            <li class="<%= active? new_request_path %>">
              <%= link_to "Nuevo Pedido", new_request_path, class: "new-requests-btn" %>
            </li>

            <li class="">
              <a class="how-it-works-btn" href="#">Cómo funciona</a>
            </li>
            <li class="">
              <%= link_to "Jales Gustados", likes_path, class: "saved-btn" %>
            </li>

          </ul>
        </div>
      </div>
    </li>

    <li class="nav-item <%= active? conversations_path %>">
      <%= link_to fa_icon("envelope", class: "fa-lg"), conversations_path, :class => 'nav-link js-scroll-trigger' %>
    </li>

    <li class="nav-item  mesages_" data-behavior="read-notifications">
      <div class="dropdown">
        <a class="nav-link js-scroll-trigger notification" data-behavior="notifications"><%= fa_icon "bell", class: "fa_inline fa-lg" %><span data-behavior="unread-count" id="unread-count"></span></a>
        <div class="dropdown-content">
          <div class="tab-content">
            <div data-behavior="notification-items" class="notification-items">

              <!-- notifications are built here -->

            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item my_dropdown_menu my_image">
      <div class="dropdown">
        <label>
          <%= image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "nav-avatar") %>
        </label>
        <div class="dropdown-content">
          <ul>
            <li>
              <%= link_to "Mi Perfil", user_path(current_user.slug), class: "profile-button" %>
            </li>
            <li>
              <%= link_to "Configuracion", user_config_path(current_user.slug), class: "config-btn" %>
            </li>
            <li>
              <%= link_to "Transacciones", finance_path(:table => "purchases"), class: "transctions-btn" %>
            </li>
            <li>
              <%= link_to "Disputas", disputes_path, class: "disputes-btn" %>
            </li>
            <li>
              <a class="help-btn" href="#">Ayuda</a>
            </li>
            <li>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "logout-btn" %>
            </li>
          </ul>
        </div>
      </div>
    </li>

  </ul>

</div>
