<div class="col-lg-5 col-md-5">
  <div class="header-right-content" id="main-nav-btns">
    <div class="user-bar">
      <ul>
        <li>
          <a href="<%= finance_path %>"><%= icon("fas", "donate") %>
            <span>Transacciones</span></a>
        </li>
        <li>
          <a href="<%= conversations_path %>" data-behavior='read-messages'><%= icon("fas", "envelope", class: "mess-icon") %>
            <span>Mensajes</span></a>
        </li>
        <li>
          <a href="#" onclick="toggleNotifications(event);" data-behavior='read-notifications'><%= icon("fas", "bell", class: "notif-icon") %>
            <span> Notificaciones</span></a>
        </li>
        <%=link_to image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "user_pic"), my_account_users_path%>
      </ul>
    </div>
  </div>
</div>

<div class="belldropdownarea notification-items" data-behavior='notification-items'>
<!-- notifications heere -->
</div>
