<div class="header-right-content">
  <div class="user-bar">
    <ul>
      <li>
      <a href="<%= finance_path %>">
        <%= icon("fa", "exchange-alt") %><br>
        Transacciones
      </a>
      </li>
      <li>
      <a href="<%= conversations_path %>">
        <%= icon("fa", "envelope") %><br>
        Mensajes
      </a>
      </li>
      <li>
      <a href="#" class="redbell1" onclick="toggleNotifications(event);" data-behavior='read-notifications'>
        <!-- <span></span> -->
        <%= icon("fa","bell") %><br>
        Notificaciones
      </a>
      </li>
      <a href="<%= user_path(current_user) %>" class="authorclick">
        <%= image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "nav-avatar") %>
      </a>
    </ul>
  </div>
</div>

<div class="belldropdownarea notification-items" data-behavior='notification-items'>
  <!-- notifications heere -->
</div>
