<div id="navbarMenu" class="navbar-menu-wrapper">
  <div class="navbar-menu-header">
    <a href="base/template/index.html" class="df-logo">Jale<span>citos</span></a>
    <a id="mainMenuClose" href=""><i data-feather="x"></i></a>
  </div><!-- navbar-menu-header -->
<ul class="nav navbar-menu justify-content-center">
  <li class="nav-label pd-l-20 pd-lg-l-25 d-lg-none">Menu</li>
<li class="nav-item with-sub">
  <a href="" class="nav-link" ><i data-feather="briefcase"></i> Ver</a>
  <ul class="navbar-menu-sub">
    <li class="nav-sub-item">
      <%= link_to dashboard_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="briefcase"></i>Servicios (<%= @gigs_count %>)
      <% end %>
    </li>
    <li class="nav-sub-item">
      <%= link_to users_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="user"></i>Usuarios (<%= @user_count %>)
      <% end %>
    </li>
    <li class="nav-sub-item">
      <%= link_to categories_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="book"></i>Categorías
      <% end %>
    </li>
  </ul>
</li>
<li class="nav-item with-sub">
  <a href="" class="nav-link"><i data-feather="tool"></i> Administrar</a>
  <ul class="navbar-menu-sub">
    <li class="nav-sub-item">
      <%= link_to reports_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="bookmark"></i>Reportes (<%= @open_reports %>)
      <% end %>
    </li>
    <li class="nav-sub-item">
      <%= link_to bans_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="slash"></i>Bloqueos (<%= @banned_bans %>)
      <% end %>
    </li>
  </ul>
</li>
<li class="nav-item with-sub">
  <a href="" class="nav-link"><i data-feather="layers"></i> Marketing</a>
  <ul class="navbar-menu-sub">
    <li class="nav-sub-item">
      <%= link_to marketing_notifications_admins_path, class: "nav-sub-link" do  %>
        <i data-feather="bell"></i>Notificaciones
      <% end %>
    </li>
  </ul>
</li>

</ul>
</div>
<div class="navbar-right">
  <%= link_to "", class: "search-link", id: "navbarSearch" do  %>
    <i data-feather="search"></i>
  <% end %>

<div class="dropdown dropdown-message">
  <a href="" class="dropdown-link new-indicator" data-toggle="dropdown">
    <i data-feather="message-square"></i>
    <span class="d-none" new-message></span><!-- -->
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header" new-messages>Últimos mensajes</div>
    <!-- message content loaded by ajax -->
  <span class="container" no-messages>Nada para mostrar</span>

    <div class="dropdown-footer"><a href="<%= conversations_path %>">Ver todos los mensajes</a></div>
  </div><!-- dropdown-menu -->
</div><!-- dropdown -->
<div class="dropdown dropdown-notification">
  <a href="" class="dropdown-link new-indicator" data-toggle="dropdown" read-notifications>
    <i data-feather="bell"></i>
    <span class="d-none"></span>
  </a>
  <div class="dropdown-menu dropdown-menu-right">
    <div class="dropdown-header" notifications>Notificaciones</div>
    <!-- notification content -->

    <div class="dropdown-footer"><a href="<%= all_notifications_path %>">Ver todas las notificaciones</a> </div>
  </div><!-- dropdown-menu -->
</div><!-- dropdown -->
<div class="dropdown dropdown-profile">
  <a href="" class="dropdown-link" data-toggle="dropdown" data-display="static">
    <div class="avatar avatar-sm">
      <%= image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "rounded-circle", lazy: true) %>
    </div>
  </a><!-- dropdown-link -->
  <div class="dropdown-menu dropdown-menu-right tx-13">
    <div class="avatar avatar-lg mg-b-15">
      <%= image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "rounded-circle") %>
    </div>
    <h6 class="tx-semibold mg-b-25"><%= current_user.name %></h6>
    <%= link_to my_account_users_path, class: "dropdown-item" do  %>
      <i data-feather="user"></i>Mi perfil
    <% end %>
    <%= link_to configuration_path, class: "dropdown-item" do  %>
      <i data-feather="settings"></i>Configuración
    <% end %>
    <hr>
    <!-- <a href="page-help-center.html" class="dropdown-item"><i data-feather="help-circle"></i> Ayuda</a> -->
    <%= link_to destroy_user_session_path(device: "pending"), method: :delete, class: "dropdown-item" do  %>
      <i data-feather="log-out"></i>Cerrar sesión
    <% end %>
  </div><!-- dropdown-menu -->
</div><!-- dropdown -->
</div>
