<% if current_page?(user_mobile_search_path) || params[:device] == "mobile" %>
  <div class="tablet-mobile-top-ber">
    <%= form_with url: user_search_path(), method: :get ,:html => {class: "mobile-search-form"} , local: true do |f|%>
    <%= icon("fas", "search", onclick: "$(this).closest('form').find('input[type=submit]').click()", style: "cursor: pointer;") %>
    <%= f.text_field :query, value: params[:query], class: "mobile-query", placeholder: "Busca algo" %>
    <%= f.submit "continuar", style: "display:none;" %>
    <%= icon("fas", "times", onclick: "$('#query').val('')", style: "cursor: pointer;") %>
      <nav class="filters navbar navbar-expand-lg navbar-light bg-light" style="<%= "display:none;" if params[:device] != "mobile" %>">
        <%= f.text_field :location, class: 'form-control', id: "search_autocomplete", size: 50,
         placeholder: "Cualquier lugar de México", value: (params[:location].nil?)? current_user.location(true) : params[:location] %>
        <%= f.hidden_field :city_id, class: "city", value: (params[:city_id].nil?)? current_user.city_id : params[:city_id] %>
        <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Todas las categorías",
         :selected => params[:category_id] }, class: 'form-control', id: "category-select",
         onchange: "$(this).closest('form').submit()") %>
        <%= f.hidden_field :device, value: "mobile" %>
      </nav>

  <% end %>
</div>
<% elsif current_user %>
  <div class="header-to-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7">
          <div class="header-left-content">
            <div class="logo">
              <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/favicon.png'), root_path %>
            </div>
            <div class="input-area">
              <%= form_with url: user_search_path, method: :get ,:html => {class: "search-form"} , local: true do |f|%>
              <div class="form">
                <%= icon("fas", "search", onclick: "$(this).closest('form').find('input[type=submit]').click()", style: "cursor: pointer;") %>
                <%= f.text_field :query, value: params[:query], class: " desktop-query", placeholder: "Busca algo" %>
                <%= f.submit "continuar", style: "display:none;" %>
              </div>
              <div class="button-area">
                <nav class="filters navbar navbar-expand-lg navbar-light bg-light">
                  <%= f.text_field :location, class: 'form-control', id: "search_autocomplete", size: 50,
                   placeholder: "Ubicación", value: (params[:location].nil?)? current_user.location(true) : params[:location] %>
                  <%= f.hidden_field :city_id, class: "city", value: (params[:city_id].nil?)? current_user.city_id : params[:city_id] %>
                  <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Categoría",
                   :selected => params[:category_id] }, class: 'form-control', id: "category-select",
                   onchange: "$(this).closest('form').submit()") %>
                </nav>
              </div>
            <% end %>
          </div>

        </div>
      </div>
      <%= nav_links_helper %>
    </div>
  </div>
</div>
<!-- Header top End -->

<!-- Tablet mobile top ber Start -->
<div class="tablet-mobile-top-ber">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="tablet-mobile-input">
          <div class="mobile-input-icon">
            <a class="menu-open" href="<%= user_mobile_search_path %>">
              <i class="fa fa-search"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-6 justify-content-center text-center" style="display:flex;align-items:center;">

        <%= form_with model: User, url: update_users_path, method: :put , local: true do |f|%>
        <nav style="display:flex;justify-content:center;align-items:center;">
          <%= f.text_field :location, class: 'mobile_menu_autocomplete', id: "mobile_menu_autocomplete",
          size: 50, placeholder: raw("&#xf3c5;") + " Ubicación",
           value: (current_user.location(true).present?)? "&#xf3c5; #{current_user.location}".html_safe : "",
           style: "font-family: 'Font Awesome 5 Free' !important;font-weight:900;" %>
          <%# without submit button so the form cant be submitted if one option is not selected %>
            <%= f.hidden_field :city_id, class: "city" %>
          </nav>
        <% end %>

      </div>
      <div class="col-3 text-right">
        <div class="tablet-mobile-user">
          <%=link_to image_tag(avatar_display_helper(current_user.image_url(:thumb)), class: "user_pic", lazy: true), user_path(current_user)%>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Tablet mobile top ber End -->
<% else %>
<div class="headerd-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-12">
        <div class="headerd-logo">
          <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png', size: "138x32"), root_path %>
        </div>
        <div class="mobile-menu"></div>
      </div>
      <div class="col-lg-9 col-md-10 col-0">
        <div class="headerd-mainmenu">
          <nav id="mobile-menu">
            <%= nav_links_helper %>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>

<div id="notifications"></div>
