<% if current_user %>
  <div class="header-toparea">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-10 col-12">
          <div class="row headertop-left align-items-center justify-content-center">
            <div class="header-logo">
              <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png', size: "138x32"), root_path %>
            </div>

            <div class="headerlogo768">
              <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/favicon.png'), root_path %>
            </div>
            <%= form_with url: root_path, method: :get,:html =>{ class: "search-form"} , local: true do |f|%>
            <div class="search-form-div searchpage3s">
              <%= f.text_field :query, value: params[:query], placeholder: "¿Qué estás buscando?", class: "query" %>
              <a href="">
                <i class="fa fa-search"></i>
              </a>
            </div>
            <div class="headertop-location">
              <li>
                <%= icon("fas", "map-marker-alt") %>
                <%= f.text_field :location, id: "search_autocomplete", placeholder: "Cualquier lugar en México", value: (params[:location].nil? && current_user)? current_user.location : params[:location] %>
              </li>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 col-md-2">
        <%= nav_links_helper %>
      </div>
    </div>

    <div class="headertop">
      <div class="row">
        <div class="col-8">
          <div class="headertop-location ex">
            <li>
              <i class="fa fa-map-marker"></i>
              <a href="">Elige tu ciudad</a>
            </li>
          </div>
        </div>
        <div class="col-4">
          <div class="bellposition2 ex">
            <span></span>
            <a href="#">
              <i class="fa fa-bell"></i>
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<div id="notifications"></div>
<% else %>
<div class="headerd-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2 col-12">
        <div class="headerd-logo">
          <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png', size: "138x32"), root_path %>
        </div>
        <div class="mobile-menu"></div>
      </div>
      <div class="col-lg-9 col-md-10 col-0">
        <div class="headerd-mainmenu">
          <nav id="mobile-menu">
            <%= nav_links_helper %>
          </nav>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>
