<div id="main_menu">
  <% if current_page?(user_mobile_search_path) || current_page?(user_search_path) %>
    <%= render "shared/menu/user-desktop" %>
    <%= render "shared/menu/user-mobile-search" %>
  <% elsif current_user %>
    <%= render "shared/menu/user-desktop" %>
    <%= render "shared/menu/user-phone-tablet" %>
  <!-- Tablet mobile top ber End -->
  <% else %>
    <%= render "share/menu/guest" %>
  <% end %>
</div>

<div id="notifications"></div>
