<div class="col-lg-6">
<div class="transacciones-tab-text">
  <div class="pendiente-text">
      <h5 class="<%= order_seller.status %>"><%= t "orders.status.#{order_seller.status}" %></h5>
      <h4>ID: <%= order_seller.uuid %></h4>
      <% if order_seller.purchase_type == "Package"%>
      <p><%= link_to(order_seller.purchase.gig.title, user_gig_path(order_seller.purchase.gig.user.slug, order_seller.purchase.gig.slug), class: "order-title") rescue "Jale Eliminado" %></p>
      <% else %>
      <p><%= link_to order_seller.purchase.request.title, request_path(order_seller.purchase.request.slug), class: "order-title" rescue "Orden Eliminada"%>.</p>
      <% end %>
   </div>

    <div class="diego-velez-text">
      <div class="diego-user">
        <%= link_to user_path(order_seller.employer.slug) do %>
          <%= image_tag(order_seller.employer.image_url(:thumb))%>
          <h5><%= order_seller.employer.alias %></h5>
        <% end %>
      </div>
        <div class="Paquete-Básico">
            <% if order_seller.purchase_type == "Package"%>
            <h5>Paquete <%= t "gigs.packages.#{order_seller.purchase.pack_type}" rescue "Eliminado" %></h5>
            <% else %>
            <h5>Pedido</h5>
            <% end %>
            <span><%= date_time_to_format(order_seller.created_at, current_user.time_zone) %></span>
            <h4><%= "#{number_to_currency(order_seller.total)} MXN" %></h4>
            <% if order_seller.details? %>
            <br>
            <strong>Detalles extras: </strong><p class="inline"><%= order_seller.details %></p>
            <% end %>
            <% if order_seller.address? %>
            <br>
            <strong>Dirección: </strong><p class="inline"><%= order_seller.address %></p>
            <iframe width="100%" height="170" frameborder="0" style="border:0"
            src='https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch("GOOGLE_MAP_API") %>&q=<%= CGI.escape(order_seller.address) %>'
            allowfullscreen="allowfullscreen">
            </iframe>
            <% end %>
            <div class="diego-velez-btn">
              <% if order_seller.pending? %>
              <% if order_seller.started_at? %>
              <%= link_to "denegar", refund_order_path(order_seller.uuid), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
              <% else %>
              <%= link_to "denegar", refund_order_path(order_seller.uuid), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
              <%= link_to "solicitar inicio", request_start_order_path(order_seller.uuid), :method => :put %>
              <% end %>
              <% elsif order_seller.in_progress? %>
              <% if order_seller.completed_at? %>
              <%= link_to "disputa", new_order_dispute_path(order_seller.uuid) %>
              <%= link_to "reembolsar", refund_order_path(order_seller.uuid), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
              <% else %>
              <%= link_to "reembolsar", refund_order_path(order_seller.uuid), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
              <%= link_to "solicitar finalizar", request_complete_order_path(order_seller.uuid), :method => :put %>
              <% end %>
              <% elsif order_seller.disputed? %>
              <%= link_to "ir al caso", order_dispute_path(order_seller.uuid, order_seller.dispute) %>
              <% end %>
            </div>
        </div>
    </div>
  </div>
</div>
