<div class="col-lg-6">
<div class="transacciones-tab-text">
  <div class="pendiente-text">
      <h5><%= order_buyer.status %></h5>
      <h4>ID: <%= order_buyer.uuid %></h4>
      <% if order_buyer.purchase_type == "Package"%>
      <p><%= order_buyer.purchase.gig.title %></p>
      <% else %>
      <p><%= order_buyer.purchase.request.title %>.</p>
      <% end %>
   </div>

    <div class="diego-velez-text">
        <div class="diego-user">
            <a href=""><%= image_tag(order_buyer.employee.image_url(:thumb)) %></a>
            <h5><%= order_buyer.employee.alias %></h5>
        </div>
        <div class="Paquete-Básico">
            <% if order_buyer.purchase_type == "Package"%>
            <h5><%="Paquete #{order_buyer.purchase.pack_type}"%></h5>
            <% else %>
            <h5>Pedido</h5>
            <% end %>
            <span><%= order_buyer.created_at %></span>
            <h4><%= "$#{order_buyer.total} MXN" %></h4>
        </div>


        <div class="diego-velez-btn">
          <% if order_buyer.pending? %>
            <% if order_buyer.started_at? %>
              <%= link_to "reembolso", refund_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
              <%= link_to "comenzar Trabajo", start_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres comenzar la orden?'} %>
            <% else %>
              <%= link_to "reembolso", refund_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
            <% end %>
          <% elsif order_buyer.in_progress? %>
              <% if order.completed_at? %>
                <%= link_to "disputa", new_order_dispute_path(order_buyer.uuid) %>
                <%= link_to "finalizar orden", complete_order_path(order_buyer.id), :method => :put, :data => {:confirm => 'Seguro que quieres finalizar la orden?'} %>
              <% else %>
                <%= link_to "disputa", new_order_dispute_path(order_buyer.uuid) %>
              <% end %>
          <% elsif order_buyer.disputed? %>
                <%= link_to "ir al caso", order_dispute_path(order_buyer.uuid, order_buyer.dispute) %>
          <% end %>
        </div>
    </div>
  </div>
  </div>
