<tr>
  <td><%= order_dashboard.uuid %></td>
  <td><%= order_dashboard.total %></td>
  <td><%= order_dashboard.employer.alias %></td>
  <td><%= order_dashboard.employee.alias %></td>
  <td><%= order_dashboard.purchase.class == Package ? order_dashboard.purchase.gig.title : order_dashboard.purchase.request.title %></td>
  <td><%= order_dashboard.status %></td>
</tr>
