<div class="col-lg-6">
<div class="transacciones-tab-text">
  <div class="pendiente-text">
      <h5 class="<%= order_buyer.status %>"><%= t "orders.status.#{order_buyer.status}" %></h5>
      <h4>ID: <%= order_buyer.uuid %></h4>
      <% if order_buyer.purchase_type == "Package"%>
      <p><%= link_to order_buyer.purchase.gig.title, user_gig_path(order_buyer.purchase.gig.user.slug, order_buyer.purchase.gig.slug), class: "order-title" rescue "Jale Eliminado" %></p>
      <% else %>
      <p><%= link_to order_buyer.purchase.request.title, request_path(order_buyer.purchase.request.slug), class: "order-title" rescue "Orden Eliminada" %>.</p>
      <% end %>
   </div>

    <div class="diego-velez-text">
        <div class="diego-user">
          <%= link_to user_path(order_buyer.employee.slug) do %>
            <%= image_tag(order_buyer.employee.image_url(:thumb))%>
            <h5><%= order_buyer.employee.alias %></h5>
          <% end %>
        </div>
        <div class="Paquete-Básico">
            <% if order_buyer.purchase_type == "Package"%>
            <h5>Paquete <%= t "gigs.packages.#{order_buyer.purchase.pack_type}" rescue "Eliminado"%></h5>
            <% else %>
            <h5>Pedido</h5>
            <% end %>
            <span><%= order_buyer.created_at %></span>
            <h4><%= "$#{order_buyer.total} MXN" %></h4>
            <br>
            <% if order_buyer.address? %>
            <strong>Dirección: </strong><p class="inline"><%= order_buyer.address %></p>
            <iframe width="100%" height="170" frameborder="0" style="border:0"
            src='https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch("GOOGLE_MAP_API") %>&q=<%= CGI.escape(order_buyer.address) %>'            allowfullscreen="allowfullscreen">
            </iframe>
            <% end %>
        </div>


        <div class="diego-velez-btn">
          <% if order_buyer.pending? %>
            <% if order_buyer.started_at? %>
              <%= link_to "reembolso", refund_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
              <%= link_to "comenzar", start_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres comenzar la orden?'} %>
            <% else %>
              <%= link_to "reembolso", refund_order_path(order_buyer.id), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
            <% end %>
          <% elsif order_buyer.in_progress? %>
              <% if order_buyer.completed_at? %>
                <%= link_to "disputa", new_order_dispute_path(order_buyer.uuid) %>
                <%= link_to "finalizar orden", complete_order_path(order_buyer.id), :method => :put, :data => {:confirm => 'Seguro que quieres finalizar la orden?'} %>
              <% else %>
                <%= link_to "disputa", new_order_dispute_path(order_buyer.uuid) %>
              <% end %>
          <% elsif order_buyer.disputed? %>
                <%= link_to "ir al caso", order_dispute_path(order_buyer.uuid, order_buyer.dispute) %>
          <% end %>
        </div>
    </div>
  </div>
  </div>
