<div class="col-lg-6">
<div class="transacciones-tab-text">
  <div class="pendiente-text">
      <h5 class="<%= single_purchase.status %>"><%= t "orders.status.#{single_purchase.status}" %></h5>
      <h4># <%= single_purchase.uuid %></h4>
      <% if single_purchase.purchase_type == "Package"%>
      <p><%= link_to single_purchase.purchase.gig.title, user_gig_path(single_purchase.purchase.gig.user.slug, single_purchase.purchase.gig.slug), class: "order-title" rescue "Jale Eliminado" %></p>
      <% else %>
      <p><%= link_to single_purchase.purchase.request.title, request_path(single_purchase.purchase.request.slug), class: "order-title" rescue "Orden Eliminada" %>.</p>
      <% end %>
   </div>

    <div class="diego-velez-text">
        <div class="diego-user">
          <%= link_to user_path(single_purchase.employee.slug) do %>
            <%= image_tag(single_purchase.employee.image_url(:thumb))%>
            <h5><%= single_purchase.employee.alias %></h5>
          <% end %>
          <% if single_purchase.status == "pending" || single_purchase.status == "in_progress" %>
            <%= link_to conversations_path(user_id: single_purchase.employee.slug), class: "transaction-message-icon" do %>
              <strong><%= icon("fas", "comment") %> Mensaje</strong>
            <% end %>
          <% end %>
        </div>
        <div class="Paquete-Básico">
            <% if single_purchase.purchase_type == "Package"%>
            <h5>Paquete <%= t "gigs.packages.#{single_purchase.purchase.pack_type}" rescue "Eliminado"%></h5>
            <% else %>
            <h5>Pedido</h5>
            <% end %>
            <span><%= date_time_to_format(single_purchase.created_at, current_user.time_zone) %></span>
            <h4><%= "#{number_to_currency(single_purchase.total)} MXN" %></h4>
            <% if single_purchase.details? %>
            <br>
            <strong>Detalles extras: </strong><p class="inline"><%= single_purchase.details %></p>
            <% end %>
            <% if single_purchase.address? %>
            <br>
            <strong>Dirección: </strong><p class="inline"><%= single_purchase.address %></p>
            <iframe defer async width="100%" height="170" frameborder="0" style="border:0"
            src='https://www.google.com/maps/embed/v1/place?key=<%= ENV.fetch("GOOGLE_MAP_API") %>&q=<%= CGI.escape(single_purchase.address) %>'
            allowfullscreen="allowfullscreen">
            </iframe>
            <% end %>
            <% if single_purchase.in_progress? %>
              <% if single_purchase.completed_at? %>
              <p class="time-left">La orden se autocompletará en: <%= distance_of_time_in_words(Time.now, single_purchase.started_at + 72.hours) %></p>
              <% end %>
            <% end %>
            <div class="diego-velez-btn">
              <% if single_purchase.pending? %>
              <% if single_purchase.started_at? %>
              <%= link_to "reembolso", refund_order_path(single_purchase.uuid), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
              <%= link_to "comenzar", start_order_path(single_purchase.uuid), method: :put, :data => {:confirm => 'Seguro que quieres comenzar la orden?'} %>
              <% else %>
              <%= link_to "reembolso", refund_order_path(single_purchase.uuid), method: :put, :data => {:confirm => 'Seguro que quieres reembolsar?'} %>
              <% end %>
              <% elsif single_purchase.in_progress? %>
              <% if single_purchase.completed_at? %>
              <%= link_to "disputa", new_order_dispute_path(single_purchase.uuid) %>
              <%= link_to "finalizar orden", complete_order_path(single_purchase.uuid), :method => :put, :data => {:confirm => 'Seguro que quieres finalizar la orden?'} %>
              <% else %>
              <%= link_to "disputa", new_order_dispute_path(single_purchase.uuid) %>
              <% end %>
              <% elsif single_purchase.disputed? %>
              <%= link_to "ir al caso", order_dispute_path(single_purchase.uuid, single_purchase.dispute) %>
              <% end %>
            </div>
        </div>
    </div>
  </div>
  </div>
