<div class="col-lg-8">
  <div class="checkout-left-content">
    <div class="consectetur-text">
      <% if defined? @package %>
        <%= image_tag( image_display_helper(default_gig_img(@package.gig.images), @package.gig.youtube_url)) %>
      <% else %>
        <%= image_tag( image_display_helper(default_gig_img(@offer.request.images), nil)) %>
      <% end %>
      <h4><%= (defined? @package) ? @package.gig.title  : @offer.request.title%></h4>
    </div>
    <div class="metodo-text">
      <h4>Método de Pago
        <%= link_to "Administrar Tarjetas #{icon("fa", "angle-right")}".html_safe, configuration_path(collapse: "payment_methods", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue ""), quantity: (params[:quantity] rescue "")) %></h4>
    </div>

    <div class="checkmark-area">
      <% if @user_cards.count > 0 %>
      <%= render partial: 'shared_user/hire/card', collection: @user_cards, locals:{ f: f }%>
      <% else %>
        No tienes tarjetas agregadas. Haz click <%= link_to "Aquí", configuration_path(collapse: "payment_methods", modal: "card", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue ""), quantity: (params[:quantity] rescue "")) %> para agregar una nueva.
      <% end %>
    </div>

    <div class="metodo-text">
      <h4>Detalles de la orden</h4>
    </div>

    <%= render partial: 'orders/details', locals:{ f: f }%>

    <div class="metodo-text">
      <h4>Facturación
        <%= link_to "Administrar Facturación #{icon("fa", "angle-right")}".html_safe, configuration_path(collapse: "billing", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue ""), quantity: (params[:quantity] rescue "")) %></h4>
    </div>

    <%= render partial: 'shared_user/hire/billing_profile', collection: @billing_profiles, locals:{ f: f } %>


  </div>
</div>
