<div class="col-lg-8">
  <div class="checkout-left-content">
    <div class="consectetur-text">
      <%= image_tag( image_display_helper(@package.gig.images[0])) if (defined? @package) %>
      <h4><%= (defined? @package) ? @package.gig.title  : @offer.request.title%></h4>
    </div>
    <div class="metodo-text">
      <h4>Método de Pago
        <%= link_to "Administrar Tarjetas #{icon("fa", "angle-right")}".html_safe, configuration_path(collapse: "payment_methods", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue "")) %></h4>
    </div>

    <div class="checkmark-area">
      <% if @user_cards.count > 0 %>
      <%= render partial: 'shared_user/hire/card', collection: @user_cards, locals:{ f: f }%>
      <% else %>
        No tienes tarjetas agregadas. Haz click <%= link_to "Aqui", configuration_path(collapse: "payment_methods", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue "")) %> para agregar una nueva.
      <% end %>
    </div>

    <div class="metodo-text">
      <h4>Facturación
        <%= link_to "Administrar Facturación #{icon("fa", "angle-right")}".html_safe, configuration_path(collapse: "billing", package_id: (@package.slug rescue ""), offer_id: (@offer.id rescue "")) %></h4>
    </div>

    <%= render partial: 'shared_user/hire/billing_profile', collection: @billing_profiles, locals:{ f: f } %>

  </div>
</div>
