<div class="summary_confirmation">
  <div class="row">
    <div class="col-lg-12">
      <h4>Resumen</h4>
    </div>

  </div>
  <!-- -->
  <div class="confirm_content">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag(avatar_display_helper(@package.gig.user.image_url(:thumb)), class: "nav-avatar") %>
      </div>
      <div class="col-lg-10">
        Voy a <%= @package.gig.name %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong><%= @package.description %></strong>

      </div>
    </div>


    <!-- -->
    <div class="row">
      <div class="col-lg-6">
        Total
      </div>
      <div class="col-lg-6 text-right">

        <%= number_to_currency(@package.price, precision: 2)%> MXN
      </div>
    </div>

    <div class="row">
      <%= f.hidden_field :purchase, :value => params[:id] %>

      <div class="col-lg-12 text-center">
        <%= f.submit "Confirmar y Pagar",  class: "continue_purchase" %>
      </div>
    </div>
  </div>

</div>
