<div class="col-lg-4">
    <div class="checkout-right-content">
        <div class="cualquier-text">
            <%= render "shared_user/hire/disclaimer" %>
        </div>
        <div class="paquete-text">
          <strong><%= number_to_currency(purchase_order_total(@package.price), precision: 2) %> MXN</strong>
            <h4>Paquete <%= t "gigs.packages.#{@package.pack_type}" %></h4>

        </div>
        <div class="mantenimiento-text">
              <h4><%= @package.name %></h4>
           <p><%= @package.description %></p>
        </div>
        <div class="total-a">
          <p>Subtotal<span><%= number_to_currency(@price[:subtotal]) %> MXN</span></p>
          <p>Comisión<span><%= number_to_currency(@price[:fee]) %> MXN</span></p>
          <p>Total<span><%= number_to_currency(purchase_order_total(@package.price), precision: 2) %> MXN</span></p>
        </div>
        <div class="continuars-btn">
          <%= f.hidden_field :purchase, :value => params[:id] %>
          <%= f.hidden_field :purchase_type, :value => "Package" %>
          <div class="">
              <%= f.button "Continuar", class: "btn btn-success", id: "purchase", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Comprando.."} %>
          </div>
        </div>
    </div>
</div>
