<div class="summary_confirmation">
  <div class="row">
    <div class="col-lg-12">
      <h4>Resumen</h4>
    </div>

  </div>
  <!-- -->
  <div class="confirm_content">
    <div class="row">
      <div class="col-lg-2">
        <%= image_tag(avatar_display_helper(@package.gig.user.image_url(:thumb)), style: "width: 30px;border-radius: 50%;") if defined? @package %>
      </div>
      <div class="col-lg-10">
        <%= (defined? @package) ? "Voy a  #{@package.gig.name}"  : @offer.request.title%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <strong><%= (defined? @package) ? @package.description.html_safe : @offer.description.html_safe %></strong>

      </div>
    </div>


    <!-- -->
    <div class="row">
      <div class="col-lg-6">
        Subtotal
      </div>
      <div class="col-lg-6 text-right subtotal">

        <%= (defined? @package) ? number_to_currency(cons_mult_helper(@package.price), precision: 2) : number_to_currency(cons_mult_helper(@offer.price), precision: 2) %> MXN
      </div>
      <div class="col-lg-6 tax">
        IVA
      </div>
      <div class="col-lg-6 text-right tax tax-val">
        <%= (defined? @package) ? number_to_currency(order_tax(@package.price), precision: 2) : number_to_currency(order_tax(@offer.price), precision: 2) %> MXN
      </div>
      <div class="col-lg-6">
        Total
      </div>
      <div class="col-lg-6 text-right total">
        <%= (defined? @package) ? number_to_currency(purchase_order_total(@package.price), precision: 2) : number_to_currency(purchase_order_total(@offer.price), precision: 2) %> MXN
      </div>
    </div>

    <div class="row">
      <%= f.hidden_field :purchase, :value => params[:id] %>
      <%= f.hidden_field :purchase_type, :value => (defined? @package) ? "Package" : "Offer" %>

      <div class="col-lg-12 text-center">
        <%= f.submit "Confirmar y Pagar",  class: "btn continue_purchase" %>
      </div>
    </div>
  </div>

</div>
