<div class="col-lg-4">
    <div class="checkout-right-content">
        <div class="cualquier-text">
            <%= render "shared_user/hire/disclaimer" %>
        </div>
        <div class="paquete-text">
          <strong><%= number_to_currency(purchase_order_total(@offer.price), precision: 2) %> MXN</strong>
            <h4>Pedido</h4>
        </div>
        <div class="mantenimiento-text">
          <div>
              <h4>Oferta de <%= @offer.user.alias %></h4>
          </div>
          <pre><strong>El precio establecido<%= (@offer.materials) ? " " : " NO " %>cubre material a utilizar.</strong></pre>
           <pre><%= @offer.description %></pre>
        </div>
        <div class="total-a">
            <% if @offer.hours.present? %>
              <p><strong>Horas estimadas</strong><span><%= @offer.hours %></span></p>
            <% end %>
            <p><strong>Subtotal</strong><span><%= number_to_currency(@price[:subtotal]) %> MXN</span></p>
            <p><strong>Comisión</strong><span><%= number_to_currency(@price[:fee]) %> MXN</span></p>
            <p><strong>Total</strong><span><%= number_to_currency(purchase_order_total(@offer.price), precision: 2) %> MXN</span></p>
        </div>
        <div class="continuars-btn">
          <%= f.hidden_field :purchase, :value => params[:id] %>
          <%= f.hidden_field :purchase_type, :value => "Offer" %>
          <%= f.hidden_field :load_time, :value => Time.now %>
          <div class="continuars-btn">
              <%= f.button "Continuar", class: "btn btn-success", id: "purchase", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Comprando.."} %>
          </div>
        </div>
    </div>
</div>
