<div class="transacciones-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="transacciones-text">
          <h1>Transacciones</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transacciones secsion End -->

<!-- Transacciones tab secsion Start -->
<div class="Transacciones-tab-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="Transacciones-tab-area">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link <%= "active" if params[:table] == "purchases" || params[:table].nil? %>" id="nav-home-tab" data-toggle="tab" href="#Shah-Home" role="tab" aria-controls="nav-home" aria-selected="true">Compras</a>
              <a class="nav-item nav-link <%= "active" if params[:table] == "sales" %>" id="nav-profile-tab" data-toggle="tab" href="#Shah-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ventas</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="paginator-container tab-pane fade <%= "show active" if params[:table] == "purchases"|| params[:table].nil? %>" id="Shah-Home" role="tabpanel" aria-labelledby="nav-home-tab">
              <div class="paginated-purchases transacciones-tab-content row">
                <%= render partial: 'orders/single_purchase', collection: @purchases %>
                <%= "<div class='container'>No hay nada para mostrar</div>".html_safe if @purchases.total_count == 0 %>
              </div>
              <%= paginate @purchases, param_name: :purchases  %>
            </div>
            <div class="paginator-container tab-pane fade <%= "show active" if params[:table] == "sales" %>" id="Shah-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
              <div class="paginated-sales transacciones-tab-content row">
                <%= render partial: 'orders/single_sale', collection: @sales %>
                <%= "<div class='container'>No hay nada para mostrar</div>".html_safe if @sales.total_count == 0 %>
              </div>
              <%= paginate @sales, param_name: :sales  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
