<div class="transacciones-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="transacciones-text">
          <span>
            <%= link_to icon("fas","arrow-left"), 'javascript:history.go(-1);' %>
          </span>
          <h1>Transacciones</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Transacciones secsion End -->

<!-- Transacciones tab secsion Start -->
<div class="Transacciones-tab-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="Transacciones-tab-area">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link <%= "active" if params[:table] == "purchases" || params[:table].nil? %>" id="nav-home-tab" data-toggle="tab" href="#Shah-Home" role="tab" aria-controls="nav-home" aria-selected="true">Compras</a>
              <a class="nav-item nav-link <%= "active" if params[:table] == "sales" %>" id="nav-profile-tab" data-toggle="tab" href="#Shah-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Ventas</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade <%= "show active" if params[:table] == "purchases"|| params[:table].nil? %>" id="Shah-Home" role="tabpanel" aria-labelledby="nav-home-tab">

                  <div class="transacciones-tab-content row">
                    <%= render partial: 'orders/order_buyer', collection: @purchases %>
                    <%= "No hay nada para mostrar" if @purchases.count == 0 %>
              </div>
            </div>
            <div class="tab-pane fade <%= "show active" if params[:table] == "sales" %>" id="Shah-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="transacciones-tab-content row">
                    <%= render partial: 'orders/order_seller', collection: @sales %>
                    <%= "No hay nada para mostrar" if @purchases.count == 0 %>
                  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
