<div class="container-fluid sales_manage">
  <div class="section container">
    <!-- -->
    <div class="row">

      <div class="col-lg-12  col-md-12">
        <h3>Administrar Ventas</h3>
      </div>
    </div>
    <!-- -->

    <div class="row">

      <div class="col-lg-12  col-md-12">

        <ul class="tabs nav nav-tabs">
          <li>
            <a href="#active">Activos</a>
          </li>
          <li>
            <a href="#pending">Pendientes</a>
          </li>
          <li>
            <a href="#refunded">Reembolsados</a>
          </li>
          <li>
            <a href="#completed">Completados</a>
          </li>

        </ul>
        <!-- .tabs -->
        <div class="section1"></div>
        <div class="tabWrap">
          <div class="tabContainer">
<!-- New -->
            <div id="active" class="tabContent">
              <table class="table-responsive1">

                <tr class="heading_table">
                  <td colspan="100%">Activos</td>
                </tr>
                <%= render 'pages/sales/table_head' %>
                <%= render partial: 'pages/sales/order', collection: @in_progress_sales %>

              </table>
            </div>
            <!-- .tabContent -->

            <!-- Active -->
            <div id="pending" class="tabContent">
              <table class="table-responsive1">

                <tr class="heading_table">
                  <td colspan="100%">Pendientes</td>
                </tr>
                <%= render 'pages/sales/table_head' %>
                <%= render partial: 'pages/sales/order', collection: @pending_sales %>


              </table>
            </div>
            <!-- .tabContent -->

            <!-- Delivered -->
            <div id="refunded" class="tabContent">
              <table class="table-responsive1">

                <tr class="heading_table">
                  <td colspan="100%">Reembolsados</td>
                </tr>
                <%= render 'pages/sales/table_head' %>
                <%= render partial: 'pages/sales/order', collection: @refunded_sales %>

              </table>
            </div>
            <!-- .tabContent -->

            <!-- Completed -->
            <div id="completed" class="tabContent">
              <table class="table-responsive1">

                <tr class="heading_table">
                  <td colspan="100%">Completados</td>
                </tr>
                <%= render 'pages/sales/table_head' %>
                <%= render partial: 'pages/sales/order', collection: @closed_sales %>

              </table>
            </div>
            <!-- .tabContent -->


          </div>
          <!-- .tabContainer -->
        </div>
        <!-- .tabWrap -->

      </div>

    </div>

  </div>
</div>
