<div class="col-lg-12">
  <%= link_to ticket_path(ticket.slug) do %>
  <div class="transacciones-tab-text">
    <div class="ticket-text">
      <h5 class="<%= ticket.status %>"><%= t "tickets.status.#{ticket.status}" %></h5>
      <h4><span class="dot dot-<%= ticket.priority %>"></span></h4>
      <p class="ticket-title"><%= ticket.title %></p>
    </div>
  </div>
  <% end %>
</div>
