<%= render 'shared_user/tickets/top_ticket_nav' %>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tickets-tab-text">
        <div class="ticket-text">
          <h5 class="<%= @ticket.status %>"><%= t "tickets.status.#{@ticket.status}" %></h5>
          <h4>
            <span class="dot dot-<%= @ticket.priority %>"></span></h4>
          <p class="ticket-title"><%= @ticket.title %></p>
          <pre class="ticket-description"><%= @ticket.description %></pre>
          <div class="col-lg-12" style="display:flex;flex-wrap:wrap;">
            <% @ticket.images.each do |image| %>
              <div class="current_img img-thum">
                <%=link_to image_tag(image.url, size: '50x50'), image.url, data: {lity: true} %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'shared_user/tickets/response', collection: @ticket_responses %>
<%= render 'shared_user/tickets/response_form' if @ticket.in_progress? %>
