<tr class="body_table" valign="middle">
  <td class="buyer">
    <h5><%= link_to order.user.slug, user_path(order.user.slug) %></h5>
  </td>
  <td><%= link_to "Voy a #{order.purchase.gig.name}", user_gig_path(order.purchase.gig.user, order.purchase.gig)  %></td>
  <td> <%= order.purchase.pack_type %></td>
  <td><%= order.created_at %></td>
  <td><%= order.total %> MXN</td>
  <td>
    <span class="<%= order.status.downcase %>"><%= order.status %></span>
  </td>
  <td>
    <% if order.pending? %>
      <% if order.started_at? %>
        <%= link_to fa_icon("undo", title: "Cancelar Trabajo", class: "fa-lg"), root_path %>
      <% else %>
        <%= link_to fa_icon("play", title: "Solicitar Comenzar", class: "fa-lg"), request_start_order_path(order.id), :method => :put %>
        <%= link_to fa_icon("undo", title: "Denegar Trabajo", class: "fa-lg"), refund_order_path(order.id), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
      <% end %>
    <% elsif order.in_progress? %>
      <% if order.completed_at? %>
        <%= link_to fa_icon("undo", title: "Reembolsar Trabajo", class: "fa-lg"), refund_order_path(order.id), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
        <%= link_to fa_icon("exclamation-circle", title: "Abrir Disputa", class: "fa-lg"), root_path %>
      <% else %>
        <%= link_to fa_icon("check-circle", title: "Solicitar Finalizacion", class: "fa-lg"), request_complete_order_path(order.id), :method => :put %>
        <%= link_to fa_icon("undo", title: "Reembolsar Trabajo", class: "fa-lg"), refund_order_path(order.id), method: :put, :data => {:confirm => 'Seguro que quieres Reembolsar?'} %>
      <% end %>
    <% end %>
  </td>
</tr>
