<tr class="body_table" valign="middle">
  <td class="buyer">
    <h5><%= link_to order.user.slug, user_path(order.user.slug) %></h5>
  </td>

  <td><%= order.purchase.name %>
  </td>
  <td> <%= order.purchase.pack_type %></td>
  <td><%= order.created_at %></td>
  <td><%= order.total %> MXN</td>
  <td>
    <span class="<%= order.status.downcase %>"><%= order.status %></span></td>
</tr>
