<tr class="body_table" valign="middle">
  <td class="buyer"><%= link_to dispute.order.employer.slug, user_path(dispute.order.employer.slug) %></td>
  <td><%= link_to dispute.order.employee.slug, user_path(dispute.order.employee.slug) %></td>
  <% if dispute.order.purchase_type == "Package" %>
    <td><%= link_to dispute.order.uuid.first(4), the_gig_path(dispute.order.purchase.gig) %></td>
  <% end %>
  <td><%=  dispute.status.split('_').join(' ') %></td>
  <td><%= link_to icon("fas","arrow-circle-right", title: "Ir al caso", class: "fa-lg"), order_dispute_path(dispute.order.uuid, dispute.order.dispute) %></td>
</tr>
