<div class="container-fluid dashboard_front">
  <div class="container">
    <div class="col-lg-12 dashboard_front_right">
      <div class="gap"></div>

      <div class="education_wrapper">
        <div class="tabContainer gigs_collection">
          <div class="tabContent">
            <div class="row align_center">
              <% if current_user.has_roles?(:admin) %>
                <% if ! (@dispute.refunded? || @dispute.proceeded?) %>
                  <div class="col-lg-6">
                    <%= link_to "Reembolsar Orden", refund_order_path(@dispute.order), class: "post", method: :put %>
                  </div>
                  <div class="col-lg-6">
                    <%= link_to "Completar Orden", complete_order_path(@dispute.order), class: "post", method: :put %>
                  </div>
                  <hr>
                <% end %>
              <% end %>
              <div class="col-lg-8">
              <strong>Causa de la disputa</strong>
              <%= @dispute.image? ? link_to(icon("fas","paperclip", class: "fa-lg"), @dispute.image_url) : "" %>
              <hr>
                <%= @dispute.description.html_safe %>
              </div>
              <div class="col-lg-4">
                <strong>Detalles de la disputa</strong>
                <hr>
                <p><strong>Numero de Orden: </strong><%= @dispute.order.uuid %></p>
                <% if @dispute.order.purchase_type == "Package" %>
                <p><strong>Jale: </strong><%= @dispute.order.purchase ? link_to(@dispute.order.purchase.gig.title, user_gig_path(@dispute.order.purchase.gig.user.slug, @dispute.order.purchase.gig.slug)) : "Borrado" %></p>
                <p><strong>Paquete: </strong><%= @dispute.order.purchase ? @dispute.order.purchase.pack_type : "Borrado" %></p>
                <% else %>
                <p><strong>Pedido: </strong><%= link_to(@dispute.order.purchase.request.title, request_path(@dispute.order.purchase.request.slug)) %></p>
                <% end %>
                <p><strong>Estado: </strong> <%= t "disputes.status.#{@dispute.status}" %></p>
              </div>
              <div class="col-lg-12  col-md-12">
                <% if @dispute.status == "waiting_for_employee" && @dispute.employee == current_user %>
                  <%= render 'disputes/reply_box'%>
                <% elsif @dispute.status == "waiting_for_employer" && @dispute.employer == current_user %>
                  <%= render 'disputes/reply_box'%>
                <% elsif current_user.has_roles?(:admin) %>
                  <%= render 'disputes/reply_box'%>
                <% end %>

              </div>
              <div class="col-lg-12 align_center">
                <div class="row align_center">
                  <%= render partial: "disputes/reply", collection: @replies %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right col -->
  </div>
</div>
