<div class="container-fluid dashboard_front">
  <div class="container">
    <div class="col-lg-12 dashboard_front_right">
      <div class="gap"></div>

      <div class="education_wrapper">
        <div class="tabContainer gigs_collection">
          <div class="tabContent">
            <div class="row align_center">
              <% if current_user.has_roles?(:admin) %>
                <% if ! (@dispute.refunded? || @dispute.proceeded?) %>
                  <div class="col-lg-6">
                    <%= link_to "Reembolsar Orden", refund_order_path(@dispute.order), class: "post", method: :put %>
                  </div>
                  <div class="col-lg-6">
                    <%= link_to "Completar Orden", complete_order_path(@dispute.order), class: "post", method: :put %>
                  </div>
                  <hr>
                <% end %>
              <% end %>
              <div class="col-lg-12">
                <h3>Causa de la disputa</h3>
              </div>
              <div class="col-lg-12">
                <%= @dispute.description %>
              <hr>
              </div>

              <div class="col-lg-12">
                <h3>Evidencia</h3>
              </div>
              <div class="col-lg-12" style="display:flex;flex-wrap:wrap;">
              <% if @dispute.images.present? %>
              <% @dispute.images.each do |image| %>
              <div class="current_img img-thum">
                <%=link_to image_tag(image.url, size: '150x150'), image.url  %>
              </div>
              <% end %>
              <% else %>
                No hay nada para mostrar
              <% end %>
              </div>

              <div class="col-lg-12">
                <hr>
                <h3>Detalles de la disputa</h3>
                <p><strong>Numero de Orden: </strong><%= @dispute.order.uuid %></p>
                <% if @dispute.order.purchase_type == "Package" %>
                <p><strong>Jale: </strong><%= @dispute.order.purchase ? link_to(@dispute.order.purchase.gig.title, gig_path(@dispute.order.purchase.gig.slug)) : "Borrado" %></p>
                <p><strong>Paquete: </strong><%= @dispute.order.purchase ? @dispute.order.purchase.pack_type : "Borrado" %></p>
                <% else %>
                <p><strong>Pedido: </strong><%= link_to(@dispute.order.purchase.request.title, request_path(@dispute.order.purchase.request.slug)) %></p>
                <% end %>
                <p><strong>Estado: </strong> <%= t "disputes.status.#{@dispute.status}" %></p>
              </div>
              <div class="col-lg-12  col-md-12">
                <% if @dispute.status == "waiting_for_employee" && @dispute.employee == current_user %>
                  <%= render 'disputes/reply_box'%>
                <% elsif @dispute.status == "waiting_for_employer" && @dispute.employer == current_user %>
                  <%= render 'disputes/reply_box'%>
                <% elsif current_user.has_roles?(:admin) %>
                  <%= render 'disputes/reply_box'%>
                <% end %>

              </div>
              <div class="col-lg-12 align_center">
                <div class="row align_center">
                  <%= render partial: "disputes/reply", collection: @replies %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right col -->
  </div>
</div>
