<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @dispute.description %>
</p>

<p>
  <strong>Order:</strong>
  <%= @dispute.order.uuid %>
</p>

<p>
  <strong>Replies:</strong>
  <%= @dispute.replies %>
</p>

<p>
  <strong>Status:</strong>
  <%= @dispute.status %>
</p>
