<% if response.user.has_role?(:admin) %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tickets-tab-text support-response">
        <div class="ticket-text">
          <p class="left-response-heading">Soporte</p>
          <p class="right-response-heading">hace <%= distance_of_time_in_words_to_now(response.created_at) %></p>
          <p class="ticket-description"><%= response.message %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="tickets-tab-text user-response">
        <div class="ticket-text">
          <p class="left-response-heading"><%= response.user.alias %></p>
          <p class="right-response-heading">hace <%= distance_of_time_in_words_to_now(response.created_at) %></p>
          <p class="ticket-description"><%= response.message %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
