<div class="mg-t-10 req-card col-sm-6 col-md-4 col-lg-3 mg-t-10" loaded_in_map="false" lat="<%= request.lat %>" lng="<%= request.lng %>" title="<%= request.title %>">
  <div class="card">
    <div class="card-body pd-b-5-f pd-t-10-f" onclick="goToElement($(this).closest('[loaded_in_map]')[0])">
      <small class="tx-gray-600 n-grey-75">Publicado hace <%= distance_of_time_in_words_to_now(request.created_at) %></small>
      <p class="card-title tx-16"><%= request.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="p-purple-50"><%= request.offers_count %> ofertas</small>
        <small class="green-100"><strong><%= request.budget %></strong></small>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <%= link_to request_path(request.slug), class: "share_item_url" do %>
        Compartir
      <% end %>
      <%= link_to request_path(request.slug) do %>
        Ver más <i data-feather="chevron-right" class="feather-12 d-none d-md-inline"></i>
      <% end %>
    </div>
  </div>
</div>
