<div class="mg-t-10 req-card col-sm-6 col-md-4 col-lg-3 mg-t-10" single-element lat="<%= request.lat %>" lng="<%= request.lng %>" title="<%= request.title %>">
  <div class="card">
    <%= link_to request_path(request.slug) do %>
    <div class="card-body pd-b-5-f pd-t-10-f">
      <small class="tx-gray-600 n-grey-75">Publicado hace <%= distance_of_time_in_words_to_now(request.created_at) %></small>
      <p class="card-title tx-16 multi-line-truncate-2 mn-ht-50 black-100 text-break"><%= request.title %></p>
      <div class="d-flex justify-content-between align-items-center">
        <small class="p-purple-50"><%= request.offers_count %> ofertas</small>
        <small class="green-100"><strong><%= request.budget %></strong></small>
      </div>
    </div>
    <% end %>
    <div class="card-footer d-flex justify-content-between">
      <%= link_to request_path(request.slug), class: "share_item_url" do %>
        Compartir
      <% end %>
      <%= link_to "Mapa", request_path(request.slug), data: {target: "#showmapModal", toggle: "modal"} %>
    </div>
  </div>
</div>
