<% if controller.action_name == "home" %>

  <div class="row row-xs">
    <%= render 'shared_user/root/featured_ads_carousel'  %>
    <div class="col-12 d-flex align-items-center justify-content-between mg-b-10 mg-t-20">
      <div>
        <h4 class="mg-b-0 tx-spacing--1">Lo último para ti</h4>
      </div>
      <div>
        <% if @last_gigs_near_by.total_count > @show_x_last_gigs_near_by %>
          <%= link_to search_path(query: "", lat: (@userinfo.present?)? @userinfo.lat : current_user.lat, lng: (@userinfo.present?)? @userinfo.lng : current_user.lng, order_by: "recent"), class: "link-03" do  %>
          Ver más <i data-feather="chevron-right"></i>
          <% end %>
        <%end %>
      </div>
    </div>
    <%= render partial: "shared_user/root/gig", collection: @last_gigs_near_by, as: "gig" %>

    <%# render "shared/no_gigs" %>

    <%# gig_carousel( "Agregados recientemente", :recent_gigs) %>

    <%# gig_carousel( "Jales Populares", :popular_gigs) %>

    <%# req_carousel("Pedidos Recientes", :recent_requests) %>


    <%# gig_carousel( "Jales Verificados", :verified_gigs) %>

    <%# gig_carousel( "Jales Gustados", :liked_gigs, 'shared_user/gigs/liked_carousel', true) %>

  </div>
<% else %>
  <%= gig_carousel( "Jales", :wizard_gigs) %>

  <%= req_carousel("Pedidos", :wizard_requests) %>
<% end %>
