  <h2>Gigs</h2>
  <div class="admin-chart row">
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto" >
      <h4>Por estado</h4>
      <%= pie_chart Gig.group(:status).count %>
    </div>
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto" >
      <h4>Por Ciudad</h4>
      <%= pie_chart City.joins(:gigs).group(:name).count %>
    </div>
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto" >
      <h4>Por Categoria</h4>
      <%= pie_chart Category.joins(:gigs).group(:name).count %>
    </div>
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto" >
      <h4>Por Fecha</h4>
      <%= line_chart Gig.group_by_day(:created_at).count %>
    </div>
  </div>
  <div class="table-responsive paginator_container">
    <table class="admin-table table table-striped table-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Autor</th>
          <th>Imagen</th>
          <th>Fecha</th>
          <th>Ordenes</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="paginated_gigs">
        <%= render partial: 'admins/gig', collection: @gigs %>
      </tbody>
    </table>
    <%= paginate @gigs, param_name: :gig,
     :params => {:current => :gig} %>
  </div>
