<h2>Notificaciones de Marketing</h2>
<div class="table-responsive paginator_container">
    <%= form_for @marketing_notification do |f| %>
      <div class="form-group">
        <label for="marketing_notification_name">Nombre de la campaña</label>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="marketing_notification_content">Mensaje</label>
        <p class="emoji-picker-container">
          <%= f.text_field :content, class: "form-control", data: { emojiable: true }  %>
        </p>
      </div>
      <div class="form-group">
        <label for="marketing_notification_content">URL (Opcional)</label>
          <%= f.text_field :url, class: "form-control"  %>
      </div>
      <div class="form-group">
        <label for="marketing_notification_scheculed_at">Agendar para..</label>
        <%= f.datetime_select :scheduled_at %>
        <br>
      </div>
        <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>

  <table class="admin-table table table-striped table-sm ban">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Contenido</th>
        <th>url</th>
        <th>Agendado para la fecha</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody class="paginated_tickets">
      <%= render partial: 'admins/marketing_notification', collection: @marketing_notifications %>
    </tbody>
  </table>
  <%= paginate @marketing_notifications, param_name: :marketing_notification,
   :params => {:current => :marketing_notification} %>
</div>
