<h2>Orders</h2>
<h3>Ordenes totales: <%= @orders_count %></h3>
<div class="admin-chart row">
  <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto">
    <h4>Por Fecha</h4>
    <%= line_chart Order.group_by_day(:created_at).count %>
  </div>
  <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto">
    <h4>Por Estado</h4>
    <%= pie_chart Order.group(:status).count %>
  </div>
</div>
<div class="table-responsive paginator_container">
  <table class="admin-table table table-striped table-sm">
    <thead>
      <tr>
        <th>UUID</th>
        <th>Price</th>
        <th>Employer</th>
        <th>Employee</th>
        <th>Gig / Req</th>
        <th>Duracion</th>
        <th>Conversation</th>
        <th>Paid</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="paginated_orders">
      <%= render partial: 'admins/order', collection: @orders %>
    </tbody>
  </table>
  <%= paginate @orders, param_name: :order,
   :params => {:current => :order} %>
</div>
