<nav id="sidebar">
  <div class="sidebar-header">
       <h3>Admin Dashboard</h3>
   </div>

   <ul class="list-unstyled components">
       <li>
           <%= link_to "Jales(#{@gigs_count})", dashboard_admins_path %>
       </li>
       <li>
           <%= link_to "Ordenes(#{@orders_count})", orders_admins_path %>
       </li>
       <li>
           <%= link_to "Categorias", categories_admins_path %>
       </li>
       <li>
           <%= link_to "Usuarios(#{@user_count})", users_admins_path %>
       </li>
       <li>
           <%= link_to "Verificaciones (#{@pending_verifications})", verifications_admins_path %>
       </li>
       <li>
           <%= link_to "Tickets (#{@open_tickets})", tickets_admins_path %>
       </li>
       <li>
           <%= link_to "Codigos de alianza", ally_codes_admins_path %>
       </li>
       <li>
           <%= link_to "Disputas (#{@pending_disputes})", disputes_admins_path %>
       </li>
       <li>
           <%= link_to "Reportes (#{@open_reports})", reports_admins_path %>
       </li>
       <li>
           <%= link_to "Bloqueos (#{@banned_bans})", bans_admins_path %>
       </li>
       <li>
          <%= link_to "Openpay", openpay_dashboard_admins_path %>
       </li>
   </ul>
   <ul class="list-unstyled components">
     <li>
       <%= link_to "Logout", destroy_user_session_path, method: :delete %>
     </li>
   </ul>
</nav>
