<nav id="sidebar">
  <div class="sidebar-header">
       <h3>Admin Dashboard</h3>
   </div>

   <ul class="list-unstyled components">
       <li>
           <%= link_to "Jales", dashboard_admins_path %>
       </li>
       <li>
           <%= link_to "Categorias", categories_admins_path %>
       </li>
       <li>
           <%= link_to "Usuarios(#{@user_count})", users_admins_path %>
       </li>
       <li>
           <%= link_to "Verificaciones (#{@pending_verifications})", verifications_admins_path %>
       </li>
       <li>
           <%= link_to "Tickets (#{@open_tickets})", tickets_admins_path %>
       </li>
       <li>
           <%= link_to "Disputas (#{@pending_disputes})", disputes_admins_path %>
       </li>
       <li>
           <%= link_to "Reportes Y Bloqueos (#{@pending_bans})", bans_admins_path %>
       </li>
       <li>
          <%= link_to "Openpay", openpay_dashboard_admins_path %>
       </li>
   </ul>
   <ul class="list-unstyled components">
     <li>
       <%= link_to "Logout", destroy_user_session_path, method: :delete %>
     </li>
   </ul>
</nav>
