<div class="col-md-12">
  <h2>Users</h2>
  <div class="admin-chart row">
    <div class="col-6">
      <h4>Por Creacion</h4>
      <%= line_chart User.group_by_day(:created_at).count %>
    </div>
    <div class="col-6">
      <h4>Por Edad</h4>
      <%= column_chart User.group(:age).count %>
    </div>
    <div class="col-6">
      <h4>Por Ciudad</h4>
      <%= pie_chart City.joins(:users).group(:name).count %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
          <%= render partial: 'users/user_dashboard', collection: @users %>
      </tbody>
    </table>
    <%= paginate @users, param_name: :user_page %>
  </div>
</div>
