<div class="">
  <h2>Users</h2>
  <div class="admin-chart row">
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto">
      <h4>Por Creacion</h4>
      <%= line_chart User.group_by_day(:created_at).count %>
    </div>
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto">
      <h4>Por Edad</h4>
      <%= column_chart User.group(:age).count %>
    </div>
    <div class="col-10 col-sm-12 col-md-12 col-lg-6 text-center mar-0-auto">
      <h4>Por Ciudad</h4>
      <%= pie_chart City.joins(:users).group(:name).count %>
    </div>
  </div>
  <div class="table-responsive paginator_container">
    <table class="admin-table table table-striped table-sm">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody class="paginated_users">
          <%= render partial: 'admins/user', collection: @users %>
      </tbody>
    </table>
    <%= paginate @users, param_name: :user,
     :params => {:current => :user} %>
  </div>
</div>
