<%= form_with(model: offer, url: offer_form_url_helper, method: form_method_helper, local: true, :html => { class: "current_form" }) do |form| %>
<% if offer.errors.any? %>
  <%offer.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
<div class="container-fluid section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3 class="text-center">Ofertar</h3>
        <div class="form_box post_form_col">

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Descripción:</p>
            </div>
            <%= form.text_area :description, id: "description", maxlength: 1000,
            placeholder: "Por favor, describe por qué serías la mejor opción para este proyecto.",
            class: "description-class description-0 styled required", rows: 5 %>
          </div>


          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Horas estimadas (<strong>Opcional</strong>):</p>
            </div>
            <%= form.number_field :hours, class: 'styled', step: 1 %>
          </div>
          <div class="form_block form_section row">
            <div class="row will-earn justify-content-center col-lg-6 col-md-6 col-sm-12 col-12">
              <p class="price-text form-title">Lo que voy a ganar:</p>
              <div class="row justify-content-center">
                <input type="number" name="want_win_0" min="100" max="9000" step=".01"
                class="price-input price-input-0 styled required"
                value="<%= (@offer.price).round(2) if params[:action] == 'edit' %>">
                <%= form.hidden_field :price, id: "base-price-0" %>
              </div>
            </div>
            <div class="row will-show col-lg-6 col-md-6 col-sm-12 col-12 row">
              <p class="price-text form-title">Precio final:</p>
              <label id="price-calc-0" class="label-price"></label>
            </div>
            <p class="text-center" style="color: var(--gray);">Se te cobrará un porcentaje de tus ganancias de acuerdo a tu nivel de usuario</p>  
          </div>

          <div style="margin: 0 20px;">
            <div class="flex-space-bet">
              <%= link_to 'Cancelar', request_path(params[:request_id]), :data => {:confirm => 'Tu progreso hasta ahora NO se guardará'}, class: "btn back-button" %>
              <%= form.submit "Ofertar", class: "btn continue-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
