<%= form_with(model: offer, url: offer_form_url_helper, method: form_method_helper, local: true, :html => { class: "current_form confirm_leave" }) do |form| %>
<% if offer.errors.any? %>
  <%offer.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
<div class="container-fluid section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3 class="text-center">Ofertar</h3>
        <div class="form_box post_form_col">

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Descripción:</p>
            </div>
            <%= form.text_area :description, id: "description", maxlength: 1000,
            placeholder: "Por favor, describe por qué serías la mejor opción para este proyecto.",
            class: "description-class description-0 styled required", rows: 5 %>
          </div>

          <div class="form_block form_section row">
            <div class="checkmark-area">
              <label class="check-btn">Incluye material y servicio
                 <%= form.radio_button :materials, true, checked: true %>
                <span class="checkmark"></span>
              </label>
              <label class="check-btn">Incluye SOLAMENTE servicio
                 <%= form.radio_button :materials, false %>
                <span class="checkmark"></span>
              </label>
            </div>
          </div>


          <div class="form_block form_section row">
            <div class="col-6">
              <div class="flex-space-bet">
                <p class="form-title">Horas estimadas:</p>
              </div>
              <%= form.number_field :hours, class: 'styled', step: 1 %>
            </div>
            <div class="col-6">
              <p class="price-text form-title">Precio:</p>
              <div class="row justify-content-center">
                <%= form.number_field :price, min: "100", max: "10000", step: ".01",
                class: "price-input price-input-0 styled required" %>
              </div>
            </div>
          </div>
            <!-- <div class="row will-show col-lg-6 col-md-6 col-sm-12 col-12 row">
              <p class="price-text form-title">Precio final:</p>
              <label id="price-calc-0" class="label-price"></label>
            </div> -->
            <!-- no hire <%= render "shared_user/see_level_table", n: 0 %>
            <%= render "shared/level_table", n: 0, user: true, h: true  %> -->
          </div>

          <div style="margin: 0 20px;">
            <div class="flex-space-bet">
              <%= link_to 'Cancelar', request_path(params[:request_id]), :data => {:confirm => 'Tu progreso hasta ahora NO se guardará'}, class: "btn back-button" %>
              <%= form.submit "Ofertar", class: "btn continue-button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
