<div class="fernanda-single-box <%= offer.user == offer.request.employee ? 'chosen-offer' : nil %>">
  <div class="offer_image_name">
    <%= image_tag(offer.user.image_url) %>
    <h5><%= link_to(offer.user.alias, user_path(offer.user.slug)) %></h5>
    <span>
      <i class="fa fa-star"></i>
      <%= score_average(offer.user.score, false) %></span>

  </div>
  <div class="fernanda-user-box-text">
    <p>Horas estimadas:
        <%= offer.hours if offer.hours.present? %>
        <strong><%= number_to_currency(purchase_order_total(offer.price), precision: 2) %>
          MXN</strong>
      </p>
  </div>
  <% if current_user == offer.user || current_user == offer.request.user %>
    <div class="ipsum-text">

    <pre><strong>El precio establecido<%= (offer.materials) ? " " : " NO " %>cubre material a utilizar.</strong></pre>

    <pre><p><%=offer.description %></p></pre>
    </div>
  <% end %>
  <% if current_user == offer.user && @hires_open%>
    <div class="Borrar-btn">
      <%= link_to 'Editar', edit_request_offer_path(offer.request, offer), class: "Editar-b" %>
      <%= link_to "Borrar", request_offer_path(offer.request, offer), method: :delete, data: { confirm: '¿Estás seguro de querer borrar esta oferta?' }, class: "Borrar-b" %>
    </div>
  <% end %>
  <% if current_user == offer.request.user && @hires_open %>
    <div class="Borrar-btn">
      <%= link_to("Mensaje", conversations_path(user_id: offer.user.alias, model_id: @request.id, model: "Request"), class: "Contratar-b") %>
      <%= link_to("Contratar", hire_request_offer_path(offer.request.slug, offer), class: "Contratar-b") %>
    </div>
  <% end %>
</div>
