<%= link_to user_gig_path(gig.user.slug, gig.slug) do %>
<div class="maintabroll3">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-2 padingminus1">
        <div class="tabpicc1 gig-image-profile">
          <%= image_tag( image_display_helper(gig.images[0])) %>
        </div>
      </div>
      <div class="col-lg-9 col-md-9 col-10">
        <div class="tabbigissue1-totalwrap">
          <div class="tabbigissue1-total">
            <p class="coa1"><%= gig.location %></p>
            <p class="coa2"><%= gig.title %></p>
            <p class="coa3">Desde <%= number_to_currency(purchase_order_total(gig.packages.first.price)) %> MXN</p>
          </div>
          <div class="tabstar-no">
            <%= star_display_helper(gig.score_average) %>

            <span>(<%= gig.score_times %>)</span>
          </div>
          <%= "<span class='gig-status #{gig.status}'>#{gig.status}</span>".html_safe if gig.user == current_user %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
