<div class="gig-query gig-profile col-xl-4 col-lg-4">
  <%= link_to user_gig_path(gig.user.slug, gig.slug) do %>
  <div class="gig-query-content" style="display:flex;flex-wrap:wrap;">
    <div class="col-xl-12 col-lg-12 col-md-4 col-sm-4 col-5 padingminus1" style="padding: 0;">
        <%= image_tag( image_display_helper(gig.images[0]), class: "gig-image") %>
    </div>
    <div class="gig-text col-xl-12 col-lg-12 col-md-8 col-sm-8 col-7">
      <div style="padding:5px;">
        <div class="tabbigissue1-total">
          <div class="gig-loc-sta" style="display:flex;justify-content:space-between;">
            <p class="coa1"><%= truncate(gig.location, length: 20 )%></p>
            <%= "<span class='gig-status gig-#{gig.status}'> #{t "gigs.status."+gig.status}</span>".html_safe if gig.user == current_user %>
          </div>
          <p class="coa2"><%= truncate(gig.title, length: 50 )%></p>
          <p class="coa3">Desde
            <%= number_to_currency(purchase_order_total(gig.packages.first.price)) %>
            MXN</p>
        </div>
        <div class="tabstar-no" style="display:flex;align-items:center;">
          <%= star_display_helper(gig.score_average) %>

          <%= "<span>(#{gig.score_times})</span>".html_safe if gig.score_times > 0 %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>
