<div class="profile-sidebar pd-lg-r-25">
  <div class="row">
    <div class="col-sm-3 col-md-2 col-lg">
      <div class="avatar avatar-xxl avatar-online">
        <%= image_tag(avatar_display_helper(@user.image_url()), class: "rounded-circle", data: {lity: true}, lazy: true) %>
        </div>
    </div><!-- col -->
    <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
      <h5 class="mg-b-2 tx-spacing--1"><%= @user.name %></h5>
      <p class="tx-color-03 mg-b-25"><%= @user.alias %></p>
      <div class="d-flex mg-b-25">

        <%=link_to( "Reportar", "#", class: "btn btn-xs btn-white flex-fill", data: {toggle: "modal", target: "#reportModal"} ) if @user != current_user%>

        <%=link_to( "Mensaje", conversations_path( user_id: @user.id), class: "btn btn-xs btn-primary flex-fill mg-l-10" ) if @user != current_user%>
      </div>

      <p class="tx-13 tx-color-02 mg-b-25"><%=  %></p>

      <div class="d-flex">
        <div class="profile-skillset flex-fill">
          <h4><a class="link-01"><%= @user.score_average(false) %></a></h4>
          <label>Estrellas</label>
        </div>
        <div class="profile-skillset flex-fill">
          <h4><a class="link-01"><%= @reviews.total_count %></a></h4>
          <label>Reseñas</label>
        </div>
        <div class="profile-skillset flex-fill">
          <h4><a class="link-01"><%= @gigs.total_count %></a></h4>
          <label>Servicios</label>
        </div>
      </div>
    </div><!-- col -->
    <% if @user.tag_list.any? %>
    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
      <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Habilidades</label>
      <ul class="list-inline list-inline-skills">
        <% @user.tag_list.each do |tag| %>
        <li class="list-inline-item"><a ><%= tag %></a></li>
        <% end %>
      </ul>
    </div><!-- col -->
    <% end %>
    <%if @user.website.present? || @user.facebook.present? || @user.instagram.present? %>
    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
      <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Social</label>
      <ul class="list-unstyled profile-info-list">
        <% if @user.website.present?  %><li><%= link_to("<i data-feather='globe'></i>#{@user.website}".html_safe, @user.website, target: "_blank")%></li> <% end %>
        <% if @user.facebook.present? %><li><%= link_to("<i data-feather='facebook'></i>#{@user.get_hashtag('fb')}".html_safe, @user.facebook_url, target: "_blank") %></li> <% end %>
        <% if @user.instagram.present? %><li><%= link_to("<i data-feather='instagram'></i>#{@user.get_hashtag('ig')}".html_safe, @user.instagram_url, target: "_blank") %></li> <% end %>
      </ul>
    </div><!-- col -->
    <% end %>
    <div class="col-sm-6 col-md-5 col-lg mg-t-40">
      <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Información de contacto</label>
      <ul class="list-unstyled profile-info-list">
        <!-- <li><i data-feather="briefcase"></i> <span class="tx-color-03">Monterrey, NL. MX.</span></li> -->
        <% if @user.phone_number.present?  %>  <li><%= link_to "<i data-feather='smartphone'></i> #{@user.phone_number}".html_safe, "tel:#{@user.phone_number}", target: "_blank" %></li> <% end %>
        <li><%= link_to "<i data-feather='mail'></i> #{@user.email}".html_safe, "mailto:"+@user.email, target: "_blank" %></li>
        <li><%= link_to conversations_path(user_id: @user.id ) do %>
          <i data-feather='send'></i> <%= @user.alias %>
        <% end %></li>

      </ul>
    </div><!-- col -->
  </div><!-- row -->

</div><!-- profile-sidebar -->
