<a class="bd bg-gray-50 pd-y-15 pd-x-15 pd-sm-x-20 col-xl-6" href="<%= request_path(request) %>">
  <h6 class="tx-15 mg-b-3"><strong><%= request.name %></strong></h6>
  <p class="mg-b-0 tx-14 tx-black"><%= request.description.truncate(50) %></p>
  <div class="justify-content-between tx-black d-flex">
    <span class="tx-13 tx-color-03 truncate"><%= request.location %></span>
    <span class="text-nowrap"><%= request.offers_count %> ofertas</span>
  </div>
</a>
