<div class="maintabroll3">
  <div class="container">
    <div class="row single-review">
      <div class="col-xl-1 col-lg-2 col-md-2 col-3 padingminus">
        <div class="tabpicc1 covico">
          <%=link_to image_tag(avatar_display_helper(review.giver.image_url(:thumb)), class: "icon-review"), user_path(review.giver.slug) %>
        </div>
      </div>
      <div class="col-xl-7 col-lg-10 col-md-10 col-9 profile_review_content">
        <div class="tabbigissue1-totalwrap">
          <div class="tabbigissue1-total">
            <li> <strong><%= link_to review.giver.alias, user_path(review.giver.slug), style: "color: black;vertical-align:middle;" %></strong>
                <%= image_tag("star-on", title: review.prof_rating.stars, class: "single-star") %>
                <span class="rating-score"><%= review.prof_rating.stars.to_i %></span>
            </li>
            <p class="profile_review_rext" style="color: black;">
              <% if review.comment.present? %>
              <% splitted_words = review.comment.split  %>
                <span class='truncated-text' style='display: inline;'><%=review.comment.truncate_words(50) %></span>
                <% if splitted_words.size > 50 %>
                  <span class='complete-text' style='display: none;'><%= splitted_words[50..-1].join(' ') %></span>
                  <div>
                    <%= link_to('Ver más', '#', onclick: 'toggleReviewText(event)') %>
                  </div>
                <% end %>
              <% end %>
            </p>
            <p>Hace <%= distance_of_time_in_words_to_now(review.updated_at) %></p>
            <% if review.reviewable_type == "Gig" %>
            <p class="coa3 tj">
              <%= link_to "Jale: #{truncate(review.reviewable.title, length: 50)}", user_gig_path(review.reviewable.user, review.reviewable), class:"coa3 tj"  %>
            <% else %>
            <p class="coa3 chi1">
              <%= link_to "Pedido: #{truncate(review.reviewable.title, length: 50)}", request_path(review.reviewable)  %>

            <% end %>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
