<div class="innerpage768area">
  <div class="row">
    <div class="col-md-9">
      <div class="authorise-wrap">
        <div class="authorinpic">
          <%= image_tag(avatar_display_helper(@user.image_url()), class: "nav-avatar", data: {lity: true}, lazy: true) %>
        </div>
      <div class="authorisescontent">
        <h1><%= @user.alias %></h1>
        <p><%= @user.location %></p>
      </div>
      <div class="authorisesstar">
        <%= star_display_helper( score_average(@user.score) ) %>
        <p>Activo(a) hace
          <%= distance_of_time_in_words_to_now(@user.current_sign_in_at) rescue "nunca" %></p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <% if my_profile %>
    <div class="inner-comment">
      <%= button_to configuration_path, :method => :get, :data => { :disable_with => "<i class='fa fa-cog fa-spin'></i> Configuración" } do %>
      <%= " #{icon('fas', 'cog')} Configuración ".html_safe %>
      <% end %>
    </div>
    <div class="authorlock authorlock2">
      <%=link_to( " #{icon('fas', 'sign-out-alt')}Cerrar sesion ".html_safe, destroy_user_session_path(device: "pending"), method: :delete, id: "destroy_session_tab")%>
    </div>
    <% else %>
    <div class="authorlock">
      <%=link_to( " #{icon('fas', 'comment')}Contactar ".html_safe, conversations_path( user_id: @user.id) )%>
    </div>
    <div class="authorlock authorlock2">
      <%=link_to( " #{icon('fas', 'flag')}Reportar ".html_safe, "#", id: "reportuserbtntablet" )%>
    </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="authorttest">
      <h3>Miembro desde hace
        <%= time_ago_in_words(@user.created_at) %></h3>
      <p class="fr">Edad:
        <%= (@user.age.nil?)? "Indefinida" : @user.age %></p>
      <p class="tr"><pre><%= (@user.bio.nil?)? "Sin descripción" : @user.safe_bio %></pre></p>
    </div>
  </div>
</div>
</div>
