<div class="col-lg-4 col-md-12">
  <div class="author2total">
    <div class="author2">
      <%= image_tag(avatar_display_helper(@user.image_url()), class: "nav-avatar", data: {lity: true}, lazy: true)%>
    </div>
    <div class="activotext">
      <h2><%= @user.alias %></h2>
      <p><%= @user.location %></p>
      <div class="innersocial-list">
        <%= star_display_helper( score_average(@user.score) ) %>
      </div>
      <div class="contactars">
        <p>Activo(a) hace <%= distance_of_time_in_words_to_now(@user.current_sign_in_at) rescue "nunca" %></p>
      </div>
      <div class="hire-pack-btn">
      <% if my_profile %>
        <%= link_to configuration_path, class: "btn btn-primary" do %>
        <%= " #{icon('fas', 'cog ')} Configuración ".html_safe %>
        <% end %>
      <% else %>
        <% if @user.whatsapp_enabled && @user.phone_number.present? %>
          <%= link_to "#{icon("fab", "whatsapp ft-20", title: "Whatsapp")}".html_safe, "https://wa.me/#{@user.international_phone_number}", class: "btn btn-success wapp-contact", target: "_blank" %>
        <% end %>
        <% if @user.phone_number.present? %>
          <%= link_to "#{icon("fas", "phone", title: "Llamar")}".html_safe, "tel:#{@user.international_phone_number(prefix=true)}", class: "btn btn-secondary phone-contact", target: "_blank" %>
        <% end %>
          <%= link_to "#{icon('fas', 'comment', title: "Mensaje")}".html_safe, conversations_path(user_id: @user.id), class: "btn btn-primary msg-contact" %>

      <% end %>
      </div>
      <div class="innerdate">
        <p>Miembro desde hace <br> <%= time_ago_in_words(@user.created_at) %></p>
      </div>
      <div class="inner-reportarcontent">
        <p class="edad1">Edad: <%= (@user.age.nil?)? "Indefinida" : @user.age %></p>
        <p class="edad11"><%= (@user.bio.nil?)? "Sin descripción" : @user.bio %></p>
      </div>
      <div class="hire-pack-btn">
      <% if my_profile %>
        <%=link_to( " #{icon('fas', 'sign-out-alt')} Cerrar sesión ".html_safe, destroy_user_session_path(device: "pending"), method: :delete, id: "destroy_session", class: "btn btn-secondary")%>
      <% elsif user_signed_in? %>
        <%=link_to( " #{icon('fas', 'flag')} Reportar ".html_safe, "#", id: "reportuserbtn", class: "btn btn-secondary" )%>
      <% end %>
      </div>
    </div>
  </div>
</div>
