<div class="row" style="height: 60vh;align-items:center;">
  <div class="modal-content" style="text-align:center;height:auto;max-width:400px;border:2px solid #e5e5e5;padding:10px;">
    <h3>Cambia tu contraseña</h3>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "change_password_form" }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field form-group">
    <%= f.label :password, "Nueva contraseña" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimo)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", required: true %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirma tu nueva contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Cambiar mi contraseña", class: "btn btn-success form-control" %>
  </div>
<% end %>

</div>
</div>

<script>
     $(".change_password_form").validate({
       rules : {
        'user[password]' : {
            minlength : 6
        },
        'user[password_confirmation]' : {
            minlength : 6,
            equalTo : "#user_password"
        }
      }
    });
</script>
