<div class="container d-flex justify-content-center ht-100p">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>
  <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
    <div class="mg-b-15"><%= image_tag image_path("reset_password.svg"), width: 380, height: 300%></div>
    <h4 class="tx-20 tx-sm-24">Reinicia tu contraseña</h4>
    <p class="tx-color-03 mg-b-30 tx-center">Ingresa tu correo y se te enviará una liga para reiniciar tu contraseña</p>
    <div class="wd-100p d-flex flex-column flex-sm-row mg-b-0">
      <%= f.email_field :email, autofocus: true, autocomplete: :off, class: "form-control flex-fill", required: true, placeholder: "Ingresa tu correo" %>
      <%= f.submit "Solicitar", class: "btn btn-p-purple-100 mg-sm-l-10 mg-t-10 mg-sm-t-0" %>
    </div>
  </div>
  <div class="tx-13 mg-t-20 tx-center">
    ¿No recibiste las
    <%= link_to "instrucciones de confirmación de cuenta", new_confirmation_path(resource_name) %>?
  </div>
  <div class="tx-13 mg-t-20 tx-center">
    Volver al
    <%= link_to "inicio", platform_redirect_root_path %>
  </div>
<% end %>
</div>
<!-- container -->
