<div class="card mg-t-10 gig-card mg-r-25 mg-md-r-10" loaded_in_map="false" lat="<%= gig.lat %>" lng="<%= gig.lng %>" title="<%= gig.min_title %>">
  <div class="card-horizontal mg-5">
    <%= image_tag( image_display_helper(default_gig_img(gig.images), gig.youtube_url), class: "card-img gig-card-horizontal", lazy: true) %>
    <div class="card-body pd-b-5-f">
      <span class="media" onclick="goToElement($(this).closest('[loaded_in_map]')[0])">
        <div class="avatar avatar-sm">
          <%= image_tag(avatar_display_helper(gig.user.image_url(:thumb)), class: "rounded-circle", lazy: true) %>
        </div>
        <div class="media-body mg-l-10">
          <h6 class="mg-b-0"><%= gig.user.alias %></h6>
          <small class="d-block tx-gray-600">Activo hace <%= distance_of_time_in_words_to_now(gig.user.current_sign_in_at) %></small>
        </div><!-- media-body -->
      </span>

      <p class="card-title mg-t-10 mg-b-5 tx-16" onclick="goToElement($(this).closest('[loaded_in_map]')[0])"><%= gig.min_title %></p>
      <div class="d-flex justify-content-between align-items-center b-0" onclick="goToElement($(this).closest('[loaded_in_map]')[0])">
        <div>
          <%= one_star_disp_help gig %>
        </div>
        <small>Desde <strong><%= query_home_or_profile_helper(gig) %></strong></small>
      </div>
      <div class="d-flex justify-content-between align-items-center mg-t-10 gig_buttons">
        <%= render("gigs/likes", gig: gig, with_number: false) if current_user && current_user != gig.user %>
        <%= link_to the_gig_path(gig), class: "share_item_url" do %>
          Compartir
        <% end %>
        <%= link_to the_gig_path(gig) do %>
          Ver más <i data-feather="chevron-right" class="feather-12 d-none d-md-inline"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
