<div class="req-query col-lg-6">
  <a href="<%= request_path(request.slug) %>">
    <div class="riktos-wrapper">
      <div class="singleriktos">
          <p class="fof truncate"><%= prof_and_loc request %></p>
        <p class="jkl truncate"><%= request.title %></p>
        <!-- <p class="jhh multi-line-truncate-2"><%# request.description %></p> -->
        <span><%= request.offers_count %> ofertas</span>
        <div style="display: flex; justify-content: space-between;">
          <p class="yii">Publicado hace <%= distance_of_time_in_words_to_now(request.created_at) %></p>
          <div class="points">
            <p><%= request.budget %></p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
