<%= form_with(model: gig,url: user_gig_galleries_path(current_user.slug, gig), method: :post, :html => { :id => "new_image" }, local: false) do |form| %>
<% if gig.errors.any? %>
  <%gig.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
<!-- ---post request form -->
<div class="container-fluid section ">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3>Agrega tu galería de imágenes</h3>
        <div class="form_box post_form_col">
          <div class="form_block row">
            <div class="flex-space-bet">
              <p class="form-title">Imágenes a subir (<strong>Opcional</strong>)
              </p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/images_hint.html.erb' %>
            <div class="current_images" style="display:flex;width:100%;flex-wrap:wrap;">
              <%= render partial: "galleries/image", collection: @gig.images %>
            </div>

            <div style="width:100%;text-align:center;">
              <label for="file-input" class="custom-file-upload" style="margin: 20px auto;height:30px;">
                Subir imágenes
              </label>
            </div>
              <%= form.file_field :images, multiple: true, id: "file-input", accept: ".png, .jpg, .jpeg", style: "display:none;"%>
          </div>
          <div class="loading row justify-content-center" style="text-align: center; display: none;">
            <%= image_tag('loading.gif') %>
          </div>

          <!-- 3 end -->
          <div style="margin: 0 20px;">

            <div class="flex-space-bet">

                <%= link_to 'Cancelar', user_path(current_user.slug), :data => {:confirm => 'Tu progreso hasta ahora NO se guardará'}, class: "btn back-button" %>


              <%= link_to 'Continuar', edit_user_gig_packages_path(current_user.slug, gig ), class: "btn continue-button",
                  id: "continue-process", onclick: "return (window.sentRequests==0)? true: false" %>


            </div>
          </div>
        </div>
        <!-- form box -->
        <!-- -->
      </div>
      <!-- -->
    </div>
    <!-- col lg 7 -->
  </div>
</div>
<!-- container fluid -->

<% end %>
