<% if item.class == Gig %>
  <h6 class="mg-b-0">Preguntas Frecuentes</h6>
  <%= form_with(model: item,url: gig_form_url_helper, method: form_method_helper, id: "faqs_form") do |form| %>

  <%= form.fields_for :faqs do |faq| %>
  <%= render "/faqs/faq_fields", f: faq %>
<% end %>
<div class="links tx-right">
  <%= link_to_add_association 'Agregar Pregunta', form, :faqs, class: 'btn btn-success', partial: "/faqs/faq_fields", id: "add_faq" %>
</div>

<!-- Question master sample -->
<!-- End question master -->

<hr>
<h6>Multimedia</h6>
<div class="form-group">
  <div>
    <label class="d-block">Video Youtube</label>
    <%= form.text_field :youtube_url, class: "form-control", maxlength: 100, placeholder: "https://www.youtube.com/watch?v=jNQXAC9IVRw, https://youtu.be/jNQXAC9IVRw" %>
  </div>
</div>
<% end %>

<% end %>
<%= form_with(model: item, url: galleries_path, method: :post, :html => { :id => "new_image" }, local: false) do |form| %>
<div class="form-group">
<div>
<label class="d-block">Imágenes o GIFs</label>
<div class="row" id="current_images">
  <%= render partial: "galleries/image", collection: item.images %>
</div>
</div>
</div>
<div class="col-12 tx-right pd-r-0">
<label for="file-input" class="btn btn-success">
  <i data-feather="plus"></i>
  Agregar Imagen
</label>
</div>

<% allowed_ext = (item.class == Gig)? ".png, .jpg, .jpeg, .gif" : ".png, .jpg, .jpeg" %>
<%= form.file_field :images, multiple: true, id: "file-input", accept: allowed_ext, class: "d-none" %>
<div class="row justify-content-center">
<div class="spinner-grow loading mg-t-10 d-none" role="status" change_in_ajax>
  <span class="sr-only">Loading...</span>
</div>
</div>
<% end %>
