<% if ! current_user %>
<div class="container">
  <div class="mail-form">
    <%= form_with url: guest_search_path, method: :get, class: "search-form-guest" ,local: true do |f|%>
    <%= f.text_field :query, value: params[:query], placeholder: "Prueba con “reparación”", onclick: "getLocation();", required: true%>
    <%= f.hidden_field :lat, value: params[:lat] %>
    <%= f.hidden_field :lon, value: params[:lon] %>
    <%= icon "fas", "search", style: "cursor:pointer;z-index:3;", onclick: "$('.submit-query').click();" %>
    <%= icon "fas", "arrow-right", style: "cursor:pointer;z-index:3;", onclick: "$('.submit-query').click();" %>
    <%= f.submit "Continuar", class: "submit-query",style: "visibility:hidden; position: absolute;" %>
    <% end %>
  </div>
</div>
<% end %>
<div class="transacciones-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="transacciones-text">
          <h1>Resultados de Búsqueda</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="Transacciones-tab-secsion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="Transacciones-tab-area">
          <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-gigs-tab" data-toggle="tab" href="#query-gigs" role="tab" aria-controls="nav-gigs" aria-selected="true">Jales (<%= @gigs.total_count %>)</a>
              <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#query-requests" role="tab" aria-controls="nav-requests" aria-selected="false">Pedidos (<%= @requests.total_count %>)</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active paginator-container" id="query-gigs" role="tabpanel" aria-labelledby="nav-gigs-tab">
              <div class="transacciones-tab-content paginated-gigs row">
                <%= render partial: 'shared/queries/gig', collection: @gigs %>
                <%= render "shared/no_gigs" if @gigs.total_count == 0 %>
              </div>
              <%= paginate @gigs, param_name: :gigs %>
            </div>
            <div class="tab-pane fade paginator-container" id="query-requests" role="tabpanel" aria-labelledby="nav-requests-tab">
              <div class="transacciones-tab-content paginated-requests row">
                <%= render partial: 'shared/queries/request', collection: @requests %>
                <%= "<div class='container'>No hay nada para mostrar</div>".html_safe if @requests.total_count == 0 %>
              </div>
              <%= paginate @requests, param_name: :requests %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
