<p id="notice"><%= notice %></p>

<div class="form-check-inline">
  <h1>Categories</h1><%= link_to 'New Category', new_category_path %>

</div>


<table id="tablaseo">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>seo_title</th>
      <th>seo_description</th>
      <th>seo_keywords</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.seo_title %></td>
        <td><%= category.seo_description %></td>
        <td><%= category.seo_keywords %></td>
        <td>
        <%= link_to 'Edit', edit_category_path(category) %>
        <%= link_to 'Destroy', category, method: :delete,:data => {:confirm => '¿Estás seguro de cancelar tu cuenta?', verify: category.name, verify_text: "Escribe '#{category.name}' para proceder"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
