<%= form_with(model: gig,url: gig_form_url_helper, method: gig_form_method_helper, :html => { :class => "current_form" }, local: true) do |form| %>
<% if gig.errors.any? %>
  <%gig.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error %>
  <% end %>
<% end %>
<!-- ---post request form -->
<div class="container-fluid section request_post_form">
  <div class="container">
    <div class="row">
      <div class="col-lg-1  col-md-12"></div>
      <div class="col-lg-7 col-md-12">
        <h3>Ofrece Tus Servicios Por Medio De Un Nuevo Gig</h3>
        <div class="form_box post_form_col">
            <div class="form_block row ">
              <div class=" col-lg-1 col-md-1 col-sm-1 col-1">
                <%= fa_icon "font", class: "fa-2x" %>
              </div>
              <div class=" col-lg-11 col-md-11 col-sm-11 col-11">
                <%= form.text_area :name, class: 'js-br-description required', placeholder: "Voy a...", maxlength: 100 %>
                <div class="row"></div>
              </div>
              <%= render 'shared_user/gigs/forms/hints/definition_hint.html.erb' %>
            </div>
            <hr>
            <!-- -->
            <div class="form_block row ">
              <div class=" col-lg-1 col-md-1 col-sm-1 col-1">
                <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/post_request1.PNG">
              </div>
              <div class=" col-lg-11 col-md-11 col-sm-11 col-11">
                <%= form.text_field :description, class: 'js-br-description', id: "description", type: "hidden" %>
                <trix-editor input="description" class="required" maxlength="1000"></trix-editor>
                <div class="row">
                  <div class="col-lg-8">
                    <label for="file-upload" class="custom-file-upload">

                      <i class="fa fa-paperclip"></i>
                      Adjuntar archivo
                    </label>
                    <%= form.file_field :image, class: 'form-control' %>
                    <small class="attach-limit">Tamano Maximo por archivo 30MB</small>
                  </div>
                </div>
              </div>
              <%= render 'shared_user/gigs/forms/hints/definition_hint.html.erb' %>
            </div>
            <hr>
            <!-- 1 end -->
            <div class="col-lg-12  col-md-12">
              <p>Elige una categoria:</p>
            </div>
            <div class="form_block row">
              <div class=" col-lg-1 col-md-1 col-sm-1 col-1">
                <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/post_request3.PNG">
              </div>
              <div class=" col-lg-11 col-md-11 col-sm-11 col-11">
                <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: true }, class: 'input-box required' ) %>
              </div>
              <%= render 'shared_user/gigs/forms/hints/category_hint.html.erb' %>
            </div>
            <hr>
            <!-- 2 end -->
            <div class="col-lg-12  col-md-12">
              <p>En que ciudad del mundo te ubicas?
              </p>
            </div>
            <div class="form_block row">
              <div class=" col-lg-1 col-md-1 col-sm-1 col-1">
                <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/post_request2.PNG">
              </div>
              <div class=" col-lg-11 col-md-11 col-sm-11 col-11">
                <%= form.text_field :location, class: 'text_box required', size: 50, placeholder: 'Busca tu ciudad...', id: 'autocomplete' %>
              </div>
              <%= render 'shared_user/gigs/forms/hints/delivery_time_hint.html.erb' %>
            </div>
            <hr>

            <!-- tags -->
            <div class="form_block row">
              <div class=" col-lg-1 col-md-1 col-sm-1 col-1">
                <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/post_request2.PNG">
              </div>
              <div class=" col-lg-11 col-md-11 col-sm-11 col-11">
                <div class"tags-input"="class"tags-input"" data-name="tags-input">
                  <%= form.hidden_field :tag_list %>
                </div>
                máximo de 5 tags
                <br>
                <span class="tag-error"></span>
                <%= render 'shared_user/gigs/forms/hints/delivery_time_hint.html.erb' %>
              </div>
            </div>
            <hr>

            <!-- 3 end -->
            <div class="col-lg-12  col-md-12">
            <div class="col-lg-6  col-md-6 ">
            <%= link_to 'Atrás', :back, class: "post" %>
          </div>
            <div class="col-lg-6  col-md-6 ">
              <%= form.submit "Guardar y continuar",  class: "post" %>
            </div>
          </div>
        </div>
        <!-- form box -->
        <!-- -->
      </div>
      <!-- -->
    </div>
    <!-- col lg 7 -->
  </div>
</div>
<!-- container fluid -->

<% end %>

<!-- <%= form_with(model: gig,url: gig_form_url_helper, method: gig_form_method_helper, :html => { :class => "current_form" }, local: true) do |form| %> <% if gig.errors.any? %> <%gig.errors.full_messages.each do |error| %> <%=
notification_generator_helper error %> <% end %> <% end %> -->

<!-- <div class="form-group"> <%= form.label :name %> <%= form.text_field :name, class: 'form-control required', maxlength: 100 %> </div> <div class="form-group"> <%= form.label :description %> <%= form.text_field :description, class: 'form-control',
id: "description", type: "hidden" %> <trix-editor input="description" class="required" maxlength="1000"></trix-editor> </div> <%= render 'shared_user/gigs/forms/hints/definition_hint.html.erb' %> <div class="form-group"> <%= form.label :category_id
%> <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: true }, class: 'form-control required' ) %> </div> <div class="form-group"> <%= form.text_field :location, class: 'form-control required', size: 50, placeholder:
'Busca tu ciudad...', id: 'autocomplete' %> </div> <div class="form-group"> <%= form.file_field :image, class: 'form-control' %> </div> <div class="form-group"> <%= form.label :tags %> <div class="tags-input" data-name="tags-input"> <%=
form.hidden_field :tag_list %> </div> máximo de 5 tags <br> <span class="tag-error"></span> </div> <div class="form-group"> <%= form.submit "Guardar y continuar", class: "btn btn-primary btn-block" %> </div> -->
<% end %>
