<%= form_with(model: gig,url: gig_form_url_helper, method: form_method_helper, :html => { :class => "gig_form" }, remote: true) do |form| %>
<% if gig.errors.any? %>
  <%gig.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
<!-- ---post request form -->
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3 class="text-center">Agrega un nuevo Jale para ofertar tus servicios</h3>
        <p class="text-center">¿No sabes cómo empezar? ¡Revisa La Guía para que tengas mas probabilidad de exito!</p>
        <p class="text-center"><a href="https://blog.jalecitos.com/guia/como-crear-un-jale/" target="_blank">Guía para hacer un Jale</a></p>
        <div class="form_box post_form_col">

          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">¿Cúal es tu profesión u oficio en este jale?</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/profession_hint.html.erb' %>
            <%= form.text_field :profession, class: "styled", required: true, maxlength: 50, placeholder: "Ej: Fotógrafo" %>
          </div>

          <div class="form_block form_section row ">
            <div class="flex-space-bet">
              <p class="form-title">¿Qué vas a ofrecer?</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/name_hint.html.erb' %>
            <div style="position:relative;width:100%;margin:0 auto;" class="row">
              <span class="action action-gig">Voy a </span>
              <%= form.text_area :name, class: 'name-class name-4 required styled action-indent', placeholder: "realizarte una sesión de fotografías.", maxlength: 100 %>
            </div>

          </div>
          <div class="form_block form_section row ">
            <div class="flex-space-bet">
              <p class="form-title">Descripción general:</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/description_hint.html.erb' %>
            <%= form.text_area :description, id: "description", maxlength: 1000,
            placeholder: "Fotógrafo profesional con x años de experiencia. Ofrezco servicios de fotografía de calidad para eventos.",
            class: "description-class description-4 styled required", rows: 5 %>

          </div>
          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Elige una categoria:</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/category_hint.html.erb' %>
            <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Categoría" }, class: 'form-select required' ) %>

          </div>
          <!-- 2 end -->
          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">¿En qué ciudad del mundo te ubicas?
              </p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/city_hint.html.erb' %>

            <%= form.text_field :location, class: 'required font-awesome styled', id: "form_autocomplete", size: 50, placeholder: '&#xf3c5; Busca tu ciudad...'.html_safe, value: (gig.location(true) != nil)? gig.location : current_user.location(true) %>
            <%= form.hidden_field :city_id, class: "city", value: (gig.city_id != nil)? gig.city_id : current_user.city_id %>

          </div>

          <!-- tags -->
          <div class="form_block form_section row">
            <div class="flex-space-bet">
              <p class="form-title">Especifica las etiquetas para que te encuentren más rapido (<strong>Opcional</strong>)
              </p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= render 'shared_user/gigs/forms/hints/tags_hint.html.erb' %>

            <div class="tags-input" data-name="tags-input">
              <%= form.hidden_field :tag_list, class: "hidden_tag_list" %>
              <textarea name="tag_list" rows="1" class="main-input tags-main-input styled font-awesome" placeholder="&#xf02c;"></textarea>
            </div>
            <label class="tag-error error"></label>

          </div>


        </div>
        </div>
        <!-- form box -->
        <!-- -->
      </div>
      <!-- -->
    </div>
    <!-- col lg 7 -->
  </div>
<!-- container fluid -->

<% end %>
