<%= form_with(model: gig,url: gig_form_url_helper, method: form_method_helper, :html => { :class => "gig_form confirm_leave" }, remote: true) do |form| %>
<% if gig.errors.any? %>
  <%gig.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
  <div class="alert alert-primary">
    <span class="tx-danger">*</span>
    Significa que el campo es obligatorio.</div>
  <div class="form-group">
    <label class="d-block">¿Cúal es tu profesión u oficio en este trabajo?
      <span class="tx-danger">*</span></label>
      <%= form.text_field :profession, class: "form-control", required: true, maxlength: 50, placeholder: "Ej: Fotógrafo" %>
  </div>
  <div class="form-group">
    <label class="d-inline-block">¿Qué estás ofreciendo?
      <span class="tx-danger">*</span></label>
      <%= form.text_area :name, class: 'name-class name-4 required form-control', placeholder: "Realizarte una sesión de fotografías", maxlength: 100 %>
  </div>
  <div class="form-group">
    <label class="d-inline-block">Describe detalladamente el trabajo a realizar</label> <span class="tx-danger">*</span>
    <%= form.text_area :description, id: "description", maxlength: 1000,
    placeholder: "Fotógrafo profesional con x años de experiencia. Ofrezco servicios de fotografía de calidad para eventos.",
    class: "description-class description-4 form-control required", rows: 5 %>
  </div>
  <div class="form-group">
    <label for="category">Categoría
      <span class="tx-danger">*</span></label>
    <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Seleccione" }, class: 'custom-select required' ) %>
  </div>
  <div class="form-group">
    <label for="tags" class="d-block">Especifica las etiquetas para que te encuentren más rapido</label>
    <%= form.text_field :tag_list, class: 'form-control tagsinput' %>
  </div>
  <div class="form-group">
    <label class="d-block">Dirección o ciudad en la que ofreces el servicio
      <span class="tx-danger">*</span></label>
      <%= form.text_field :location, class: 'required form-control', id: "form_autocomplete_gig",
       size: 50, placeholder: 'Dirección de tu trabajo'.html_safe,
        value: gig.location(true) || current_user.location(true),
        lat: (gig.lat || current_user.lat),
         lng: (gig.lng|| current_user.lng),
         address_name: (gig.address_name|| current_user.address_name)  %>
  </div>

  <% end %>
