<%= form_with(model: gig,url: gig_form_url_helper, method: form_method_helper, :html => { :class => "current_form" }, local: true) do |form| %>
<% if gig.errors.any? %>
  <%gig.errors.full_messages.each do |error| %>
    <%= notification_generator_helper error, :error %>
  <% end %>
<% end %>
<!-- ---post request form -->
<div class="container-fluid section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 centered-form">
        <h3>Agrega un nuevo Jale para ofertar tus servicios</h3>
        <div class="form_box post_form_col">

          <div class="form_block row">
            <div class="flex-space-bet">
              <p class="form-title">¿Cúal es tu profesión u oficio en este jale?</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= form.text_field :profession, class: "styled", required: true, maxlength: 50, placeholder: "Ej: Fotógrafo" %>
            <%= render 'shared_user/gigs/forms/hints/profession_hint.html.erb' %>
          </div>

          <div class="form_block row ">
            <div class="flex-space-bet">
              <p class="form-title">¿Qué vas a ofrecer?</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>

            <span class="action">Voy a...</span>
            <%= form.text_area :name, class: 'name-class name-0 required styled', placeholder: "realizarte una sesión de fotografías.", value: gig.name, maxlength: 100 %>

            <%= render 'shared_user/gigs/forms/hints/name_hint.html.erb' %>
          </div>
          <hr>
          <div class="form_block row ">
            <div class="flex-space-bet">
              <p class="form-title">Descripción:</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= form.text_field :description, id: "description", type: "hidden" %>
            <trix-editor input="description" class="trix-class trix_input_0 required styled" maxlength="1000"></trix-editor>

            <%= render 'shared_user/gigs/forms/hints/description_hint.html.erb' %>
            <hr>
          </div>
          <hr>

          <div class="form_block row">
            <div class="flex-space-bet">
              <p class="form-title">Elige una categoria:</p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>
            <%= form.collection_select(:category_id, Category.all, :id, :name, { include_blank: "Categoría" }, class: 'form-select required' ) %>

            <%= render 'shared_user/gigs/forms/hints/category_hint.html.erb' %>
          </div>
          <hr>
          <!-- 2 end -->
          <div class="form_block row">
            <div class="flex-space-bet">
              <p class="form-title">¿En qué ciudad del mundo te ubicas?
              </p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>

            <%= form.text_field :location, class: 'required font-awesome styled', id: "form_autocomplete", size: 50, placeholder: '&#xf3c5; Busca tu ciudad...'.html_safe, value: (gig.location(true) != nil)? gig.location : current_user.location(true) %>
            <%= form.hidden_field :city_id, class: "city", value: current_user.city_id %>

            <%= render 'shared_user/gigs/forms/hints/city_hint.html.erb' %>
          </div>
          <hr>

          <!-- tags -->
          <div class="form_block row">
            <div class="flex-space-bet">
              <p class="form-title">Especifica las etiquetas para que te encuentren más rapido (<strong>Opcional</strong>)
              </p>
              <%= icon("fas", "question-circle", class: "question_hint toggler") %>
            </div>

            <div class="tags-input" data-name="tags-input">
              <%= form.hidden_field :tag_list, class: "hidden_tag_list" %>
              <textarea name="tag_list" rows="1" class="main-input tags-main-input styled font-awesome" placeholder="&#xf02c;"></textarea>
            </div>
            <label class="tag-error error"></label>

            <%= render 'shared_user/gigs/forms/hints/tags_hint.html.erb' %>
          </div>

          <hr>

          <!-- 3 end -->
          <div style="margin: 0 20px;">
            <div class="flex-space-bet">
                <%= link_to 'Cancelar', user_path(current_user.slug), :data => {:confirm => 'Tu progreso hasta ahora NO se guardará'}, class: "btn back-button" %>
                <%= form.submit "Continuar", class: "btn continue-button" %>
            </div>
          </div>
        </div>
        </div>
        <!-- form box -->
        <!-- -->
      </div>
      <!-- -->
    </div>
    <!-- col lg 7 -->
  </div>
</div>
<!-- container fluid -->

<% end %>
