<div class="single-gig swiper-slide">
  <a href="<%= gig_path(city_slug(gig.city), gig) %>">
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <%= image_tag( image_display_helper( default_gig_img(gig.images), gig.youtube_url ) ) %>
        <%= "<p class='verified'>Verificado</p>".html_safe if gig.user.verified %>
      </div>
      <div class="gig-content">
        <div class="page3slides-contentrd">
          <h6 class="location truncate"><%= prof_and_loc gig%></h6>
          <h4 class="gig-title multi-line-truncate-2 min-height-30px"><%= gig.min_title %>
          </h4>
          <p class="gig-price truncate">Desde
            <%= query_home_or_profile_helper(gig) %>
            <!-- MXN -->
          </p>
          <div class="div-space-between-no-align">
            <div class="page3slide-stard">
              <%= one_star_disp_help gig %>
            </div>
            <% if current_user %>
              <div class="hearted1 likes-<%= gig.slug %> mar-top--3">
                <%= render("gigs/likes", gig: gig, with_number: true) %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
