<div class="<%= gig_class_helper %>">
   <div class="get_pro_content">
      <%= link_to image_tag( image_display_helper(gig.image_url), width: "100%", height: 150 ), user_gig_path(gig.user.slug,gig) %>
      <div class="get_pro_content_container">
         <div class="gig_avatar_">
           <%=link_to image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/gig_avatr.png"), user_path(gig.user.slug)%>
           <%=link_to gig.user.alias, user_path(gig.user.slug) %> </div>
         <br>
         <div class="gig_name_field">
           <%=link_to "Voy a " + truncate(gig.name, length: 50), user_gig_path(gig.user.slug,gig)%>
         </div>
         <br>
         <br>
         <div class="row">
            <div class="col-lg-6 gig_stars">
               <div  class="gig-rating"><i class="fa fa-star"></i>5.0 <span>(2)</span></div>
            </div>
            <div class="col-lg-6">
               <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/pro-badge-outline-2.0.1b29959.svg">
            </div>
         </div>
      </div>
      <!--  -->
      <hr>
      <!--  -->
      <div class="favourites_and_price">
         <div class="row">
            <div class="col-lg-4">
               <i class="fa fa-bars"></i>
               <i class="fa fa-heart"></i>
            </div>
            <div class="col-lg-8">
               <span>Desde</span><strong> <%= link_to number_to_currency(gig.gigs_packages.first.price, precision: 2), user_path(gig.user.slug) %></strong>
            </div>
         </div>
      </div>
   </div>
</div>
