<div class="single-gig">
  <a href="<%= user_gig_path(gig.user.slug, gig) %>">
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <%= image_tag( image_display_helper(gig.images[0]) ) %>
      <%= "<p class='verified'>Verificado</p>".html_safe if gig.user.verified %>
      </div>
      <div class="gig-content">
        <div class="page3slides-contentrd">
          <p class="location"><%= truncate(gig.location, length: 25)%></p>
          <p class="gig-title"><%= truncate(gig.title, length: 50) %>
          </p>
          <p class="gig-price">Desde
            <%= query_home_or_profile_helper(gig) %>
            MXN
          </p>
        </div>
        <div class="page3slide-stard">
            <%= star_display_helper( gig.score_average ) %>
          <%= "<p class='gig-score-times'>(#{gig.score_times})</p>".html_safe if gig.score_times > 0%>
        </div>
      </div>
    </a>
    <div class="hearted1" id="likes-<%= gig.slug %>">
      <%= render "gigs/likes", gig: gig %>
    </div>
  </div>
</div>
