<div class="col-lg-2 col-md-4 col-sm-6 col-12 single_gig">
   <div class="get_pro_content">
      <%= link_to image_tag( image_display_helper(gig.image_url), width: "100%", height: 150 ), user_gig_path(gig.user.slug,gig) %>
      <div class="get_pro_content_container">
         <div class="gig_avatar_">
           <%=link_to image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/gig_avatr.png"), user_path(gig.user.slug)%>
           <%=link_to gig.user.alias, user_path(gig.user.slug) %> </div>
         <br>
         <div class="gig_name_field">
           <%=link_to "Voy a " + truncate(gig.name, length: 50), user_gig_path(gig.user.slug,gig)%>
         </div>
         <br>
         <br>
         <div class="row">
            <div class="col-lg-12 gig_stars">
               <div  class="gig-rating"><%= image_tag('star-on.png') %><span><%= rating_for(gig.user, "Employee", number_only: true) %></span>(10)</div>
            </div>
         </div>
      </div>
      <!--  -->
      <hr>
      <!--  -->
      <div class="favourites_and_price">
         <div class="row">
            <div class="col-lg-4">
               <%= fa_icon("thumbs-up") %>
            </div>
            <div class="col-lg-8">
               <span>Desde</span><strong> <%= query_home_or_profile_helper(gig) %></strong>
            </div>
         </div>
      </div>
   </div>
</div>
