<div class="single-gig swiper-slide">
  <a href="<%= gig_path(city_slug(gig.city), gig) %>">
    <div class="page3single-slidersd">
      <div class="singleslidepd">
        <%= image_tag( image_display_helper( default_gig_img(gig.images), gig.youtube_url ) ) %>
        <%= "<p class='verified'>Verificado</p>".html_safe if gig.user.verified %>
      </div>
      <div class="gig-content">
        <div class="page3slides-contentrd">
          <h6 class="location truncate"><%= prof_or_loc gig%></h6>
          <h4 class="gig-title multi-line-truncate-3 min-height-66px"><%= gig.title %>
          </h4>
          <p class="gig-price truncate">Desde
            <%= query_home_or_profile_helper(gig) %>
            MXN
          </p>
        </div>
        <div class="div-space-between">
        <div class="page3slide-stard" style="padding-top: 5px;">
          <%= star_display_helper( gig.score_average ) %>
          <%= "<h6>(#{gig.score_times})</h6>".html_safe if gig.score_times > 0%>
        </div>
        <div class="hearted1 likes-<%= gig.slug %>">
          <%= render "gigs/likes", gig: gig %>
        </div>
        </div>
      </div>
    </div>
  </a>
</div>
