<p id="notice"><%= notice %></p>

<h1>Gigs</h1>

<div class="row">
  <% @gigs.each do |gig| %>
  <div class="col-sm-6">
    <%= gig.name %>
    <td><%= link_to 'Más', gig %></td>
    <td><%= link_to 'Editar', edit_gig_path(gig) %></td>
    <td><%= link_to 'Borrar', gig, method: :delete, data: { confirm: 'Estás seguro de querer borrar este trabajo?' } %></td>
  </div>

  <% end %>

</div>


<br>

<%= link_to 'Atrás', root_path %>
<%= link_to 'Nuevo trabajo', new_gig_path %>
