<div class="container">
  <div class="row">
    <div class="col-lg-7 details">
      <div class="gig_header">
        <%= render "shared_user/gigs/show/overview" %>
        <%= render "shared_user/gigs/show/slider" %>
      </div>
      <%= render "shared_user/gigs/show/gig_info" %>
    </div>
    <div class="col-lg-5">
      <div class="packages_of_gig">
        <div class="tab">
          <%= render "shared_user/gigs/show/package_label" %>
        </div>
        <%= render @gig.gig_packages %>
      </div>
      <%= render "shared_user/gigs/show/user_about" %>
      <%= render "shared_user/gigs/show/reviews" %>
    </div>
  </div>
</div>
<%= render 'reports/gig', collection: @gig %>
