<%= link_to 'Atrás', root_path %>

<div class="card col-md-8">
  <div class="card-header">
    <%=@gig.category.name%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%=@gig.name%></h5>
    <p class="card-subtitle mb-2 text-muted"><%=@gig.user.alias if @gig.user_id != current_user.id%></p>
    <small class="text-muted"><%=@gig.location%></small>
    <%= image_tag image_display_helper(@gig.image_url),  class: "card-img-top" %>
    <p class="card-text"><%=@gig.description.html_safe%></p>
    <div class="btn-group">
      <%= link_to status_text_helper(@gig), toggle_status_user_gig_path(current_user.slug,@gig), class: "btn btn-sm btn-outline-secondary" unless @gig.banned? || current_user.id != @gig.user_id || @gig.gig_packages.none? %>
      <%= link_to "Editar", edit_user_gig_path(current_user.slug,@gig), class: "btn btn-sm btn-outline-secondary" if @gig.user_id == current_user.id %>
      <%= link_to "Borrar", user_gig_path(current_user.slug,@gig), method: :delete,
       data: { confirm: '¿Estás seguro de querer borrar este trabajo?' },
        class: "btn btn-sm btn-outline-secondary" if @gig.user_id == current_user.id  %>
    </div>
  </div>
</div>
<%= render @gig.gig_packages %>
