<div class="catagorislide-area innerpages3-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-7">
        <div class="innerpage-leftside">
        <%= render 'shared/gigs/show/gig_info' %>
        <%= render 'shared/gigs/show/package_info', device: "phone-tablet" %>
        <%= render 'shared/gigs/show/reviews' %>
        </div>
      </div>
      <div class="col-lg-4 col-md-5">
        <!-- only in computer -->
        <%= render 'shared/gigs/show/package_info', device: "computer" %>
        <%= render 'shared/gigs/show/user_card_info' %>
      </div>
    </div>
  </div>
  <%= render('shared/gigs/carousel', title: "Jales Relacionados", gigs: @related_gigs, param_name: :related_gigs) if @related_gigs.present? %>
</div>
<%= render 'reports/gig', collection: @gig %>
