<%= render 'shared/gigs/show/details_hints' if current_user && current_user.active? && (@gig.gig_packages.none? || @gig.draft?) && request.original_url != request.referrer %>
<%= render 'shared/gigs/show/remember_review' if @remember_review && request.original_url != request.referrer  %>
<%# if request.original_url != request.referrer means that user comes from other page, if that were same, then he updated gig status, then i dont need to display messages  %>
<div class="row">
  <div class="col-lg-9">
    <%= render 'shared/gigs/show/gig_info2' %>
    <%= render 'shared/gigs/show/reviews2' %>
</div><!-- col -->
<div class="col-lg-3 mg-t-40 mg-lg-t-0" gig_card_info>
  <% @show_packages = true %>
  <%= render 'shared/gigs/show/packages_info' %>
  <%= render 'shared/gigs/show/user_about2' %>
  <%= render "shared/gigs/show/rate_gig" if current_user != @gig.user && @my_reviews.empty? %>
  </div>
</div>
<div class="row row-xs">
  <%= render 'shared/gigs/show/suggestions' if @related_gigs.any? && @gig.published?%>
</div>
<%= render 'reports/report', object: @gig %>
<%= render 'reviews/edit' %>
<%# render 'reports/review' %>
