<section class="section Explore container-fluid text-center  ">
   <div class="row">
      <div class="col-lg-12">
         <div class="container">
            <h2>Explore The Marketplace  </h2>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/1.jpg") %>
                     <hr class="line_green">
                     <h3>Graphics &amp; Design</h3>
                     <p>Logo Design, Business Cards,<br>Illustration &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/2.jpg") %>
                     <hr class="line_green">
                     <h3>Digital Marketing</h3>
                     <p>Social Media, SEO,<br>Content Marketing &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/3.jpg") %>
                     <hr class="line_green">
                     <h3>Writing & Translation</h3>
                     <p>Resumes, Proofreading,<br>Translations &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/4.jpg") %>
                     <hr class="line_green">
                     <h3>Video & Animation</h3>
                     <p>Whiteboard, Animated Logos,<br>Brand Videos &amp; lots more</p>
                  </a>
               </li>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="container">
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/5.jpg") %>
                     <hr class="line_green">
                     <h3>Music & Audio</h3>
                     <p>Voice Over, Mixing, Producers,<br>Composers &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/6.jpg") %>
                     <hr class="line_green">
                     <h3>Programming & Tech</h3>
                     <p>Wordpress, Chatbots,<br>Programming &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/7.jpg") %>
                     <hr class="line_green">
                     <h3>Business</h3>
                     <p>Virtual Assistant, Market Research,<br>Business Plans &amp; lots more</p>
                  </a>
               </li>
            </div>
            <!--  -->
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
               <li class="categories " >
                  <a href="#">
                     <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/8.jpg") %>
                     <hr class="line_green">
                     <h3>Fun & Lifestyle</h3>
                     <p>Online Lessons, Crafts,<br>Relationship Advice &amp; lots more</p>
                  </a>
               </li>
            </div>
         </div>
      </div>
   </div>
</section>
