<div id="the_footer">
  <div class="footerdarea">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="footerd-logo">
            <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/favicon.png', lazy: true), root_path %>
            <p>®2019</p>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footerd-listt">
            <h4>Clientes</h4>
            <ul>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Expertos</a></li>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Buscadores</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="footerd-listt">
            <h4>Compañía</h4>
            <ul>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Sobre nosotros</a></li>
              <li><a href="#" id="contactbtn">Contacto</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footerd-listt">
            <h4>Más información</h4>
            <ul>
              <li><%= link_to "Términos y Condiciones", terminos_y_condiciones_path, target: "_blank" %> </li>
              <li><%= link_to "Aviso de Privacidad", aviso_de_privacidad_path, target: "_blank" %> </li>
              <li><%= link_to "Condiciones de Venta", condiciones_de_venta_path, target: "_blank"  %> </li>
              <li><%= link_to "Reglas Prestador Empleador", reglas_prestador_empleador_path, target: "_blank" %> </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="footerd-listt">
            <h4>Síguenos</h4>
            <div class="footerd-social">
              <%= link_to icon("fab", "facebook-f"), "https://www.facebook.com/Jalecitos/", target: "_blank" %>
              <%= link_to icon("fab", "linkedin-in"), "https://www.linkedin.com/company/jalecitos/about/", target: "_blank" %>
              <%# link_to icon("fab", "twitter"), "#" %>
              <%= link_to icon("fab", "instagram"), "https://www.instagram.com/jalecitos/", target: "_blank" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="footerd2area">
    <div class="container">
      <div class="row">
        <div class="footerd2social">
          <div class="footerd2fk">
            <%= link_to icon("fab", "facebook-f"), "https://www.facebook.com/Jalecitos/", target: "_blank" %>
            <%= link_to icon("fab", "linkedin-in"), "https://www.linkedin.com/company/jalecitos/about/", target: "_blank" %>
            <%# link_to icon("fab", "twitter"), "#" %>
            <%= link_to icon("fab", "instagram"), "https://www.instagram.com/jalecitos/", target: "_blank" %>
          </div>
        </div>
      </div>
      <div class="row footer-info">
        <div class="col-md-4 col-3">
          <div class="singlefooterdn">
            <h4>Clientes</h4>
            <ul>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Expertos</a></li>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Buscadores</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-4">
          <div class="singlefooterdn">
            <h4>Compañía</h4>
            <ul>
              <li><a href="https://blog.jalecitos.com/" target="_blank">Sobre nosotros</a></li>
              <li><a href="" id="contact2btn">Contacto</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-5">
          <div class="singlefooterdn">
            <h4> Más información</h4>
            <ul>
              <li><%= link_to "Términos y Condiciones", terminos_y_condiciones_path, target: "_blank" %></li>
              <li><%= link_to "Aviso de Privacidad", aviso_de_privacidad_path, target: "_blank" %></li>
              <li><%= link_to "Condiciones de Venta", condiciones_de_venta_path, target: "_blank"  %></li>
              <li><%= link_to "Reglas Prestador Empleador", reglas_prestador_empleador_path, target: "_blank" %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
