<div class="footerdarea">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="footerd-logo">
          <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/favicon.png'), root_path %>
          <p>®2019</p>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footerd-listt">
          <p>Clientes</p>
          <ul>
            <li><a href="">Expertos</a></li>
            <li><a href="">Buscadores</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footerd-listt">
          <p>Compañía</p>
          <ul>
            <li><a href="">Sobre nosotros</a></li>
            <li><a href="">Bolsa de trabajo</a></li>
            <li><a href="">Contacto</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footerd-listt">
          <p>Más información</p>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="footerd-listt">
          <p>Síguenos</p>
          <div class="footerd-social">
            <%= link_to icon("fab", "facebook-f"), "#" %>
            <%= link_to icon("fab", "linkedin-in"), "#" %>
            <%= link_to icon("fab", "twitter"), "#" %>
            <%= link_to icon("fab", "instagram"), "#" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="footerd2area">
  <div class="container">
      <div class="row">
        <div class="footerd2social">
          <div class="footerd2fk">
            <%= link_to icon("fab", "facebook-f"), "#" %>
            <%= link_to icon("fab", "linkedin-in"), "#" %>
            <%= link_to image_tag('https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/favicon.png'), root_path %>
            <%= link_to icon("fab", "twitter"), "#" %>
            <%= link_to icon("fab", "instagram"), "#" %>
          </div>
        </div>
      </div>
    <div class="row">
      <div class="col-md-4 col-3">
        <div class="singlefooterdn">
          <p>Clientes</p>
          <ul>
            <li><a href="">Expertos</a></li>
            <li><a href="">Buscadores</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-4">
        <div class="singlefooterdn">
          <p>Compañía</p>
          <ul>
            <li><a href="">Sobre nosotros </a></li>
            <li><a href="">Bolsa de trabajo</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-5">
        <div class="singlefooterdn">
          <p> Más información</p>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
