<!-- main slider -->

<div class="slider main_banner">
    <div class="contnt">
      <h1>Don't Just Dream, Do        </h1>
      <p>Freelance services. On demand.            </p>

      <div class="search_banner">

          <input class="js-search-input js-report-to-aux-data" name="query" placeholder="What service are you looking for?" type="text" autocomplete="off">
          <input type="submit" class="btn-lrg-standard btn-submit js-search-submit" value="Search">

      </div>
    </div>
    <div class="slide1"></div>
    <div class="slide2"></div>
    <div class="slide3"></div>
    <div class="slide4"></div>
    <div class="slide5"></div>
  </div>


<!-- --  - - - --  - - -   - - - - - -        --  - - - --  - - -   - - - - - -        main slider -->

<section class="section Explore container-fluid text-center  ">
<div class="row">

<div class="col-lg-12">
<div class="container">
<h2>Explore The Marketplace  </h2>
<p>Get inspired to build your business</p>
</div>
</div>
</div>

<div class="row">

<div class="container">

    <div class="row">
<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/1.jpg") %>
<hr class="line_green">
        <h3>Graphics &amp; Design</h3>
        <p>Logo Design, Business Cards,<br>Illustration &amp; lots more</p>
    </a>
</li>

</div>
<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/2.jpg") %>
<hr class="line_green">
        <h3>Digital Marketing</h3>
        <p>Social Media, SEO,<br>Content Marketing &amp; lots more</p>
    </a>
</li>

</div>

<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/3.jpg") %>
<hr class="line_green">
        <h3>Writing & Translation</h3>
        <p>Resumes, Proofreading,<br>Translations &amp; lots more</p>
    </a>
</li>

</div>

<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/4.jpg") %>
<hr class="line_green">
        <h3>Video & Animation</h3>
        <p>Whiteboard, Animated Logos,<br>Brand Videos &amp; lots more</p>
    </a>
</li>

</div>

</div>

</div>
</div>

<div class="row">

<div class="container">

    <div class="row">
<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/5.jpg") %>
<hr class="line_green">
        <h3>Music & Audio</h3>
        <p>Voice Over, Mixing, Producers,<br>Composers &amp; lots more</p>
    </a>
</li>

</div>
<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/6.jpg") %>
<hr class="line_green">
        <h3>Programming & Tech</h3>
        <p>Wordpress, Chatbots,<br>Programming &amp; lots more</p>
    </a>
</li>

</div>

<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/7.jpg") %>
<hr class="line_green">
        <h3>Business</h3>
        <p>Virtual Assistant, Market Research,<br>Business Plans &amp; lots more</p>
    </a>
</li>

</div>

<!--  -->

<div class="col-lg-3 col-md-6 col-sm-6 col-6">

<li class="categories " >
    <a href="#">
      <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/8.jpg") %>
<hr class="line_green">
        <h3>Fun & Lifestyle</h3>
        <p>Online Lessons, Crafts,<br>Relationship Advice &amp; lots more</p>
    </a>
</li>

</div>

</div>

</div>
</div>



</section>


<!-- --  - - ---  - - - --  - - -   - - - - - -        Top quality -->

<section class=" TopQuality container-fluid  text-white ">
<div class="row">

<div class="container">
<div class="row in_row">
<div class="col-lg-6 col-md-6">
    <div class="gap"></div>
    <div class="gap"></div>
<h2>Top Quality, Hand-Picked <br>Professionals</h2>
<p>Jalecitos Pro. Trusted by leading brands.

</p>
<a href="#" class="green_btn">Explore Pro</a>
<div class="gap"></div>
<div class="gap"></div>
</div>


<div class="col-lg-6 col-md-6">
<%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Top-Quality.jpg", style: "width=100%;") %>

</div>
</div>
</div>
</section>



<!-- --  - - - --  - - -   - - - - - -        take first -->

<section class="section Take_step container-fluid text-center  ">
<div class="row">

  <div class="col-lg-12">
    <div class="container">
<h2>Take The First Step </h2>
    <p>Whatever your goal, here are a few places to get started</p>
  </div>
  </div>
</div>


<div class="center slider container">
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Build Your Brand</small><br>
              Logo Design
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/logo_design.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
  <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Customize Your Site</small><br>
              Wordpress
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/wp.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
   <!--  -->
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Share Your Message</small><br>
              Voice Over
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/voice.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
   <!--  -->
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Engage Your Audience</small><br>
              Whiteboard
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/white_borad.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
   <!--  -->
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Reach More Customers</small><br>
              Social Media
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/socialMedia.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
   <!--  -->
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Unlock Growth Online</small><br>
              SEO
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/seo.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->
   <!--  -->
   <!--  -->
   <div>
      <a href="">
    <div class="focussed">
      <div class="captn">
          <h4>
              <small>Show Your Best Self</small><br>
              Resumes
          </h4>

      </div>
  <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/resume.jpg") %>
  </div>
  </a>
  </div>
  <!--  -->

</section>
<!--  -->


<!-- Your Terms -->

<section class="section text-center Your_Terms container-fluid  text-white ">
<div class="row">

<div class="container">
<div class="row in_row">
<div class="col-lg-4">
<h3>Your <b>Terms</b></h3>
<p>Whatever you need to simplify your to do list,<br> no matter your budget.   </p>

</div>


<div class="col-lg-4">
<h3>Your <b>Timeline</b></h3>
<p>Find services based on your goals and deadlines, it’s that simple.</p>

</div>

<div class="col-lg-4">
<h3>Your <b>Safety</b></h3>
<p>Your payment is always secure, Jalecitos is built to protect your peace of mind.</p>
</div>
</div>
</div>
</section>
<!--  -->


<!--  - - - --  - - -   - - - - - -         YOur_brand slider -->
<div class="section container-fluid YOur_brand ">


<div class=" container YOur_brand_container">

<section class="regular slider self_drug slider_self brand">
<!-- row -->
<div class="row ">

<!--  -->
<div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">
<figcaption>
    <h3>Your Brand Matters</h3>
    <blockquote>I've used Jalecitos for logos, websites,<br> everything.
I still use it every week</blockquote>
    <p>Boice-Terrel Allen, Podcaster, Talk Music Talk</p>
</figcaption>

</div>

<div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
<%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/your_brand.jpg") %>

     </div>


</div>
<!--  -->
<!--  -->
<div class="row ">

<div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">
<figcaption>
    <h3>Simplify Your Needs</h3>
    <blockquote>The work is so professional,
it's <span class="desktop-br"></span>really amazing.</blockquote>
    <p>Irina Lebedeva, Website Developer</p>
</figcaption>
</div>

<div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
<%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/simiplify.jpg") %>

</div>


</div>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<div class="row ">

<!--  -->
<div class="col-lg-6 col-md-12 col-sm-12 col-12 right_slider_col">


<figcaption>
    <h3>Time Is Money</h3>
    <blockquote>It took a lot of stress off of me. It
allowed me to focus on my business</blockquote>
    <p>Robin DeMarco, Founder, Coached by Robin</p>
</figcaption>

</div>


<div class="col-lg-6 col-md-12 col-sm-12 col-12 left_slider_col">
<%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/time_is_money.jpg") %>

  </div>

</div>
<!--  -->
<!--  -->

</section>
</div>
</div>

<!----  - - - --  - - -   - - - - - -         slider end -->

<!--  -->


<!--  - - - --  - - -   - - - - - -        Jalecitos Guides -->
<div class="section  Jalecitos_Guides ">

<div class="container">

<div class="row text-center">
    <div class="col-lg-12">
<h2>Jalecitos Guides</h2>
<p>How to use Jalecitos to build and grow your business</p>
<div class="gap"></div>
</div>
</div>


<div class=" row ">

<!--  -->
<div class="col-lg-4 col-md-4 Jalecitos_Guides_boxes">

<a href="">
<%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/create_websote.jpg") %>
<h3>Create A Website</h3>
<p>Building a stunning website from A to Z</p>
</a>
</div>
<!--  -->



<!--  -->
<div class="col-lg-4 col-md-4  Jalecitos_Guides_boxes">

    <a href="">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/grow_with_digital.jpg") %>
        <h3>Grow with digital marketing</h3>
        <p>Promoting your business online</p>
    </a>
    </div>
    <!--  -->



<!--  -->
<div class="col-lg-4  col-md-4 Jalecitos_Guides_boxes">

    <a href="">
        <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/create_websote.jpg") %>
        <h3>Build a Strong Brand</h3>
        <p>Differentiating yourself from the competition</p>
    </a>
    </div>
    <!--  -->
</div>

<div class="row text-center">

    <div class="col-lg-12">
            <div class="gap"></div>
            <div class="gap"></div>
            <a href="#" class="green_btn ">See More Guides</a>
            <div class="gap"></div>
    </div>
</div>

</div>
</div>
<!--  -->
