<% if @gig.present? && current_page?( the_gig_path(@gig) ) %>
    <title><%= (@gig.seo_title.present?)? @gig.seo_title : "#{@gig.profession } en #{ seo_location(@gig) } para #{ @gig.name}" %></title>
    <meta name='description' content='<%=(@gig.seo_description.present?)? @gig.seo_description : "#{@gig.profession}en #{seo_location(@gig)}para #{@gig.name}. Contrata hoy expertos en #{@gig.category.name}en Jalecitos."%>'>
    <meta name='keywords' content='<%="#{@gig.location},#{@gig.profession},#{@gig.tags_content.join(',')},#{@gig.seo_keywords}"%>'>
    <meta name='category' content='<%=@gig.category.name%>'>
    <meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
<% elsif @request.present? && current_page?( request_path(@request) ) %>
    <title>Trabajo de <%= @request.profession %> en <%= seo_location(@request) %> | Encontrar trabajo de <%= @request.profession %> por internet.</title>
    <meta name='description' content='Se solicita <%=@request.profession%> en <%=@request.location%> para <%=@request.name%>. Regístrate hoy en Jalecitos para encontrar trabajo.'>
    <meta name='keywords' content='<%=@request.location%>,<%=@request.profession%>,<%=@request.tag_list.join(',')%>'>
    <meta name='category' content='<%=@request.category.name%>'>
    <meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
<% elsif current_page?( search_path ) && params[:city] && params[:state] && params[:query] %>
    <title><%=params[:query]%> en <%=params[:city]%>, <%=params[:state]%></title>
    <meta name='description' content='Encuenta el mejor <%=params[:query]%> en <%=params[:city]%>, <%=params[:state]%>'>
    <meta name='keywords' content='contratar, <%= params[:query]%>, <%= params[:city] %>, empleo, freelancer'>
    <meta name='category' content='Trabajo, Empleo, Freelancer'>
    <meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
<% elsif current_page?( search_path ) && params[:query] %>
    <title>Encuentra las mejores oportunidades de trabajo o Expertos para contratar  en línea utilizando Jalecitos</title>
    <meta name='description' content='Necesitas trabajo o encontrar a un experto para alguna necesidad? Utiliza Jalecitos para encontrar empleo o expertos.'>
    <meta name='keywords' content='encontrar, trabajo, empleos, expertos, internet, freeelancer'>
    <meta name='category' content='Trabajo, Empleo'>
    <meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
<% else %>
    <title>Wand | Ofrece tus servicios por internet</title>
    <meta name='description' content='Ofrece los servicios de tu negocio en la mejor herramienta de marketing digital en México totalmente gratis'>
    <meta name='keywords' content='marketing digital, ofrecer servicios por internet, sección amarilla, ofrecer servicios, negocio en línea, Freelancer, Freelance Mexico, Contratar expertos de confianza, contratar expertos por internet, contratar expertos México, contratar talento por internet'>
    <meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
<% end %>
