<% if @gig.present? && current_page?( the_gig_path(@gig) ) %>
    <title><%= (@gig.seo_title.present?)? @gig.seo_title : "#{@gig.profession } en #{ seo_location(@gig) } para #{ @gig.name}" %></title>
    <meta name='description' content='<%=(@gig.seo_description.present?)? @gig.seo_description : "#{@gig.profession}en #{seo_location(@gig)}para #{@gig.name}. Contrata hoy expertos en #{@gig.category.name}en Wand."%>'>
    <meta name='keywords' content='<%="#{@gig.location},#{@gig.profession},#{@gig.tags_content.join(',')},#{@gig.seo_keywords}"%>'>
    <meta name='category' content='<%=@gig.category.name%>'>
<% elsif @request.present? && current_page?( request_path(@request) ) %>
    <title>Trabajo de <%= @request.profession %> en <%= seo_location(@request) %> | Encontrar trabajo de <%= @request.profession %> por internet.</title>
    <meta name='description' content='Se solicita <%=@request.profession%> en <%=@request.location%> para <%=@request.name%>. Regístrate hoy en Wand para encontrar trabajo.'>
    <meta name='keywords' content='<%=@request.location%>,<%=@request.profession%>,<%=@request.tag_list.join(',')%>'>
    <meta name='category' content='<%=@request.category.name%>'>
<% elsif current_page?( search_path ) && params[:address_seo].present?  %>
    <title><%=params[:query]%> en <%=params[:address_seo]%></title>
    <meta name='description' content='Encuenta el mejor <%=params[:query]%> en <%=params[:address_seo]%>'>
    <meta name='keywords' content='contratar, <%= params[:query]%>, <%=params[:address_seo]%>, empleo, freelancer'>
    <meta name='category' content='Trabajo, Empleo, Freelancer'>
<% elsif current_page?( search_path ) && params[:category_id].present?  %>
    <% cat = Category.find(params[:category_id]) %>
    <title><%= cat.seo_title.present?? cat.seo_title : cat.name %></title>
    <meta name='description' content='<%=cat.seo_description%>'>
    <meta name='keywords' content='contratar, <%= cat.seo_keywords%>, empleo, freelancer'>
    <meta name='category' content='Trabajo, Empleo, Freelancer, <%= cat.name %>, <%= cat.seo_title %>'>
<% else %>
    <title>Wand | Ofrece tus servicios por internet</title>
    <meta name='description' content='Ofrece los servicios de tu negocio en la mejor herramienta de marketing digital en México totalmente gratis'>
    <meta name='keywords' content='marketing digital, ofrecer servicios por internet, sección amarilla, ofrecer servicios, negocio en línea, Freelancer, Freelance Mexico, Contratar expertos de confianza, contratar expertos por internet, contratar expertos México, contratar talento por internet'>
<% end %>
<meta property='og:image' content='https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png'>
