<section class="section Take_step container-fluid text-center  ">
   <div class="row">
      <div class="col-lg-12">
         <div class="container">
            <h2>Take The First Step </h2>
            <p>Whatever your goal, here are a few places to get started</p>
         </div>
      </div>
   </div>
   <div class="center slider container">
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Build Your Brand</small><br>
                  Logo Design
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/logo_design.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Customize Your Site</small><br>
                  Wordpress
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/wp.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Share Your Message</small><br>
                  Voice Over
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/voice.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Engage Your Audience</small><br>
                  Whiteboard
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/white_borad.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Reach More Customers</small><br>
                  Social Media
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/socialMedia.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Unlock Growth Online</small><br>
                  SEO
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/seo.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
   <!--  -->
   <!--  -->
   <div>
      <a>
         <div class="focussed">
            <div class="captn">
               <h4>
                  <small>Show Your Best Self</small><br>
                  Resumes
               </h4>
            </div>
            <%= image_tag("https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/resume.jpg") %>
         </div>
      </a>
   </div>
   <!--  -->
</section>
