<div class="modal fade" id="editreviewModal" tabindex="-1" role="dialog" aria-labelledby="editreviewModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with(model: Review, url: "", method: :put, :html => { id: "editReviewForm" }, remote: true) do |f| %>
        <div class="modal-body">
          <h4>Edita tu reseña</h4>
            <%= f.fields_for :rating_attributes do |r| %>
            <%= render partial: "shared/rating_input", locals: {f: r, id_for_label: 1} %>
            <% end %>
          <div class="form-group">
            <label for="review-comment-edit" class="d-block">Comentarios</label>
            <%= f.text_area :comment, placeholder: "(Opcional) Comentarios", autocomplete: "off", :rows => 5, maxlength:2000, class: "form-control", id: "review-comment-edit" %>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="cancel" data-dismiss="modal">Cancelar</button>
          <%= f.submit 'Actualizar', :class => 'btn btn-primary', data: {disable_with: "Editando..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
