<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <%= form_with model: Report, url: report_url(object), class: "reportForm", remote: true do |f| %>
        <div class="modal-body">
          <h4>Reportar <%= reportable_type(object) %></h4>
          <div class="form-group">
            <%= f.select :cause, report_options, {include_blank: "Causa del reporte"}, class: "custom-select required" %>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2" class="d-block">Comentarios</label>
            <%= f.text_area :comment, placeholder: "Nos interesa saber más. Por favor, menciona por qué esta publicación no es adecuada",
             autocomplete: "off", class: "form-control", rows: "2"%>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="cancel" data-dismiss="modal">Cerrar</button>
          <%= f.submit 'Enviar Reporte', :class => 'btn btn-primary', data: {disable_with: "Reportando..." } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
