<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon' %>
    <%= stylesheet_link_tag  'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalecitos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">

  </head>

  <body>
    <%= notification_helper %>
    <!-- Navigation -->
    <div class="wrapper">

      <%= render 'shared_admin/sidebar' %>

      <div id="content">
        <%= render 'shared_admin/sidebar_button' %>
        <%= yield %>

      </div>

    </div>
  </body>
</html>
