<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="utf-8">
    <script defer="defer" src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script defer="defer" src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <!-- <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.26.0/feather.min.js"></script>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'lazy_load', 'data-turbolinks-track': 'reload'%>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wand</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render "shared/menu/navbar" %>
    <%= notification_helper %>
    <!-- Navigation -->
    <div class="content content-fixed">
      <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
