<!DOCTYPE html>
<html lang="en">

  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%= stylesheet_link_tag  'gig', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'gig', 'data-turbolinks-track': 'reload' %>
  <%= back_no_cache_helper %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jalecitos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">

  </head>

  <body>
    <%= notification_helper %>
    <!-- Navigation -->

   <%= render 'shared/main_nav_bar' %>
    <%= yield %>
  </body>
<%= google_scripts_helper %>
<%= javascript_include_tag 'tag' %>
<%= render 'shared/main_footer' %>
</html>
