<!DOCTYPE html>
<html lang="es">

  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'guest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Card Anti Fraud System -->
    <!-- <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script> <script type="text/javascript" src="https://resources.openpay.mx/lib/openpay-data.v1.min.js"></script> -->
    <%= javascript_include_tag 'guest', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Jalecitos</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
  </head>

  <body id="page-top">
    <%= notification_helper %>
    <%= render 'shared/main_nav_bar' %>
    <%= yield %>
    <%= render 'shared_guest/log/sessions'%>
    <%= render 'shared/main_footer' %>
  </body>
</html>
