<!DOCTYPE html>
<html lang="es">

  <head>
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag image_path 'favicon.ico' %>
    <%= stylesheet_link_tag 'guest', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Card Anti Fraud System -->
    <!-- <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script> <script type="text/javascript" src="https://resources.openpay.mx/lib/openpay-data.v1.min.js"></script> -->
    <%= javascript_include_tag 'guest', 'data-turbolinks-track': 'reload' %>

    <!-- For PWA -->
   <link rel="manifest" href="/manifest.json" />
   <meta name="apple-mobile-web-app-capable" content="yes">
   <!--  -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover, maximum-scale=1,user-scalable=0">
    <meta name="theme-color" content="#2B8261" />
    <%= meta_tags %>
    <%= ios_pwa_tags %>
  </head>

  <body id="page-top">
    <%= google_tag_manager %>
    <%=hidden_field_tag :new_message, (flash.any?)? "true" : "false" %><%# useful for gritter behaviour (dont display notifications of cache) %>
    <%= render 'shared/menu/main_nav_bar' %>
    <div class="main_container">
      <%= notification_helper %>
      <% if  ! (current_page?(root_path) || current_page?(new_user_session_path)) || params[:query] %>
        <div class="gap"></div>
      <% end  %>
      <%= yield %>
      <%= render 'shared_guest/log/sessions'%>
    </div>
    <%= render 'shared_guest/footer' %>
    <%= render 'pages/contact' %>
  </body>
</html>
