<!DOCTYPE html>
<html lang="es">

  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon' %>

    <%= stylesheet_link_tag 'logged', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <%= javascript_include_tag 'logged', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAP_API']}&libraries=places&callback=activatePlacesSearch", :defer => true, :async => true %>
    <%= javascript_include_tag 'google_turbolink', 'data-turbolinks-track': 'reload', :defer => true, :async => true %>

    <!-- For PWA -->
    <link rel="manifest" href="/manifest.json"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Jalecitos</title>
    <%= analytics_init if GoogleAnalytics.valid_tracker? %>

  </head>
  <div class="transparentoverlay"></div>


  <body id="page-top">
    <%= google_tag_manager %>
    <div class="main_container">
      <%= notification_helper %>
      <%= render 'shared/menu/main_nav_bar' %>
      <div class="gap"></div>
      <%= yield %>
      <% if params[:review] && @reviews.present? %>
        <%= render partial: 'reviews/review', collection: [@reviews.first]%>
      <% end %>
    </div>
    <%= render 'shared_user/menu/phone_bottom_menu' %>
    <div class="plusarea">
      <a href=""><i class="fa fa-plus"></i></a>
    </div>
    <%= render 'shared/main_footer' %>
  </body>

</html>
