<!DOCTYPE html>
<html lang="es">

  <head>
    <!-- Firebase -->
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <!-- End fiebase -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon' %>

    <%= stylesheet_link_tag 'logged', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script defer type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script defer type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <%= javascript_include_tag 'logged', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'google_turbolink', 'data-turbolinks-track': 'reload', :defer => true, :async => true %>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" > -->


    <!-- For PWA -->
    <link rel="manifest" href="/manifest.json"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#2B8261" />
    <title>Jalecitos</title>
    <%= ios_pwa_tags %>

  </head>
  <div class="transparentoverlay"></div>


  <body id="page-top">
    <%= google_tag_manager %>
    <div class="main_container">
      <%= notification_helper %>
      <%= render 'shared/menu/main_nav_bar' %>
      <div class="gap"></div>
      <%= yield %>
      <% if params[:review] && @reviews.present? %>
        <%= render partial: 'reviews/review', collection: [@reviews.first]%>
      <% end %>
    </div>
    <%= render 'shared_user/menu/phone_bottom_menu' %>
    <div class="plusarea">
      <a href="#" id="newelementbtndesktop"><i class="fa fa-plus"></i></a>
    </div>
    <%= render 'shared_user/new_element_modal' %>
  </body>

</html>
