<!DOCTYPE html>
<html lang="es">

  <head>
    <!-- Firebase -->
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script defer src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <!-- End fiebase -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag image_path 'favicon.ico' %>
    <%= stylesheet_link_tag 'logged', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- <script defer type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script> -->
    <!-- <script defer type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script> -->
    <%= javascript_include_tag 'logged', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'google_turbolink', 'data-turbolinks-track': 'reload', :defer => true, :async => true %>
    <%= javascript_include_tag 'lazy_load', 'data-turbolinks-track': 'reload'%>

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" > -->


    <!-- For PWA -->
    <link rel="manifest" href="/manifest.json"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, viewport-fit=cover">
    <!-- <meta name="viewport" content="initial-scale=1, viewport-fit=cover, height="device-height", user-scalable=0"> -->
    <meta name="theme-color" content="#2B8261" />
    <title>Jalecitos</title>
    <%= ios_pwa_tags %>

  </head>
  <body id="page-top">
    <%= google_tag_manager %>
    <%=hidden_field_tag :new_message, (flash.any?)? "true" : "false" %><%# useful for gritter behaviour (dont display notifications of cache) %>
    <%= render 'shared/menu/main_nav_bar' %>
    <%= render "shared/transition/transition-icon" %>
    <div class="main_container">
      <!-- Remove at some point no hire -->
      <%= render 'shared_user/users/phone_available' if current_user.phone_number.nil? && current_page?(root_path) %>

      <%= notification_helper %>
      <div class="gap"></div>
      <%= banned_notification %>
      <%= yield %>
      <% if @p_review.present? %>
        <%= render partial: 'reviews/review', collection: [@p_review]%>
      <% end %>
    </div>
    <div class="plusarea">
      <a href="#" id="newelementbtndesktop"><i class="fa fa-plus"></i></a>
    </div>
    <%= render 'shared_user/new_element_modal' %>
    <%= render 'shared_user/menu/phone_bottom_menu' %>
  </body>

</html>
