<!DOCTYPE html>
<html lang="es">

  <head>
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase-messaging.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon' %>
    <%= stylesheet_link_tag 'mobile', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Card Anti Fraud System -->
    <!-- <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script> <script type="text/javascript" src="https://resources.openpay.mx/lib/openpay-data.v1.min.js"></script> -->
    <%= javascript_include_tag 'guest', 'data-turbolinks-track': 'reload' %>

    <!-- For PWA -->
   <link rel="manifest" href="/manifest.json" />
   <meta name="apple-mobile-web-app-capable" content="yes">
   <!--  -->
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover, maximum-scale=1,user-scalable=0">
    <%= meta_tags %>
    <%= google_tag_manager %>
  </head>

  <body id="page-top">
      <%= notification_helper %>
      <%= yield %>
  </body>
</html>
