<div class="modal-dialog-centered">
    <div class="modal-mobile">
      <div class="modal-body">
         <div class="sign-up">
             <div class="modal-logo">
                 <img src="https://s3.us-east-2.amazonaws.com/cdn.jalecitos.com/images/Logo+PNG.png" alt="">
             </div>
             <div class="sign-up-form">
                 <div class="nueva">
                     <h3>Crea una nueva cuenta</h3>
                     <%= button_to user_google_oauth2_omniauth_authorize_path(lat:"latitude", lon:"longitude"), form_class: 'google-login', :data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Entrando..." } do %>
                      <%= icon("fab", "google") + " Google" %>
                     <% end %>
                     <%= button_to user_facebook_omniauth_authorize_path(lat:"latitude", lon:"longitude"), form_class: 'facebook-login', :data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Entrando..." } do %>
                     <%= icon("fab", "facebook-square") + " Facebook" %>
                     <% end %>
                 </div>
                 <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { class: "sign_up_form" }) do |f| %>
                   <%= render "users/shared/error_messages", resource: resource %>
                   <%= f.email_field :email, placeholder: "Correo", id: "user_email_new", required: true, class: "required", autocomplete: :off, autofocus: true, onfocus: "getLocation();" %>
                   <% if @minimum_password_length %>
                   <em>(<%= @minimum_password_length %> characters minimum)</em>
                   <% end %>
                   <%= f.password_field :password, placeholder: "Nueva contraseña", id: "user_password_new", required: true, class: "required", autocomplete: "new-password" %>
                   <%= f.password_field :password_confirmation, placeholder: "Confirmar contraseña", id: "user_password_conf_new", required: true, class: "required", autocomplete: "new-password" %>
                   <%= hidden_field_tag :sign_up_lat, value = '' %>
                   <%= hidden_field_tag :sign_up_lon, value = '' %>
                   <div class="row justify-content-center", style="margin-bottom:28px;">
                     <%= recaptcha_tags %>
                   </div>
                   <%= f.button 'Continuar', class: "default-btn signup-continue", :data => { :disable_with => "<i class='fa fa-spinner fa-spin'></i> Entrando..." } %>
                   <p class="una">¿Ya tienes una cuenta?  <%= link_to "Inicia sesión", params[:controller]== "mobiles"? mobile_sign_in_path : new_user_session_path %></p>
                 <% end %>
                 <p>Al continuar aceptas los <%= link_to "Terminos y Condiciones", terminos_y_condiciones_path, target: "_blank" %> así como el <%= link_to "Aviso de Privacidad", aviso_de_privacidad_path, target: "_blank" %></p>
                 <p style="color:var(--green);">¿No encuentras el mail? Revisa tu carpeta de spam</p>
                   <%= link_to "¿No recibiste las instrucciones de confirmación?", new_confirmation_path(resource_name) %> <br/>
             </div>
         </div>
      </div>
    </div>
  </div>
